[2022-02-16 12:55] wellvsilva commented on #135
Good morning, I want to make a tutorial showing the preparation of the
algorand development environment until the publication on Github. Showing
through a step-by-step how interesting it is to develop with
pyteal/Algorand.

Em qua., 16 de fev. de 2022 às 09:17, Michiel Mulders <
***@***.***> escreveu:

--
Wellington Viana da Silva
Analista de Tecnologia da Informação
Instituto Federal do Piaui - I

[2022-02-16 13:03] michielmulders commented on #135
@wellvsilva Can you explain a bit more what you want to write? What exactly will you cover in the preparation of dev environment and Github publication? We have multiple pieces + docs that describe how to get started with PyTeal development + sandbox setup. Not sure if we need another piece. Let me know!

[2022-02-17 15:09] michielmulders commented on #132
@ikalonji You didn't fill out the form: https://forms.gle/ZDCAiZC2vjNJHpp89
Can you please do this?

[2022-02-17 16:26] IKalonji commented on #132
Hi Michiel

Apologies I was rushing for the deadline. I have now completed the form.

Regards
Issa

On Thu, Feb 17, 2022 at 5:09 PM Michiel Mulders ***@***.***>
wrote:

[2022-02-17 22:35] michielmulders commented on #132
Thanks!

[2022-02-20 08:44] summermuse opened #137 "Manage the Korean Algorand Official Announcement Channels (Including Translation)"
## Overview

* **Short Description**: Manage the official Algorand Korean channels; translate and publish the English news and announcements in time.
* **Bounty**:  200 - 2000 Algos (Depending on the availability of the bounty taker and the number of the articles being translated)
* **Estimated Time Commitment**: 1 Month
* **Category**: Content
* **Experience Level**:  Intermediate / Advanced
* **

[2022-02-21 01:58] summermuse opened #138 "[Australia March Hackathon_Algorand Track] Build on Algorand and win Prizes!"
## Overview

* **Short Description**: The [Blockathon DAO](https://blockathon.xyz/) Australia will have online and offline components running its warm up engine from 1-17 March and both online and IRL in Sydney 18-20 March. Participants who choose the Algorand track will have a chance to win the prizes!
* **Bounty**: 1st Prize 2500 Algos; 2nd Prize 1500 Algos; 3rd Prize 1000 Algos (up to 3 winners

[2022-02-22 02:03] 33ik opened #139 "Issue Status: 1. Open 2. **Started** 3. Submitted 4. Done"
Hi How can I ask for the payment?  Could you tell me the payment process?
I have not received any bounty payment yet.

Issue Status: 1. Open 2. **Started** 3. Submitted 4. Done

<hr>

__Work for 757.0372 ALGO (1279.4 USD @ $1.69/ALGO) has been submitted by__:

<hr>

* Learn more [on the Gitcoin Issue Details page](https://gitcoin.co/issue/algorandfoundation/grow-algorand/119/100027036)
* Want to c

[2022-02-24 13:15] michielmulders commented on #135
@AlgoDoggo I've rejected by accident - pls reapply sorry!

However, can you verify if your tutorial will be different from this one? https://developer.algorand.org/tutorials/redux-example-connect-wallet-walletconnect/?from_query=redux I can't accept it if it covers most of the content described in this tutorial.

[2022-02-24 15:06] AlgoDoggo commented on #135
@michielmulders Yes it's different. I'm focusing on auth and using signed tx as bearer tokens. It's also the best tutorial on Wallet Connect you'll currently find online, it goes way beyond what's available in the docs.

The tutorial you've quoted has several issues, especially with Redux.

If you need my discord: AlgoDoggo#5774

[2022-02-24 18:53] michielmulders commented on #135
Cool perfect! And thanks for sharing, will contact you probably when you submit.

[2022-02-24 18:53] michielmulders commented on #135
@wellvsilva I'm sorry, we are not looking for very "beginner" type of content like intros to Algorand or Algo dev.

[2022-03-13 03:18] biomassives commented on #136
both of the submitted pull requests have broken links..  How does this work? Is there a cooperative nature to the use of gitcoin bounties here at Algorand Foundation.

[2022-03-14 11:10] michielmulders commented on #136
Which links are you referring to @biomassives ? You can find the bounties on Gitcoin https://gitcoin.co/algorandfoundation/bounties

[2022-03-14 20:13] pmartinez8241 commented on #136
@biomassives on the **submission procedure** it said "Submit your completed Github Repository to Gitcoin", but the other two users who submitted work submitted their Algorand Developer Portal Tutorial to gitcoin. The links they submitted will probably be broken until their Tutorials get through the Review phase.

[2022-03-16 07:57] michielmulders commented on #136
@pmartinez8241 Yes correct, you can submit the link to the unpublished tutorial (Algorand personnel can view this and review - we also track this internally)

[2022-03-17 06:15] NoelJacob opened #140 "Bounties open"
Why are the bounties still open on https://github.com/algorandfoundation/grow-algorand/issues?q=is%3Aissue+is%3Aopen+label%3AOpen if the date has been over? Shouldn't you close them if they can no longer win it?

[2022-03-24 14:17] summermuse opened #141 "Design Original Art Depicting 'Algorand Sri Lanka Community', issue as NFT on Algorand"
## Overview

* **Short Description**: This is a 1-month NFT design competition bounty for Algorand Sri Lanka Community from March 25th to April 25th. Design an original piece of digital art that depicts "Algorand Sri Lanka Community", issue it as an NFT on Algorand.
* **Bounty**: 150 ALGO tokens / winner (Up to 3 winners)
* **Estimated Time Commitment**: 1 day
* **Category**: Content
* **Experienc

[2022-03-24 14:36] summermuse opened #142 "Write A Blog Post About "Algorand & Enterprise Solutions" _ Sri Lanka Community"
## Overview

* **Short Description**: This is a 1-month writing competition bounty for Algorand Sri Lanka Community from March 25th to April 25th. Write a >1,000 word blog about the topic "Algorand & Enterprise Solutions".
* **Bounty**: 200 ALGO tokens / winner (Up to 3 winners)
* **Estimated Time Commitment**: 1 day
* **Category**: Content
* **Experience Level**:  Intermediate
* **Mode**: Competi

[2022-03-30 08:40] summermuse opened #143 "Create and Operate Algorand Japanese Discord channel | 日本語Discordチャネルの作成及び運営"
## Overview

* **Short Description**: Create and operate a Japanese discord channel about Algorand
* **Bounty**: 1000 ALGO
* **Estimated Time Commitment**: 3 Months (April 1st to June 30th)
* **Category**: Community / Content
* **Experience Level**: Intermediate / Advanced

## Description

### What is this task?
Manage daily communication in Discord Japan to keep the group active and positve.  Col

[2022-03-30 16:18] jasonboukheir commented on #52
Hi @Mine77 ,

There's been a recent update, and the asset is [on the Unity Asset Store](https://assetstore.unity.com/packages/tools/game-toolkits/algorand-sdk-206102). Could you please verify?

[2022-04-01 07:19] Oluwatunmise-olat commented on #82
Hi @michielmulders I have made my submission according to the guide line but currently waiting for the publication to be reviewed by the algorand developer portal.

Here is the link to the GitHub repo https://github.com/Oluwatunmise-olat/pyteal-milestone-dapp

[2022-04-01 08:52] Oluwatunmise-olat commented on #82
How can I get the Dev Rel to review submission?

[2022-04-01 15:21] michielmulders commented on #135
@antony-ss can you share your Discord handle or ping me on Discord? (`michiel#6116`)
In order to pay you out, you need to opt in to the USDC asset https://algoexplorer.io/asset/31566704
Thanks!

[2022-04-11 03:41] summermuse opened #144 "Algorand Community Events"
## Overview

* **Short Description**: Organize a community event for Algorand (online or offline)
* **Bounty**: 500 - 2000 USDCa
* **Estimated Time Commitment**: 1 Day
* **Category**: Community / Event
* **Experience Level**: Intermediate / Advanced

## Description

### What is this task?
Organize a community event for Algorand.

### What are the requirements for the bounty taker?
Bounty taker sho

[2022-04-13 08:50] michielmulders commented on #140
Removed the open labels, only the reach and pyteal bounties are still open now :)

[2022-04-13 08:50] #140 closed, assigned to nobody

[2022-04-13 14:58] michielmulders opened #145 "[500 A] descript (date)"
## test

test

###

[2022-04-16 12:41] docounle opened #146 "Design a Student Club Community NFT"
**Short Description:** This is a 1-month NFT design competition bounty for the blockchain student club community from April 20 to May 20, 2022. Design an original piece of digital art that depicts the "Blockchain Student Club Community", issue it as an NFT on Algorand. See **below** for **details** and **resources**.
* **Bounty:** 250 ALGO tokens / winner (Up to 3 winners)
* **Estimated Time Commi

[2022-04-22 04:23] Pfed-prog commented on #104
@michielmulders Hi Michiel, really great that an article got published https://developer.algorand.org/solutions/artificial-intelligence-on-algorand/. Had to completely rewrite two initial drafts. Would be great to make also an explanation on Pyteal contracts. A lot of time has definitely passed since the initial application, could you tell me whether i qualified for the payment.

[2022-04-26 12:10] bakytnur commented on #125
Accepted

[2022-04-27 20:42] #145 closed, assigned to nobody

[2022-04-27 20:48] michielmulders opened #147 "Code Solutions And Tutorials for the Algorand Developer Portal [+2500 ALGO For Winners] (29 April - 16 June)"
# Overview

_This bounty runs from **April 29, 2022 to June 16, 2022**_
_The Community Vote will begin on **June 30, 2022**_

* **Short Description**:  Publish code tutorials or solutions on the Algorand Developer Portal
* **Bounty**: 550 ALGO tokens (US residents will receive USDCa and have to opt-in to receive the asset in their wallet)
* **Category**: Developer (AlgoDev)

# What is this task?
C

[2022-04-28 09:21] michielmulders commented on #147
@pmartinez8241 Great!
@oluwatunmise-olat Happy with that!
Both, make sure to include explanations for all the steps you do and link resources that are helpful for understanding what's happening (like linking to reference docs that explain the boundaries of a certain parameter). Most likely, the developer reading this is new to Algorand smart contract development and is trying to learn more how it

[2022-04-30 08:14] verbiiyo commented on #136
is this still being reviewed? i would love to take over if not. if i understand correctly, the tutorial would have the following flow:

1. explain why running a node is important (probably link to the official explanations), and why using azure is a solid option for doing so
2. show how to run a node with various configurations as copy-paste-able + quick as possible

i'm not sure why a github repo

[2022-04-30 09:43] michielmulders commented on #136
We currently have plenty of tutorials covering this, there's a new content tutorial and also a new one for PyTeal will be posted on Monday @nollied Thanks for your interest!

[2022-04-30 09:43] #136 closed, assigned to nobody

[2022-05-02 10:34] #82 closed

[2022-05-02 10:38] michielmulders opened #148 "PyTeal Smart Contract Tutorials for the Algorand Developer Portal [750 - 1250 ALGO]"
# Overview

* **Short Description**:  Publish code tutorials on the Algorand Developer Portal that educate other developers on using [PyTeal](https://developer.algorand.org/docs/features/asc1/teal/pyteal/).
* **Bounty**: 750 - 1250 ALGO tokens (US residents will receive USDCa and have to opt-in to receive the asset in their wallet)
* **Category**: Developer (AlgoDev)

# What is this task?
**Before

[2022-05-02 10:40] #81 closed

[2022-05-02 10:40] michielmulders opened #149 "Reach Smart Contract Tutorials for the Algorand Developer Portal [750 - 1250 ALGO]"
# Overview

* **Short Description**:  Publish code tutorials on the Algorand Developer Portal that educate other developers on using [Reach](https://reach.sh/).
* **Bounty**: 750 - 1250 ALGO tokens (US residents will receive USDCa and have to opt-in to receive the asset in their wallet)
* **Category**: Developer (AlgoDev)

# What is this task?
**Before starting, please submit an outline to the [Gi

[2022-05-02 10:41] michielmulders opened #150 "Improve Algorand Code or SDK repositories with Significant PR [100 - 2000 ALGO]"
## Overview
* **Short Description**: Improve Algorand source code by providing features or bug fixes
* **Bounty**: 100 - 2000 ALGO tokens _(US residents will receive USDCa and have to opt-in to receive the asset in their wallet)_
* **Estimated Time Commitment**: variable
* **Category**: Developer (AlgoDev)
* **Experience Level**: Beginner / Intermediate / Advanced

## Description
### What is this

[2022-05-02 11:35] michielmulders opened #151 "Developer Tooling (award)"
This issue is intended to support developers who are building tools to support developers in building smart contracts. Including testing tooling, extensions, code analysis, learning platforms, or frameworks.

Please apply by replying to this thread.

[2022-05-02 16:37] Oluwatunmise-olat commented on #148
Goodday @michielmulders  I have made a publication. Awaiting review by Dev Rel team.

The GitHub repository link is: https://github.com/Oluwatunmise-olat/pyteal-contract-to-contract-call

[2022-05-03 15:58] ori-shem-tov opened #152 "Create a GitHub Pages website for the ARCs repository"
# Create a *GitHub Pages* website for the ARCs repository

## Overview

* **Short Description**: Create a *GitHub Pages* website for the ARCs repository
* **Bounty**: 300 ALGO tokens _(US residents will receive USDCa and have to opt-in to receive the asset in their wallet)_
* **Estimated Time Commitment**: 3 Days
* **Category**: Development

## Description

### What is this task?
This task require

[2022-05-05 14:23] summermuse opened #153 "Algorand Ecosystem & Community Building"
## Overview

* **Short Description**: We welcome active community members with proven resources to add vitality to the Algorand ecosystem & community. We'd like to establish a long-term cooperation with the active contributor and provide due support for mutual success.
* **Bounty**: 2100 ALGOs
* **Estimated Time Commitment**: 1 Month
* **Category**: Ecosystem
* **Experience Level**: Beginner
* **M

[2022-05-05 21:45] DamianB-BitFlipper commented on #151
Accepted to write a testing framework for Algorand smart contract testing.

[2022-05-05 23:47] iheanyi1 commented on #153
Hi @summermuse,

Can you clarify the target region on this bounty?

I am looking for a long relationship with algon.

Thanks

[2022-05-06 10:48] Laneinvestmentsco2021 opened #154 "Hashgraph Consensus Algorithm - Hedera"
"Hashgraph Consensus Algorithm - Hedera" https://docs.hedera.com/guides/core-concepts/hashgraph-consensus-algorithms

[2022-05-09 07:35] sisandla opened #155 "Tutoring Dapp"
@michielmulders, I would like to create a solution that allows tutors and students to engage on decentralized platform.

[2022-05-09 09:29] #155 closed, assigned to nobody

[2022-05-09 09:30] michielmulders commented on #155
@sisandla can you submit this idea on Gitcoin https://gitcoin.co/algorandfoundation/bounties Thanks!

[2022-05-09 09:44] sisandla commented on #155
I did submit. What I wasn't sure of was to carry on with the idea as I
needed approval or a go ahead from you.

On Mon, 09 May 2022, 11:29 Michiel Mulders, ***@***.***>
wrote:

[2022-05-09 09:48] michielmulders commented on #155
I see, can you explain a bit more what you have built? It's just a platform right? We are looking for devs to write tutorials about our smart contract code, not looking for a platform because we already drive such initiatives via other routes. So, it would be a decline if you really want to build a matching platform.

[2022-05-09 13:09] #154 closed, assigned to nobody

[2022-05-09 13:14] michielmulders opened #156 "Update Ecosystem SDKs to AVM v1.1"
# Overview

* **Short Description**:  Improve the Ecosystem SDKs' functionality to match the functionality of Algorand-maintained SDKs and add functionality to match AVM v1.1.
* **Bounty**: 650 - 2500 ALGO tokens (US residents will receive USDCa and have to opt-in to receive the asset in their wallet) The range provided depends on the work/code added. Some Ecosystem SDKs require less work to match

[2022-05-10 11:08] michielmulders opened #157 "Educational Content DappRadar"
**Reward:** 3000 ALGO

Task Description: Create educational content for the [DappRadar](https://dappradar.com/blog/) portal to educate developers on how to get started with Algorand development and smart contract development. The goal is to write a long-form (2000 - 2400 words) tutorial educating users on all aspects of Algorand development.

**Bounty takers:**
- `jsmith-bitflipper` @jsmith-bitfli

[2022-05-10 11:09] #157 closed, assigned to nobody

[2022-05-11 12:34] Oluwatunmise-olat commented on #148
I have seen the review and would make a new submission with a better use case . Thanks for the feedback.

[2022-05-16 10:39] summermuse opened #158 "Algorand Korean Community Management & Marketing Promotion"
## Overview

* **Short Description**: Daily Management of the Algorand Korean community, translate Algorand news and post on social chanels, and drive the overal marketing promotion of Algorand brand
* **Bounty**: 500 - 1000 USDCa
* **Estimated Time Commitment**: 1 month
* **Category**: Community
* **Experience Level**: Intermediate / Advanced
* **Mode**: Cooperative

## Description

### What is t

[2022-05-17 00:08] EugenieOff commented on #146
Boss, when I went to put the repository address, the autocorrect ended up inserting an address from another Algorand Foundation request that I participated. I would like to leave the correct address here.

Sorry for the error and let me know if everything is now correct as requested.

https://github.com/EugenieOff/grow-algorand-nftschool

[2022-05-23 01:56] akbarpublik34 commented on #158
I can work Monday, Tuesday, Wednesday, Thursday, Friday.

[2022-05-23 19:02] michielmulders commented on #149
@onyedikachi-david Can you provide a short outline for the content you want to write? Thanks!

[2022-05-24 03:45] akbarpublik34 opened #159 "Article from algorand"

[2022-05-24 13:10] michielmulders opened #160 "Test issue"
# Overview

* **Short Description**:  Publish code tutorials on the Algorand Developer Portal that educate other developers on using [Reach](https://reach.sh/).
* **Bounty**: 750 - 1250 ALGO tokens (US residents will receive USDCa and have to opt-in to receive the asset in their wallet)
* **Category**: Developer (AlgoDev)

testissue

[2022-05-24 18:44] ayushkumar63123 commented on #160
I am interested and have started the work

[2022-05-24 18:53] gwcoleman86 commented on #52
Hi,

My Name is Gabriel. I am working with Jason and Russ on this project. I have been working with Unity for more than eight years, and have been a professional Unity developer for almost five years. I am proficient in C#, JSON, NodeJS / JavaScript, PHP, HTML, PHP, and C++. Also have experience with Maya, Blender, and I am an Indie game developer on the side.

I have already made some contributio

[2022-05-24 18:54] #160 closed

[2022-05-24 19:14] ayushkumar63123 commented on #160
Does this mean I cannot work on this bounty now?

[2022-05-24 19:17] ayushkumar63123 commented on #147
I am working already on this bounty

[2022-05-25 09:35] michielmulders commented on #160
Hi Ayush, this is a test issue, not an actual bounty sorry!

[2022-05-25 09:37] michielmulders commented on #147
@ikalonji We don't need such a tutorial if you plan to cover Algo domains or NFD?

[2022-05-25 09:43] ayushkumar63123 commented on #147
Is there any open bounty for tutorial creating?

[2022-05-25 10:20] #146 closed, assigned to nobody

[2022-05-25 10:20] docounle commented on #146
Thank you for the submissions. We will review them soon.

[2022-05-25 10:25] IKalonji commented on #147
@michielmulders what I was planning to do sumit is a tutorial on how to use the Algorand Java SDK to build a simple NFT domain indexer using the sandbox environment and an Angular frontend, my initial wording was not clear enough. Will that be fine?

[2022-05-25 20:19] michielmulders commented on #147
@IKalonji That sounds good tho! Thanks for clarifying!

[2022-05-25 21:36] IKalonji commented on #147
@michielmulders Thanks you.

[2022-05-30 12:17] michielmulders opened #161 "Test issue"
Test issue

[2022-05-30 12:22] #161 closed

[2022-06-01 11:11] onyedikachi-david commented on #149
@michielmulders Thanks, Okay here is a run down of what I would be writing:

1. Discuss the setup of the Reach program.
2. Initial scaffolding, APIs and Participant interact interfaces.
3. Front-end setup in JavaScript.
4. Implementing the core transaction loop.
5. Implementing and testing the logic for all users.
6. React front-end setup.
7. React front-end implementation.

[2022-06-01 11:24] michielmulders commented on #149
@onyedikachi-david Sounds good, make sure to create a long-form blogpost explaining all steps carefully to provide a full tutorial for new users. For further follow up, please reach out to @joe-p who owns the bounty.

[2022-06-02 02:13] wahyu243 commented on #146
is there a bounty winner?

[2022-06-02 12:38] docounle commented on #146
We will announce at least one winner within the next two weeks or so.
Thank you for your patience.
-----------------------------------------------------

On Thu, Jun 2, 2022 at 3:13 AM wahyu243 ***@***.***> wrote:

[2022-06-07 15:25] Oluwatunmise-olat commented on #148
@michielmulders i have been trying to make a submission but i don't see any option available for me to submit

[2022-06-14 12:52] akbarpublik34 commented on #158
I created a portal for developers to create articles in korean.
PR :
Naver : [akbard_476](https://blog.naver.com/akbard_476)
twitter : [algorand south korea](https://twitter.com/i/lists/1540199607388766208?s=20)
discord : [algorand south korea](https://discord.gg/7ChbKrwv)
page : [e93969e](https://github.com/akbarpublik34/article/commit/e93969ef1a93af90060b97ec3af37fa1eb77c3e1)

[2022-06-15 08:01] summermuse opened #162 "Algorand Indonesia Community Management"
## Overview

* **Short Description**: Daily Management of the Algorand Indonesian community, translate Algorand news and post on social chanels, and drive the overal marketing promotion of Algorand brand
* **Bounty**: 700 USDCa
* **Estimated Time Commitment**: 1 month
* **Category**: Community
* **Experience Level**: Intermediate / Advanced
* **Mode**: Cooperative

## Description

### What is this

[2022-06-15 08:44] summermuse opened #163 "[Japan Community] Host Algorand Twitter Space / Youtube Live もしくはYouTubeでのアルゴランド関連日本語番組の定期放送"
## Overview

* **Short Description**: Host Algorand News/Talk shows on TwitterSpace or YouTube  regularly in Japanese
* **Bounty**: 1500 ALGO
* **Estimated Time Commitment**: Every 3 Months
* **Category**: Community / Content
* **Experience Level**: Intermediate / Advanced

## Description

### What is this task?
You will host regular news/talk shows introducing Algorand or Algorand ecosystem on Tw

[2022-06-17 10:01] manhokim0129 commented on #158
https://docs.google.com/spreadsheets/d/1s0hNzVj2Eve_fBzAj7d1ecroIVx4UfbCGzfwxXsUDNM/edit?usp=sharing

[2022-06-22 06:31] akbarpublik34 commented on #162
I make article translations for the community :
PR : [5045ffb](https://github.com/akbarpublik34/aeticle-indonesia-community/commit/5045ffb1ede5a77d6d2c01fbfea634064ee5d66c)
Twiter : [Algorand Indonesia](https://twitter.com/i/lists/1539819720098336769?s=20)
discord : [Algorand Indonesia](https://discord.gg/SZgsxS4WuV)
Telegram : [Algorand Indonesia](https://t.me/+-rQ7gkVBP8oxMWE1)

[2022-06-24 09:21] onyedikachi-david commented on #149
@michielmulders and @joe-p there is no option to specify **Reach-lang** as the main programming language in the drop down select options.

[2022-07-04 03:03] akbarpublik34 opened #164 "Algorand Korean Community Management & Marketing Promotion"
I created a portal for developers to create articles in korean.
PR :
Naver : [akbard_476](https://blog.naver.com/akbard_476)
twitter : [algorand south korea](https://twitter.com/i/lists/1540199607388766208?s=20)
discord : [algorand south korea](https://discord.gg/7ChbKrwv)
page : [e93969e](https://github.com/akbarpublik34/article/commit/e93969ef1a93af90060b97ec3af37fa1eb77c3e1)

_Originally posted

[2022-07-04 03:04] akbarpublik34 opened #165 "Algorand Indonesia Community Management"
I make article translations for the community :
PR : [5045ffb](https://github.com/akbarpublik34/aeticle-indonesia-community/commit/5045ffb1ede5a77d6d2c01fbfea634064ee5d66c)
Twiter : [Algorand Indonesia](https://twitter.com/i/lists/1539819720098336769?s=20)
discord : [Algorand Indonesia](https://discord.gg/SZgsxS4WuV)
Telegram : [Algorand Indonesia](https://t.me/+-rQ7gkVBP8oxMWE1)

_Originally post

[2022-07-04 03:07] akbarpublik34 opened #166 "Algorand Indonesia Community Management"
I created a portal for developers to create articles in korean.
PR :
Naver : [akbard_476](https://blog.naver.com/akbard_476)
twitter : [algorand south korea](https://twitter.com/i/lists/1540199607388766208?s=20)
discord : [algorand south korea](https://discord.gg/7ChbKrwv)
page : [e93969e](https://github.com/akbarpublik34/article/commit/e93969ef1a93af90060b97ec3af37fa1eb77c3e1)

[2022-07-04 03:15] akbarpublik34 opened #167 "I created a portal for developers to create articles in korean. PR : Naver : akbard_476 twitter : algorand south korea discord : algorand south korea page : e93969e"

[2022-07-04 03:15] akbarpublik34 opened #168 "Algorand Ecosystem & Community Building"

[2022-07-04 03:17] akbarpublik34 commented on #167
close

[2022-07-04 03:38] akbarpublik34 opened #169 "Algorand Ecosystem & Community Building"
saya mulai mengenalkan artikel tentang pengembang di algorand
PR: [facebook](https://www.facebook.com/akbar.djaelani.9)

[2022-07-05 02:17] akbarpublik34 opened #170 "grow-algorand"
[grow-algorand](https://github.com/algorandfoundation/grow-algorand)

[2022-07-05 02:17] akbarpublik34 opened #171 "Algorand Ecosystem & Community Building"
Short Description: We welcome active community members with proven resources to add vitality to the Algorand ecosystem & community. We'd like to establish a long-term cooperation with the active contributor and provide due support for mutual success.
    Bounty: 2100 ALGOs
    Estimated Time Commitment: 1 Month
    Category: Ecosystem
    Experience Level: Beginner
    Mode: Collaborative

Descrip

[2022-07-06 01:11] royce2xr commented on #59
Hey can i collect my bounty still, y’all used my video I believe

[2022-07-15 20:47] joe-p opened #172 "Autocompounder App"
### Prize Bounty
1st Place - 10,000 ALGO

2nd Place - 7,500 ALGO

3rd place - 5,000 ALGO

### Challenge Description
This decentralized application should function as an autocompounder app, similarly to genre leader Beefy Finance. It should provide interfaces for both lenders and LPers and support auto compounding (continuous LP) in various pools on several platforms including STBL/USDC on AlgoFi.

[2022-07-17 15:18] joe-p opened #173 "DAO with voting and crowdfunding"
### Prize Bounty

1st Place - 10,000 ALGO

2nd Place - 7,500 ALGO

3rd place - 5,000 ALGO

### Challenge Description

This challenge is focused on building an application that functions as a decentralized autonomous organization (DAO). The DAO should support both raising capital and voting by DAO members on allocations or changes to the DAO. The exact interest of the DAO is not specified, but coul

[2022-07-17 15:24] joe-p opened #174 "Customer loyalty app"
### Prize Bounty
1st Place - 10,000 ALGO

2nd Place - 7,500 ALGO

3rd place - 5,000 ALGO

### Challenge Description
This challenge is focused on building a customer loyalty application. The decentralized app should reward existing customers with an application token when a specific action is taken or some time in membership has elapsed. The exact conditions are not specified but could be for recru

[2022-07-17 15:30] joe-p opened #175 "Escape room gaming app"
### Prize Bounty
1st Place - 15,000 ALGO

2nd Place - 10,000 ALGO

### Challenge Description
This challenge is to design and implement a blockchain based escape room. The escape room app should be centered around solving a set of reliant puzzles to escape a location, obtain a specific NFT, or identify a specific culprit. The application should be decentralized and all clues and solutions should be

[2022-07-17 15:39] joe-p opened #176 "NFTs with In-Game Utility & P2E Rewards"
### Prize Bounty
1st Place - 15,000 ALGO

2nd Place - 10,000 ALGO
### Challenge Description
Set up a working game, like Dalex for example, and link to a wallet for gameplay functionality. The game must include rounds of increasing difficulty.

Create a coin - ASA - to be used for NFT purchase and P2E rewards

In-Game Utility: Create an NFT that, if held in the wallet linked to the game, helps the

[2022-07-17 16:23] joe-p opened #177 "Social recovery wallet"
### Prize Bounty
1st Place - 15,000 ALGO

2nd Place - 10,000 ALGO

3rd Place - 5,000 ALGO

### Challenge Description
The risk of losing private keys (and therefore money!) is one of the main barriers to adoption of non-custodial wallets. Multi-signature wallets can help prevent this and while this is natively supported in Algorand, they present logistical challenges that make regular usage a bit u

[2022-07-17 16:42] joe-p opened #178 "Build DSLs for Gaming"
### Prize Bounty
1st Place - 25,000 ALGO

2nd Place - 15,000 ALGO

3rd Place - 5,000 ALGO
### Challenge Description
The challenge here is to design and implement a DSL (Domain Specific Language) that empowers game designers to rapidly develop a compelling Web 3.0 gaming experience on Algorand. DSL’s are intended to provide the tools needed to build great applications in a specific “domain”, in thi

[2022-07-17 16:47] joe-p opened #179 "Interoperable NFTs"
### Prize Bounty
1st Place - 15,000 ALGO

2nd Place - 10,000 ALGO
### Challenge description:
Create a lite client or bridge which incentives EVM comparable chains to utilize Algorand’s speed, low fees and green transactions with their communities and NFT transactions- be creative, this might mean wrapping NFT or locking an EVM NFT into an algorand smart contract for minting/transactions.
### Submi

[2022-07-17 16:49] joe-p opened #180 "PFP batch creation tool"
### Prize Bounty
1st Place - 10,000 ALGO

2nd place - 5,000 ALGO
### Challenge Description
Build a front end UI which enables creators to upload assets to create a pfp series. Parameters at a minimum should include a quantity generator (number of assets or pfp to generate), rarity or trait score variable which can control each assets score or traits, a title generator which allows each pfp to be a

[2022-07-17 16:58] joe-p opened #181 "Soul Bound NFTs ARC"
### Prize Bounty
1st Place - 10,000 ALGO

2nd Place - 7,500 ALGO

3rd place - 5,000 ALGO

### Challenge Description

Soulbound Tokens (SBTs) were proposed in May 2022 by economist & social technologist E. Glen Weyl, lawyer Puja Ohlhaver, and Ethereum creator Vitalik Buterin. SBTs are a primitive that are non-transferable tokens representing credentials and are linked to ‘souls’, a type of address

[2022-07-17 17:02] joe-p opened #182 "Codeless bounty"
### Prize Bounty
1st Place - 5,000 ALGO

2nd Place - 2,000 ALGO

3rd place - 1,000 ALGO
### Challenge Description
Using your best practices, create a marketing strategy to bring Degen to Algorand. The marketing strategy should be targeted towards Degens (users that truly believe in crypto projects). To approach this bounty would be to imagine you have a budget for a marketing strategy for Algorand

[2022-07-17 17:08] joe-p opened #183 "Bring Your Own Project (BYOP)"
### Prize Bounty
1st Place - 15,000 ALGO
2nd Place - 10,000 ALGO
3rd place - 5,000 ALGO

### Challenge Description
Great ideas are everywhere, execution is always the hardest part. Greenhouse Hacks wants to give an opportunity to these great ideas to come to life. If you have a project/idea here is your chance to share it with the world.

Share detailed information about your project like tools ne

[2022-07-23 05:20] rithik-raja commented on #149
I have been engaging extensively with the Reach community in the past few months, and completed a few contracts as a part of their "Bear Builder Challenges." I feel that one of these would be suitable for a tutorial after a bit of refactoring. It is a Whitelist Contract that allows a token creator to whitelist community members for an airdrop.

The scope of the tutorial would be as follows:
- Expl

[2022-07-27 12:09] akbarpublik34 commented on #162
I started creating activities for the local community and introducing the algorand ecosystem.

[2022-07-27 12:11] akbarpublik34 commented on #162
I started creating activities for the local community and introducing the algorand ecosystem
PR: [facebook](https://www.facebook.com/akbar.djaelani.9)

[2022-07-28 08:23] Andrelina opened #184 "Adição de suporte para redirecionamento de memória"
Aumentar a capacidade da memória e suportar adição, em códigos fáceis de introduzir memórias em páginas simplificadas e duplicadas.
Adicionar complementações que facilite o manuseio de conteúdos em nuvem e localmente.

[2022-08-05 20:56] Hathoriel commented on #181
Hi i want to work on the PR on the hackaton, but I dont understand this sentences. Where is arc repo? What is arc standart? Could you please provide more information about it?
Thanks. 😊

[2022-08-05 21:03] joe-p commented on #181
@Hathoriel - The link was missing so thanks for pointing that out! Here is the link to the ARC repository: https://github.com/algorandfoundation/ARCs

ARC stands for Algorand Request for Change. They are analogous to [RFCs](https://en.wikipedia.org/wiki/Request_for_Comments) or Ethereum's ERCs. The idea is that they set a standard of practices that other developers can follow to implement some sor

[2022-08-08 07:54] docounle opened #185 "University student community building & developer outreach (Chinese)"
### Overview
Short Description: We welcome active community members with proven resources to add vitality to the Algorand ecosystem & community in China. We'd like to establish a long-term cooperation with the active contributor and provide due support for mutual success.<p>
Bounty: 2,100 ALGOs<p>
Estimated Time Commitment: 1 Month<p>
Category: Ecosystem<p>
Experience Level: Beginner<p>
Mode: Coll

[2022-08-13 17:34] JupiterXiaoxiaoYu commented on #181
Hi, I wanna know if "a recorded demo and an article that explains how the application works" in the submission requirement are necessary for this challenge

[2022-08-17 07:00] chainparser commented on #181
Hello @joe-p posting [my submission](https://github.com/algorandfoundation/ARCs/pull/119#issue-1332135323) here once again since I can't edit my submission on the gitcoin bounty page.

ARC for Soulbound NFTs - [https://github.com/MAWUT0R/ARCs/blob/main/ARCs/arc-0020.md](https://github.com/MAWUT0R/ARCs/blob/main/ARCs/arc-0020.md)

[2022-09-10 17:37] Michele971 commented on #149
Hi,
I would like to publish a crowdfunding tutorial (reward-based).
I will show the use of:
- APIs inside parallel reduce;
- Views;
- Management of new tokens used as rewards;
- Allowing many users to interact with the smart contracts;
- Use of the time to schedule the end of the campaign;
- Use of the testnet.

The main features will be:
- create a new campaign
- invest in a campaign
- claim of t

[2022-09-13 19:54] Bhaney44 commented on #150
Hi, I submitted [PR Choice Connect #646](https://github.com/algorand/js-algorand-sdk/pull/646) which was rejected for not showcasing the SDK enough compared to PeraWallet. So, I made a new [PR #651](https://github.com/algorand/js-algorand-sdk/pull/651) which does more to showcase the functionality of the JavaScript-SDK. However, I am unable to submit this new PR for consideration on GitHub because

[2022-09-14 03:43] lbhein commented on #183
Hi, how can i find the winner of this hackathon?

[2022-09-14 03:52] 0xogulcan commented on #183
I dont know ser

[2022-09-14 05:03] gconnect commented on #183
The winner has be announced on twitter

On Wed, 14 Sep 2022, 04:52 Ogulcan Yildirim, ***@***.***>
wrote:

[2022-09-19 12:46] claudebaxter commented on #183
Thanks, can anyone confirm the twitter handle announcing the winner?Sent from my T-Mobile 4G LTE DeviceGet Outlook for AndroidFrom: Glory Agatevure ***@***.***>Sent: Wednesday, September 14, 2022, 12:03 AMTo: algorandfoundation/grow-algorand ***@***.***>Cc: Claude Baxter ***@***.***>; Mention ***@***.***>Subject: Re: [algorandfoundation/grow-algorand] Bring Your Own Project (BYOP) (Issue #183)

Th

[2022-09-20 08:34] #120 closed, assigned to nobody

[2022-09-20 08:35] #142 closed, assigned to nobody

[2022-09-20 08:48] #138 closed, assigned to nobody

[2022-09-20 08:48] #129 closed, assigned to nobody

[2022-09-20 08:48] #124 closed, assigned to nobody

[2022-09-20 08:58] #137 closed, assigned to nobody

[2022-09-20 08:58] #141 closed, assigned to nobody

[2022-09-20 08:59] #130 closed, assigned to nobody

[2022-09-20 09:17] #119 closed, assigned to nobody

[2022-09-20 09:34] summermuse opened #186 "Design Original Comic Depicting 'Algorand Greenhouse Events' & ‘Develop on Algorand', issued as NFTs on Algorand"
## Overview

* **Short Description**: To design a 2D Event Summary Comic of Algorand and issue as NFTs on Algorand
* **Bounty**: 1200 USDCa
* **Estimated Time Commitment**: 2 weeks
* **Category**: Development / Content
* **Experience Level**: Intermediate / Advanced

## Description

### What is this task?
To design a 2D Event Summary Comic of Algorand Greenhouse events in Singapore ([Tech Talks](h

[2022-09-22 04:09] Bhaney44 commented on #150
Hi @michielmulders I wanted to follow up on this. Is this Grant still available? Thanks!

[2022-09-22 17:20] JoE11-y commented on #148
Goodday @michielmulders. Just finished my tutorial on pyteal. Awaiting approval

Tutorial overview
Walkthrough on how to create a lottery contract, that uses byte slices arrays and bit operators to store tickets, and a pseudo random number generator to get the winner, It would contain utilisation of cross contract calls, innertxns and arrays.

Repository link: https://github.com/JoE11-y/Algorand-L

[2022-09-26 16:51] joe-p opened #187 "Customer Loyalty App"
### Prize Bounty
1st Place - 15,000 ALGO
2nd Place - 10,000 ALGO

### Challenge Description
This challenge is focused on building a customer loyalty application. The decentralized app should reward existing customers with an application token when a specific action is taken or some time in membership has elapsed. The exact conditions are not specified but could be for recruiting new members to an

[2022-09-26 16:56] joe-p opened #188 "Create an Application Using Randomness"
### Prize Bounty
1st Place - 15,000 ALGO
2nd Place - 10,000 ALGO

### Challenge Description

In AVMv7 Algorand now has the abilitiy to use VRFs in smart contracts. VRFs allows random numbers to be used on-chain in a trustless way. For this bounty, create an application that uses a VRF oracle and the new `vrf_verify` function on-chain. The application can be anything, as long as it utilizes randomn

[2022-09-26 17:15] joe-p opened #189 "Learning Challenge 1: ARC-0020 Smart Contract"
### Prize Bounty
1st Place - 5,000 ALGO
2nd Place - 3,000 ALGO
2nd Place - 2,000 ALGO

### Challenge description:
ARC-0020 allows creators to add extra functionality to their tokens that is not possible with ASAs by leveraging smart contracts. For this bounty, create a smart contract that conforms to ARC-0020 and adds additional functionality to the token that is not possible with standard ASAs. T

[2022-09-26 17:23] joe-p opened #190 "Learning Challenge 2: Wallet with SDKs"
### Prize Bounty
1st Place - 5,000 ALGO
2nd Place - 3,000 ALGO
2nd Place - 2,000 ALGO

### Challenge description:
Wallets are a way for users to interact with the blockchain and view their account information. Due to the transparent-nature of blockchains, anyone can create a wallet. Today there are multiple wallets that exist for Algorand, with Pera and MyAlgo being the most popular. Other wallet

[2022-09-26 17:27] joe-p opened #191 "Bring Your Own Project (BYOP)"
### Prize Bounty
1st Place - 15,000 ALGO
2nd Place - 10,000 ALGO
3rd Place - 5,000 ALGO

### Challenge Description
Great ideas are everywhere, execution is always the hardest part. Greenhouse Hacks wants to give an opportunity to these great ideas to come to life. If you have a project/idea here is your chance to share it with the world.

Share detailed information about your project like tools ne

[2022-09-26 17:30] joe-p opened #192 "Codeless Bounty"
### Prize Bounty
1st Place - 5,000 ALGO
2nd Place - 2,000 ALGO
3rd Place - 1,000 ALGO

### Challenge Description
Using your best practices, create a marketing strategy to bring Degen to Algorand. The marketing strategy should be targeted towards Degens (users that truly believe in crypto projects). To approach this bounty would be to imagine you have a budget for a marketing strategy for Algorand.

[2022-09-27 00:58] joe-p opened #193 "Payscript: Realtime On-Chain Notifications"
To be deleted

[2022-09-28 05:24] carol-x commented on #188
May we have the links to the documentation and code for VRF functions?

[2022-09-29 23:54] differs commented on #189
this challenge: adds additional functionality to the token that is not possible with standard ASAs.

Do you have any features you want?

[2022-10-11 07:05] zahracolt commented on #183
Link to the winners please. I couldn't find it on twitter

On Wed, Sep 14, 2022, 6:03 AM Glory Agatevure ***@***.***>
wrote:

[2022-10-12 10:21] MeetWawa commented on #186
MeetWawa has completed the 2D comic for Algorand. This is the final version approved by @summermuse. Here's the comic and our Algorand address for the USDCa payment, thank you!

Comic URL: ![07](https://user-images.githubusercontent.com/114130591/195317778-580a1cb8-0ead-4233-a99f-cf9405a08b9c.JPG)

Wallet Address: **YMT2CRLMF5AGZF4U3XIODQDUDXDNBO6XX44MONDDW62NPT4JF2UXLGHM2A**

[2022-10-17 01:04] Bhaney44 commented on #191
Hi,

I have been trying to submit via GitHub, but I am getting the following error.

<img width="549" alt="Screen Shot 2022-10-16 at 6 03 28 PM" src="https://user-images.githubusercontent.com/43055154/196068753-b98fd0bb-2756-4b18-b7d4-01f78f001d3d.png">

Would you please provide guidance on how to get authenticated for the hackathon on Github, @joe-p ? Thank you!

**Solution**
I solved this. I had

[2022-10-17 09:53] summermuse opened #194 "Algorand Official Telegram Group Moderator / Community Admin"
## Overview

* **Short Description**: Moderate the [Algorand Official Telegram channel](https://t.me/algorand) ~2 hours/day in one of the three timezones (US, APAC, Europe)
* **Bounty**: 1500 USDCa / admin (up to 3 admins)
* **Estimated Time Commitment**: monthly
* **Category**: Community
* **Experience Level**: Intermediate / Advanced
* **Mode**: Cooperative

## Description

### What is this task

[2022-10-27 02:03] GGheres commented on #194
hi , want work here ;)

[2022-10-27 23:32] HLABZcc opened #195 "Algorand Official Telegram Group Moderator / Community Admin"
Hi, I am passionate about cryptocurrency and am very interested in the mission you propose : **Telegram Group Moderator**.

I have a lot of experience in moderating social networks and I think I am the ideal person to fulfill the mission in a qualitative way.

Thank you for considering my application.

Cordially,

**HLABZcc® - [www.hlabz.cc](http://www.hlabz.cc/) - [gitcoin.co/hlabzcc](https://git

[2022-10-31 09:58] ZadenMubarak commented on #187
this bounty hack was really amazing, I got to learn about algorand an reach too.

[2022-11-01 16:39] rojobolo commented on #194
Hello I'm Septi, I'm interested to fill the position that mentioned above.

I've been involved in the blockchain and cryptocurrency space for over 5 years. Some of my experiences in the blockchain and cryptocurrency space include being a community moderator, marketing and writer.

I life in APAC time zone and I'm ready to commit my time to manage Algorand Telegram Group 2h/day.

**"Because I want

[2022-11-01 22:56] Jacquesauniere92 commented on #194
Hi

[2022-11-03 12:55] shubhiscoding commented on #192
@joe-p  Who won?? can we know the names

[2022-11-05 15:21] shubhiscoding commented on #192
@joe-p @ayocodes @Sam2much96 @seetadev
 @aspiringsecurity @iheanyi1
 @gagans20 @Akshat-Saklecha
 @likkhitha
 @SterFonseca @Blessyebin @isanjeevv @Vidhyanandcs @zahracolt @Filiposki54
 @ishaaqziyan
 Do anyone of you have any Idea about bounty's result? estimated payout date is already expired.

[2022-11-05 15:29] Filiposki54 commented on #192
Hi there.
Have you read bounty desciption?
"Winners will be announced on Sunday the 20th of November, with payouts to
be completed no more than one week thereafter. Ecosystem Funding may be
issued at the discretion of the Algorand Foundation to retrospectively
advance high potential projects."
Today is 5th November. We have 15 days more before winner will be anounce.

sob., 5 lis 2022 o 16:21 Drew