[2020-09-08 06:57] Mine77 opened #1 "[500 ALGO] Chinese Translation of "Example Crowdfunding Stateful Smart Contract Application""
# [500 ALGO] Chinese Translation of "Example Crowdfunding Stateful Smart Contract Application"

## Overview

* **Short Description**: Translate the [stateful TEAL example article](https://developer.algorand.org/solutions/example-crowdfunding-stateful-smart-contract-application/) to Chinese
* **Bounty**: 500 ALGO
* **Estimated Time Commitment**: 2 weeks
* **Category**: Content
* **Experience Level*

[2020-09-08 07:08] Mine77 opened #2 "[350 ALGO] Chinese Translation of "Example Permissioned Voting Stateful Smart Contract Application""
# [350 ALGO] Chinese Translation of "Example Permissioned Voting Stateful Smart Contract Application"

## Overview

* **Short Description**: Translate the [stateful TEAL example article](https://developer.algorand.org/solutions/example-permissioned-voting-stateful-smart-contract-application/) to Chinese
* **Bounty**: 350 ALGO
* **Estimated Time Commitment**: 2 weeks
* **Category**: Content
* **Exp

[2020-09-09 02:12] Mine77 opened #3 "Exchange / Wallet Integration Instructions for ALGO and ASA"
## Overview

* **Short Description**: Write an instruction document for exchanges and wallets to integrate ALGO and ASA
* **Bounty**: 2000 ALGO tokens _(US residents will receive USDCa and have to opt-in to receive the asset in their wallet)_

* **Estimated Time Commitment**: 2-5 Days
* **Category**: Content
* **Experience Level**: Intermediate
* **Status**: Open

## Description

### What's the go

[2020-09-09 03:06] Mine77 opened #4 "Algorand Features and Smart Contracts GUI Demo with AlgoSigner"
## Overview

* **Short Description**: Build a web-based GUI demo to show the basic functionalities of Algorand as well as smart contract templates; integrating the AlgoSigner
* **Bounty**: 5000 ALGO tokens _(US residents will receive USDCa and have to opt-in to receive the asset in their wallet)_
* **Estimated Time Commitment**: 3-4 weeks
* **Category**: Development and Content
* **Experience Leve

[2020-09-16 11:38] zh131312 commented on #2
Well I will finish this task

[2020-09-16 11:40] Mine77 commented on #2
@zh131312  Thank you. Please pay attention to the deadline for the work (2 weeks), as well as the submission procedure.

[2020-09-16 11:41] lhoooq commented on #1
我申请认领此任务

[2020-09-16 11:43] Mine77 commented on #1
@lhoooq  好的👌，注意 submission procedure 和 deadline 哈 （2周）

[2020-09-16 12:00] tutugogo commented on #2
I will finish this task

[2020-09-16 12:02] Mine77 commented on #2
@tutugogo  Thank you. Please pay attention to the submission procedure and timeline.

[2020-09-16 12:06] tutugogo commented on #3
I will finish this task

[2020-09-16 12:59] Mine77 commented on #3
@tutugogo  hi, thank you for your interest. However, we would like the bounty hunters to focus on only one project at a time. Feel free to come and claim this task after you finish your current one. Thank you.

[2020-09-16 13:03] sherlockhouse commented on #2
可以竞争上岗么。我也可以翻译一下

[2020-09-16 13:04] sherlockhouse commented on #4
围观一下

[2020-09-16 13:07] sherlockhouse commented on #1
申请认领

[2020-09-16 13:26] Mine77 commented on #1
@sherlockhouse  👆已经领了哦，看一下其他的任务？或者 star 一个关注后续发布的任务？

[2020-09-16 13:26] Mine77 commented on #4
@sherlockhouse  不认领一个？

[2020-09-16 13:54] sherlockhouse commented on #4
超纲了，非前端，android开发

[2020-09-16 13:54] sherlockhouse commented on #4
@Mine77 超纲了，非前端，android开发

[2020-09-16 14:32] Mine77 commented on #4
@sherlockhouse  可以，让我想想有没有安卓可以做的东西

[2020-09-16 15:03] realzxs commented on #3
我想申请此任务，去年在某大学研究机构做过Algorand钱包的相关研究，开发了基于algorand的钱包

[2020-09-17 02:49] Mine77 commented on #3
@realzxs  好的！加油！可以添加下我的微信，方便后续沟通：438937928

[2020-09-17 05:18] TiffWang commented on #4
我想申请此任务，我们团队做过Algorand钱包的相关研究，开发了基于algorand的钱包Demo。功能包括: 钱包地址生成、自定义代币、转账等

[2020-09-17 06:42] Mine77 commented on #4
@TiffWang  好的，幸苦。可以添加下我的微信方便后续沟通：438937928

[2020-09-20 15:19] tutugogo commented on #2
https://github.com/tutugogo/grow-algorand/tree/%E7%A4%BA%E4%BE%8B%EF%BC%9A%E6%8E%88%E6%9D%83%E6%9C%89%E7%8A%B6%E6%80%81%E6%8A%95%E7%A5%A8%E6%99%BA%E8%83%BD%E5%90%88%E7%BA%A6%E5%BA%94%E7%94%A8%E7%A8%8B%E5%BA%8F

[2020-09-20 15:19] tutugogo commented on #2
This is the translation of the article

[2020-09-30 13:59] lhoooq commented on #1
https://github.com/algorandfoundation/grow-algorand/blob/e204a55396729b73d28396b1c6a1837fe0f63eb2/content/%E7%A4%BA%E4%BE%8B%EF%BC%9A%E6%9C%89%E7%8A%B6%E6%80%81%E6%99%BA%E8%83%BD%E5%90%88%E7%BA%A6%E5%AE%9E%E7%8E%B0%E4%BC%97%E7%AD%B9%E5%BA%94%E7%94%A8.md

[2020-10-19 07:40] Mine77 commented on #1
@lhoooq  我这边提了几个小意见，整体上翻译质量还是很不错的👍
麻烦你这边再改一下，我这边就通过了

[2020-10-19 08:16] Mine77 commented on #2
@tutugogo  有几个问题需要改一下，评论在 pr 里了

[2020-10-28 14:58] tutugogo commented on #2
好的，本周内修改完毕@Mine77

[2020-11-11 15:00] Mine77 opened #7 "[5000 ALGO] Pygments Lexer for TEAL"
## Overview
* **Short Description**: Create a Pygments Lexer for TEAL
* **Bounty**: 5000 ALGO
* **Estimated Time Commitment**: 1 week
* **Category**: Development and Content
* **Experience Level**:  Intermediate
* **Language Skills**: English
* **Status**: Open

## Description
### What's the goal for this task?
The documentation on the developer website (https://developer.algorand.org/docs/) uses

[2020-11-11 15:02] Mine77 opened #8 "[50,000 ALGO] C# SDK Upgrade and Documentation"
# [50,000 ALGO] C# SDK Upgrade and Documentation

## Overview

* **Short Description**: Update the C# SDK to make it compatible with API V2.
* **Bounty**: 50,000 ALGO
* **Estimated Time Commitment**: 2 months
* **Category**: Development and Content
* **Experience Level**:  Advanced
* **Language Skills**: English
* **Status**: Open

## Description

### What's the goal for this task?

Here should de

[2020-11-11 23:38] RileyGe commented on #8
认领此任务，并且已经在开发过程中。
Claim this task and it is already in the development process.

[2020-11-25 08:15] Mine77 commented on #1
@lhoooq  hi 请问有什么进展吗？

[2021-01-06 09:18] Mine77 commented on #2
任务完成

[2021-01-06 09:18] #2 closed

[2021-01-10 06:08] iscke commented on #7
I'm working on this now (pygments/#1671).

[2021-01-28 03:27] #1 closed

[2021-01-28 03:28] Mine77 commented on #1
@lhoooq 我们这边已经发了你[这篇文章](https://developer.algorand.org/zh-hans/solutions/%E4%BD%BF%E7%94%A8%E6%9C%89%E7%8A%B6%E6%80%81%E6%99%BA%E8%83%BD%E5%90%88%E7%BA%A6%E5%AE%9E%E7%8E%B0%E4%BC%97%E7%AD%B9%E5%BA%94%E7%94%A8/)，麻烦你邮箱联系我领奖哈：haichao@algorand.foundation

[2021-02-04 03:24] Mine77 commented on #8
The task has completed:
https://github.com/RileyGe/dotnet-algorand-sdk

[2021-02-04 03:24] #8 closed

[2021-02-05 03:16] Mine77 commented on #7
@iscke  could you please contact me via haichao@algorand.foundation regarding your bounty payment? thank you

[2021-03-15 00:34] iscke commented on #7
merged! https://github.com/pygments/pygments/commit/de5b0e698c4b8b7d63bdd5e21d0f7682c51dec72 :tada:

[2021-03-15 08:01] Mine77 commented on #7
Congratulations! The ALGO payment is on its way!

[2021-03-15 08:01] #7 closed

[2021-03-15 08:11] Mine77 opened #9 "Improve AlgoSearch and embed in Algorand's sandbox [5000USD of ALGO]"
## Overview
- **Short Description:** Change [AlgoSearch](https://github.com/ori-shem-tov/algosearch) to work with algod v2 and indexer v2 instead of v1 and embed a Dockerized version in [Algorand's sandbox](https://github.com/algorand/sandbox)
- **Bounty:** 5000USD of ALGO (The amount of ALGO will be based on the 30-day average price of ALGO on the payment date)
- **Estimated Time Commitment:** 1

[2021-03-15 08:19] wheresaddie commented on #7
** approved **

[2021-03-15 11:15] snirzango commented on #9
im on it

[2021-03-15 12:10] lhoooq commented on #1
hello,

不好意思哈，我qq邮箱二次验证的密码搞忘了最近才想起来，好久没登陆这个邮箱了，才发现这个事情。

请问如何领奖啊？

谢谢^_^

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "algorandfoundation/grow-algorand"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;202

[2021-03-15 13:42] lhoooq commented on #1
可以加一下我的微信：18458178177

这里有一个领奖的操作手册，可以按这个操作领奖：

*Ambassador Onboarding Guide:*

https://docs.google.com/document/d/13Y89ZZEi8jNtuGmdKlC2PnLEUhkevZd-8roFrXFJ6us/edit

On Mon, Mar 15, 2021 at 8:10 PM Huan Wang ***@***.***> wrote:

[2021-03-21 07:28] Mine77 commented on #4
Bounty is re-opened due to no update by previous bounty taker.

[2021-03-21 07:28] Mine77 commented on #3
Bounty is re-opened due to no update by previous bounty taker.

[2021-03-25 05:19] Mine77 opened #10 "[5000USD of ALGO] Migrate Algorand Studio to Web-End"
## Overview

* **Short Description**: Migrate the Algorand Studio IDE to web-end and enable users to use it from the browser directly
* **Bounty**: 5000 USD of ALGO (The amount of ALGO will be based on the 30-day average price of ALGO on the payment date)
* **Estimated Time Commitment**: 3 weeks
* **Category**: Development
* **Experience Level**: Advanced
* **Language Skills**: English and 中文
* **

[2021-03-26 06:58] eXterkTi commented on #10
你好，我想申请这个任务，我们是Algorand Studio的开发团队，可以完成全部需求。可以加我微信详细联系18500089897

[2021-03-26 07:00] Mine77 commented on #10
收到

[2021-04-02 06:14] jwdixon commented on #4
Hello, I meet the requirements and would like to accept the bounty.

[2021-04-07 03:26] Mine77 commented on #4
great. Will assign this issue to you and looking forward to your progress.

[2021-04-07 18:28] snirzango commented on #9
hey @Mine77 im terribly sorry but duo to new working place i wont be able to make it.
there is a fork of mine from algosearch  with a big part of the work done (all of the api calls are moved to v2 but theres still some work that needs to be done on the react part) feel free to use it.

[2021-04-09 09:54] Mine77 commented on #9
@snirzango  sorry to hear that you can't complete it.
Thank you very much for your contribution.
Looking forward for you to re-joining our programs.
Thank you.

I'll re-open this bounty.

[2021-04-09 18:31] kevguy commented on #9
I'm on it.

[2021-04-11 17:53] kevguy commented on #9
I'm basically done with #1 and #2. However, one question. The v2 apis don't offer information about proposer (look at [here](https://forum.algorand.org/t/finding-blocks-proposer-with-new-api-v2/1778)), how should I proceed, and who should I talk to?

[2021-04-12 17:45] kevguy commented on #9
Just made a [PR](https://github.com/ori-shem-tov/algosearch/pull/1) to finish step 1 through 3.

[2021-04-13 05:05] Mine77 commented on #9
Thanks.
Someone is reviewing now.

[2021-04-13 08:53] kevguy commented on #9
Just made a [PR](https://github.com/algorand/sandbox/pull/40) that finished step 4 on the Sandbox repo.

[2021-04-13 19:23] JasonWeathersby commented on #9
Well done.

[2021-04-20 03:03] kevguy commented on #9
Are there any updates? The AlgoSearch side seems to be unresponsive.

[2021-04-20 03:42] Mine77 commented on #9
Let me nudge on them on the reviewing process. Sorry for the delay.

[2021-04-22 18:53] kevguy commented on #9
Don't mind if I ask what happens if the guy just doesn't respond or review my PR?

I'm actually quite interested in contributing to Algorand's ecosystem, so here's something I have in mind. The AlgoSearch project is good, but compared to AlgoExplorer.io, it's far from completed (bummer that it's close-sourced)

1. When AlgoSearch is integrated as a part of the sandbox, I think it's important for A

[2021-04-22 18:56] kevguy commented on #3
I'm just waiting for my bounty to be finished so I don't have much to do, if it's okay, I'd love to finish this task along with a friend as a team.

[2021-04-27 08:29] kevguy commented on #9
Any updates so far from ori-shem-tov?

[2021-04-27 08:35] Mine77 commented on #9
not yet. He is working on something else so might take a while. But feel free to start on the other task.

[2021-04-29 02:02] fabrice102 commented on #9
Regarding the proposer, you can get it as follows:
[code]

[2021-04-30 17:08] kevguy commented on #9
Thanks, will incorporate that!

[2021-05-05 11:51] ori-shem-tov commented on #9
@kevguy I've reviewed your PR on AlgoSearch repo! Thanks

[2021-05-07 12:24] emg110 opened #11 "Algorand Official Wallet QR scanner problem with note & asset fields"
Hi Algorand, Hi Algonauts
The fields **NOTE** and **ASSET** are not getting scanned by Algorand Wallet's QR scanner correctly , this is checked and confirmed by  [kind testing contributions of other Algonauts as well](https://forum.algorand.org/t/algorand-payment-qr-generator/3215?u=emg110), the generated Algorand URI seems correct but the scanner refuses to get the asset and note fields.
I think

[2021-05-12 05:24] Mine77 opened #12 "Gitcoin Test Bounty"
Gitcoin Test BountyGitcoin Test BountyGitcoin Test BountyGitcoin Test BountyGitcoin Test Bounty

[2021-05-12 05:46] #12 closed

[2021-05-12 05:52] Mine77 commented on #11
Hi there,
I have informed the wallet team about this. They will take a look and see if this can help them with improving their product.
Thanks for your contribution.
I'll circle back and let you know if this is liable for a reward.
Thanks again!

[2021-05-12 05:56] Mine77 commented on #9
@kevguy Could you please contact me at haichao@algorand.foundation and provide your ALGO address to me. We will proceed the bounty payment with you.

[2021-05-12 06:02] Mine77 opened #13 "Unity 3D Asset SDK"
## Overview
* Short Description: Create a Unity3D Asset (SDK) in the Unity Asset Store.
* Bounty: 7000 ALGO tokens _(US residents will receive USDCa and have to opt-in to receive the asset in their wallet)_
* Estimated Time Commitment: 1-2 weeks
* Category: Development
* Experience Level: Advanced
* Language Skills: English

## Description

### What's the goal for this task?
Create a Unity3D Asset

[2021-05-12 06:17] kevguy commented on #9
Just did. My email address is kevlai22@uw.edu

[2021-05-12 17:00] Vytek commented on #13
Claim this task and it is already in the development process.

[2021-05-13 11:44] emg110 commented on #11
Thank you Mine77, it's very kind of you.
Another important Topic I needed to tell you is HTML Escaping and how great it would be if the Algorand Wallet scanner could support it (Actually HTML UN-Escaping on scanner's side). Because of security reasons many devs prefer their character strings to be HTML Escaped and at the time being these escaped strings (in label or note) could note be shown in a

[2021-05-13 11:57] emg110 opened #14 "Community ambassadors website cookie alert panel does not disappear after Clicking <<OK>>"
Anything less than perfect is not suitable for planet's greenest blockchain, therefore :
[On community ambassadors website](https://community.algorand.org/ambassadors/), there is an issue with chrome (last 3 versions):
![image](https://user-images.githubusercontent.com/1900448/118122145-ade26c00-b407-11eb-9017-08beea425869.png)
and firefox (latest 3 versions):
![image](https://user-images.githubus

[2021-05-13 13:37] Mine77 opened #15 "[XXX ALGO] This is a test bounty"
## Overview

* **Short Description**: This is a short description
* **Bounty**: xxx ALGO
* **Estimated Time Commitment**: xxx Days
(For the following info, please also add the according labels to the issue)
* **Category**: Development / Content / Both
* **Experience Level**: Beginner / Intermediate / Advanced
* **Language Skills**: English / 中文
* **Status**: Open / In.Progress / Completed

## Desc

[2021-05-13 14:06] #15 closed

[2021-05-13 14:09] Mine77 commented on #14
Hi emg110, thanks so much for your comment. I have talked with our marketing team about this. They will deal with this.

Fyi, would you mind posting on our forum instead of here? where you can get more responses. This repo is for us to contain all our bounties, so to keep it clean I'll close your issues at the moment.
But you are more than welcome to contact us for more issues in the future if you

[2021-05-13 14:09] #14 closed

[2021-05-13 14:09] #11 closed

[2021-05-13 17:14] emg110 commented on #14
Hi Mine77
There has been a big mistake, I am not looking for any bounty, I just used
the GitHub issues to report the issues as instructed on that page, seeking
nothing but Algorand's growth.
Please Guide me to some place where I can put the technical issues I find
out along my Development endeavors.
I am so sorry for any misunderstanding that might have happened as a result
of those actions.
Thank

[2021-05-13 17:18] emg110 commented on #14
Sure, understood, I am and will be posting forum worthy content on forums
for sure but as a developer I prefer repository issues style 😁, old
habits die hard! Thanks again and I will never put a post on Grow Algorand
GitHub issues again, thanks again for guidance.
Thanks again

Best Regards
-------------------------
*M.Ghiasi*
Technology Architect
-------------------------
*"COVID-19 Kills! Wear a

[2021-05-14 04:31] Mine77 commented on #14
You are welcome :)

[2021-05-18 18:01] JasonWeathersby opened #16 "Gitcoin Framework Task"
# [XXX ALGO/USDTa/USDCa] Framework Integration Examples

## Overview

* **Short Description**: Create Starter Projects for Common Frameworks
* **Bounty**: xxx ALGO/USDTa/USDCa
* **Estimated Time Commitment**: < 5 days
(For the following info, please also add the according labels to the issue)
* **Category**: Both
* **Experience Level**: Beginner / Intermediate

## Description

### What is this tas

[2021-05-18 18:02] JasonWeathersby opened #17 "Gitcoin Algorand PR Task"
# [XXX ALGO/USDTa/USDCa] Improve Algorand Code with Significant PR

## Overview

* **Short Description**: Improve Algorand source code by providing features or bug fixes
* **Bounty**: xxx ALGO/USDTa/USDCa
* **Estimated Time Commitment**: variable
* **Category**: Developer
* **Experience Level**: Beginner / Intermediate / Advanced

## Description

### What is this task?
This task involves providing

[2021-05-24 09:39] michielmulders opened #18 "[XXX ALGO] Another test bounty"
## Overview
* **Short Description**: This is a short description
* **Bounty**: xxx ALGO
* **Estimated Time Commitment**: xxx Days
  (For the following info, please also add the according labels to the issue)
* **Category**: Development / Content / Both
* **Experience Level**: Beginner / Intermediate / Advanced
* **Language Skills**: English / 中文
* **Status**: Open / In.Progress / Completed

## Des

[2021-05-24 09:51] #18 closed

[2021-05-25 13:43] JohannaAlgo opened #19 "[10 USD of ALGO]Download an Algorand Wallet"
# [USDCa] Download an Algorand Wallet

## Overview

* **Short Description**: This is a short description
* **Bounty**: xxx ALGO/USDTa/USDCa
* **Estimated Time Commitment**: xxx Days/Weeks
(For the following info, please also add the according labels to the issue)
* **Category**: Development / Content / Both
* **Experience Level**: Beginner / Intermediate / Advanced

## Description

### What is thi

[2021-05-26 05:30] AutumnAlgo opened #20 "Write About Layer 1 Energy Usage"
## Overview

* **Short Description**: Write a 1,000 word blog comparing the energy consumption of top layer 1 blockchains, including Algorand.
* **Bounty**: 400 ALGO tokens _(US residents will receive USDCa and have to opt-in to receive the asset in their wallet)_
* **Estimated Time Commitment**: 1 Day
* **Category**: Content
* **Experience Level**: Intermediate / Advanced

## Description

### Wha

[2021-05-31 13:05] dronzeranu commented on #20
i have already started the work

[2021-06-01 21:22] AutumnAlgo opened #21 "Write A Blog Post On The $ALGO Token"
## Overview

* **Short Description**: Write a < 1,000 word blog on the $ALGO token, including where you can buy it and what you can do with it.
* **Bounty**: 300 ALGO tokens _(US residents will receive USDCa and have to opt-in to receive the asset in their wallet)_
* **Estimated Time Commitment**: 1 Day
* **Category**: Content
* **Experience Level**: Intermediate

## Description

### Research and

[2021-06-01 21:40] AutumnAlgo opened #22 "Write A Blog Post: Why is Algorand A Powerful Platform for Issuing NFTs?"
## Overview

* **Short Description**: Write a < 1,000 word blog outlining why the Algorand platform and ecosystem are powerful choices for issuing NFTs.
* **Bounty**: 400 ALGO tokens _(US residents will receive USDCa and have to opt-in to receive the asset in their wallet)_
* **Estimated Time Commitment**: 1 Day
* **Category**: Content
* **Experience Level**: Intermediate

## Description

### What

[2021-06-03 01:49] AutumnAlgo opened #23 "Write A Blog Post On Algorand Community Governance Proposal"
## Overview

* **Short Description**: Write a < 1,000 word blog outlining how the Algorand Governance Program is revolutionary, in the context of existing/previous blockchain token governance programs.
* **Bounty**: 400 ALGO tokens _(US residents will receive USDCa and have to opt-in to receive the asset in their wallet)_
* **Estimated Time Commitment**: 1 Day
* **Category**: Content
* **Experienc

[2021-06-03 02:03] AutumnAlgo opened #24 "[400] Write A Blog Post About The Key Benefits of Building on Algorand"
## Overview

* **Short Description**: Write a < 1,000 word blog: What are the UVP, the key differentiators and benefits of building on Algorand for blockchain developers?
* **Bounty**: 400 ALGO
* **Estimated Time Commitment**: 1 Day
* **Category**: Content
* **Experience Level**: Intermediate

## Description

### Research and compose a < 1,000 word blog post on the UVP, key differentiators and ben

[2021-06-03 13:52] Ravi-Teja-Devara commented on #24
Most notable is that Algorand distributes the ALGO cryptocurrency it introduces into its economy with each new block to everyone who holds a certain amount of the currency in its wallets.

Algorand further enables users to create smart contracts (programmatic agreements for building decentralized applications) and tokens that can represent both new and existing assets.
Such features were successfu

[2021-06-07 05:22] jwdixon commented on #4
Sorry for the delay on this, I had various personal issues come up in May. I should be done very soon.

[2021-06-07 05:25] Mine77 commented on #4
@jwdixon  No problem. Just fyi we might migrate this bounty to gitcoin by the end of this month. Once we do we may need to apply their again and continue to submit your work their.

[2021-06-07 11:54] michielmulders opened #26 "Open DApp Competition [$400 - 5000]"
## Overview

* **Short Description**: Open DApp application
* **Bounty**: 400 - 5000 in USDCa or equivalent in ALGO tokens for non-US residents. _(The amount of ALGO will be based on the 30-day average price of ALGO on the payment date)_ Recipient has to opt-in to receive USDCa asset on Algorand blockchain.
* **Estimated Time Commitment**: 1-5 Days
* **Category**: Development
* **Experience Level*

[2021-06-07 12:15] michielmulders opened #27 "Improve Algorand Code or SDK repositories with Significant PR [$100 - 2000]"
## Overview
* **Short Description**: Improve Algorand source code by providing features or bug fixes
* **Bounty**: $100 - $2000 in USDCa or equivalent in ALGO tokens for non-US residents. _(The amount of ALGO will be based on the 30-day average price of ALGO on the payment date)_ Recipient has to opt-in to receive USDCa asset on Algorand blockchain.
* **Estimated Time Commitment**: variable
* **Ca

[2021-06-07 13:13] michielmulders opened #28 "Develop new framework integrations with Algorand [$500 - 2000]"
## Overview
* **Short Description**: Create Starter Projects for Common Frameworks
* **Bounty**: $500 - 2000 in USDCa or equivalent in ALGO tokens for non-US residents. _(The amount of ALGO will be based on the 30-day average price of ALGO on the payment date)_ Recipient has to opt-in to receive USDCa asset on Algorand blockchain.
* **Estimated Time Commitment**: < 5 days
* **Experience Level**: B

[2021-06-07 13:35] michielmulders opened #29 "Stateful smart contract to create Algorand Standard Asset [$2000]"
## Overview
* **Short Description**: Demonstrate how a stateful smart contract can be used to create Algorand Standard Assets (ASAs) (using an intermediary stateless smart contract escrow account)
* **Bounty**: 2000 USDCa in USDCa or equivalent in ALGO tokens for non-US residents. _(The amount of ALGO will be based on the 30-day average price of ALGO on the payment date)_ Recipient has to opt-in t

[2021-06-07 13:52] michielmulders opened #30 "Improve error and update handling for Algorand sandbox [$750]"
## Overview
* **Short Description**: Improving handling of updates and errors in [Algorand Sandbox](https://github.com/algorand/sandbox)
* **Bounty**: 750 USDCa in USDCa or equivalent in ALGO tokens for non-US residents. _(The amount of ALGO will be based on the 30-day average price of ALGO on the payment date)_ Recipient has to opt-in to receive USDCa asset on Algorand blockchain.
* **Estimated T

[2021-06-08 10:08] #19 closed

[2021-06-09 01:32] Mine77 opened #31 "This is the task title [$XXX (-$XXXX)]"
## Overview

* **Short Description**: This is a short description
* **Bounty**: $XXX (- $XXXX) USDCa
* **Estimated Time Commitment**: xxx Days/Weeks
(For the following info, please also add the according labels to the issue)
* **Category**: Development / Content / Both
* **Experience Level**: Beginner / Intermediate / Advanced (multiple can apply)

## Description

### What is this task?
Here shoul

[2021-06-09 01:33] #31 closed

[2021-06-09 09:00] michielmulders commented on #26
@fabianaugustus That sounds interesting! If you need any help, feel free to reach out via the [Algorand Discord](https://discord.gg/84AActu3at)

[2021-06-09 11:48] michielmulders commented on #28
@ mushroomgenie Thank you for applying. We already have a React.js starter kit and tutorials. Feel free to reapply for other frameworks or integrations you think are relevant for the Algorand ecosystem. Cheers!

[2021-06-09 13:44] michielmulders opened #32 "Connect Algorand node to the ELK stack [$850]"
## Overview
* **Short Description**: Create a tutorial that demonstrates how Algorand node runners can connect and use [ELK stack](https://www.elastic.co/what-is/elk-stack) to monitor their nodes.
* **Bounty**: $850 in USDCa or equivalent in ALGO tokens for non-US residents. _(The amount of ALGO will be based on the 30-day average price of ALGO on the payment date)_ Recipient has to opt-in to rece

[2021-06-09 16:12] nikbhintade commented on #26
@michielmulders I can create tutorials but Algorand already has an extensive list of tutorials and solutions. If you have some sort of list of ideas from which I can choose that will be helpful. Please let me know.

[2021-06-09 17:05] fabianaugustus commented on #26
Will do. I have the ideas and I am learning programming, but I am trying to build a team with the skills to bring those ideas to life. I will reach out on discord. Thank you Michael

Sent from ProtonMail mobile

-------- Original Message --------
On Jun 9, 2021, 5:00 AM, Michiel Mulders wrote:

[2021-06-09 21:55] michielmulders commented on #32
@ballagoes Can you introduce yourself and your experience with Algorand/ELK stack to see if this is a good match? If yes, you can re-apply for the bounty. Thank you!

[2021-06-09 22:00] michielmulders commented on #26
@nikbhintade I think you are referring to the 'integrations with other frameworks' bounty if I'm correct? I'll check with the team what we can use and update the bounty. Thanks!

[2021-06-10 06:21] Mine77 commented on #13
Hi @Vytek  We have moved this bounty to Gitcoin and will continue the management of this bounty there. Please go to this link and apply for taking the bounty in 10 days. Otherwise, we may reopen this bounty for others. Sorry for the inconvenience and thank you for the collaboration.

[2021-06-10 06:21] Mine77 commented on #4
Hi @jwdixon  We have moved this bounty to Gitcoin and will continue the management of this bounty there. Please go to this link and apply for taking the bounty in 10 days. Otherwise, we may reopen this bounty for others. Sorry for the inconvenience and thank you for the collaboration.

[2021-06-10 06:22] Mine77 commented on #3
Hi @kevguy  We have moved this bounty to Gitcoin and will continue the management of this bounty there. Please go to this link and apply for taking the bounty in 10 days. Otherwise, we may reopen this bounty for others. Sorry for the inconvenience and thank you for the collaboration.

[2021-06-10 07:21] summermuse opened #33 "[1000 USDCa] Hold an Algorand Offline Event [China] / 举办一场 Algorand 线下活动 [中国区]"
## 任务概览

* **简介**: 在中国的主要城市（北上深、省会城市、区块链热门城市等）举办一场以 Algorand 为主的线下活动，至少有 50 + 参与者。申请任务后，请及时联系 Algorand 基金会中国团队进行活动主题、活动时间地点、及拟邀嘉宾的沟通。
* **悬赏**: 1000 USDCa
* **预计所需时间**: 1 天
* **类别**: 社区
* **任务难度**: 中级

## 任务详情

### 这是个什么任务？
通过举办 Algorand 线下活动，可以更好地宣传推广 Algorand 项目、技术及生态，与当地社区进行互动。任务申请者将负责活动的所有组织工作。活动形式包含但不限于：线下 Meetup、技术沙龙、主题讲座、大学社团宣讲等。

Algorand 基金会将提供演讲嘉宾、社区宣传等支持。

### 任务申请者的要求
任务申请者需了解 Algorand

[2021-06-10 07:32] summermuse opened #34 "[500 USDCa] Hold an Algorand Online Webinar [China] / 举办一场 Algorand 线上直播活动 [China]"
## 任务概览

* **简介**: 举办一场以 Algorand 为主的线上活动，至少有 100 + 真实观众。申请任务后，请及时联系 Algorand 基金会中国团队进行活动主题、活动时间、及拟邀嘉宾的沟通。
* **悬赏**: 500 USDCa
* **预计所需时间**: 1 天
* **类别**: 社区
* **任务难度**: 中级

## 任务详情

### 这是个什么任务？
通过举办 Algorand 线上直播活动，来宣传推广 Algorand 项目、技术及生态，与社区进行互动。任务申请者将负责活动的所有组织工作。活动形式包含但不限于：人物采访、项目宣讲、圆桌讨论、AMA直播等

Algorand 基金会将提供演讲嘉宾、社区宣传等支持。

### 任务申请者的要求
任务申请者需了解 Algorand 项目，具备线上活动组织经验，并有一定的社区或媒体资源，以确保活动影响力及参与

[2021-06-10 07:59] summermuse opened #35 "[100 Algo] Introduce A Good Project to Join the Algorand Ecosystem (Grant/Partnership)"
## Overview

* **Short Description**: We welcome good projects to join the Algorand ecosystem and would like to reward the person who makes a successful recommendation. The project/company category includes and is not limited to application development, tools & infrastructure, research, and education & community.
* **Bounty**: 100 Algo ( or the equivalent amount in USDCa)
* **Estimated Time Commit

[2021-06-10 09:50] michielmulders commented on #32
@dozham Thank you for your application. I like your strong experience with the ELK stack, however, I'm a bit concerned about the low Algorand knowledge. We can definitely guide you on this project, especially on the metrics we would like to see. [Setting up a node](https://developer.algorand.org/docs/run-a-node/setup/install/) is relatively straightforward.

If you're ok with this, I'll leave the

[2021-06-10 09:59] dozham commented on #32
@michielmulders Thanks for your prompt response.
I am totally OK with your decision.
In the mean time, I will get myself more familiar with Algorand ecosystem.

Best regards.

[2021-06-10 10:07] michielmulders commented on #32
@dozham Thank you for understanding. We'll be launching more bounties (from beginner to advanced) these weeks, so there's definitely something you can pick up. Make sure to follow my [Gitcoin account](https://gitcoin.co/michielmulders) to get notified when a new bounty is published.

[2021-06-10 21:11] michielmulders commented on #32
@stylishsquid Thank you for applying. Can you tell me a bit more about your experience with Algorand? I like the steps in your overview, however, I'm missing some information about the Kibana dashboard? We would like to see specific metrics about votes, blocks, transactions, consensus, etc. Thanks for your time!

[2021-06-11 09:39] michielmulders opened #36 "Code Solutions and Tutorials for the Algorand Developer Portal [$300 (+$1500 for monthly winner)]"
## Overview
* **Short Description**: Publish code tutorials or solutions on the Algorand Developer Portal
* **Bounty**: $300 USDCa or equivalent in ALGO tokens for non-US residents. _(The amount of ALGO will be based on the 30-day average price of ALGO on the payment date)_ Recipient has to opt-in to receive USDCa asset on Algorand blockchain.
* **Estimated Time Commitment**: Variable
* **Category

[2021-06-11 13:22] michielmulders opened #37 "Code Solutions and Tutorials for the Algorand Developer Portal [+1500 ALGO for monthly winner]"
## Overview
* **Short Description**: Publish code tutorials or solutions on the Algorand Developer Portal
* **Bounty**: $300 USDCa or equivalent in ALGO tokens for non-US residents. _(The amount of ALGO will be based on the 30-day average price of ALGO on the payment date)_ Recipient has to opt-in to receive USDCa asset on Algorand blockchain.
* **Estimated Time Commitment**: Variable
* **Category

[2021-06-11 13:28] michielmulders commented on #37
@simona-a11 and @tanveerm82 can you reapply for [this bounty](https://gitcoin.co/issue/algorandfoundation/grow-algorand/37/100025860) as we had to make some changes to the denomination. Please also clarify whats solution you want to create so we can provide feedback. Thanks and sorry for the inconvenience!

[2021-06-11 13:33] michielmulders opened #38 "Connect Algorand node to the ELK stack"
## Overview
* **Short Description**: Create a tutorial that demonstrates how Algorand node runners can connect and use [ELK stack](https://www.elastic.co/what-is/elk-stack) to monitor their nodes.
* **Bounty**: 850 ALGO tokens _(US residents will receive USDCa and have to opt-in to receive the asset in their wallet)_
* **Estimated Time Commitment**: 2-3 Days
* **Category**: Development & Content
*

[2021-06-11 13:34] tanveerm82 commented on #37
I have to complete the work you

[2021-06-11 13:35] tanveerm82 commented on #37
Very good project

[2021-06-11 13:37] michielmulders commented on #32
@dozham @stylishsquid We had to move the bounty due to an issue on our side. I'll keep you posted. Feel free to reapply already so we can approve you later. Here's the updated [bounty](https://gitcoin.co/issue/algorandfoundation/grow-algorand/38/100025861). Sorry for the inconvenience!

[2021-06-11 13:38] michielmulders commented on #38
Application from @dozham: https://github.com/algorandfoundation/grow-algorand/issues/32

[2021-06-11 13:41] michielmulders opened #39 "Improve error and update handling for Algorand sandbox"
## Overview
* **Short Description**: Improving handling of updates and errors in [Algorand Sandbox](https://github.com/algorand/sandbox)
* **Bounty**: 750 ALGO tokens _(US residents will receive USDCa and have to opt-in to receive the asset in their wallet)_
* **Estimated Time Commitment**: 1-2 days
* **Category**: Development
* **Experience Level**: Intermediate / Advanced

## Description
### Wha

[2021-06-11 13:44] michielmulders commented on #39
@overhead525 can you reapply for [this bounty](https://gitcoin.co/issue/algorandfoundation/grow-algorand/39/100025862) as we had to make some changes to the denomination. The bounty has been reserved for you. Thanks and sorry for the inconvenience!

[2021-06-11 13:45] #30 closed

[2021-06-11 13:47] michielmulders opened #40 "Stateful Smart Contract To Create Algorand Standard Asset"
## Overview
* **Short Description**: Demonstrate how a stateful smart contract can be used to create Algorand Standard Assets (ASAs) (using an intermediary stateless smart contract escrow account)
* **Bounty**: 2000 ALGO tokens _(US residents will receive USDCa and have to opt-in to receive the asset in their wallet)_
* **Estimated Time Commitment**: 3 Days
* **Category**: Development / Content
*

[2021-06-11 13:48] michielmulders commented on #40
@nullun Can you reapply to the bounty? We had some issues and had to move the bounty. Sorry for the inconvenience. The bounty has been reserved for you.

Please apply with the same work plan:

[2021-06-11 13:51] michielmulders opened #41 "Develop new framework integrations with Algorand"
## Overview
* **Short Description**: Create Starter Projects for Common Frameworks
* **Bounty**: 500 - 2000 ALGO tokens _(US residents will receive USDCa and have to opt-in to receive the asset in their wallet)_
* **Estimated Time Commitment**: < 5 days
* **Experience Level**: Beginner / Intermediate (AlgoDev)

## Description
### What is this task?
This task involves creating starter projects that

[2021-06-11 13:53] #28 closed

[2021-06-11 13:57] michielmulders opened #42 "Improve Algorand Code or SDK repositories with Significant PR [100 - 2000 ALGO]"
## Overview
* **Short Description**: Improve Algorand source code by providing features or bug fixes
* **Bounty**: 100 - 2000 ALGO tokens _(US residents will receive USDCa and have to opt-in to receive the asset in their wallet)_
* **Estimated Time Commitment**: variable
* **Category**: Developer (AlgoDev)
* **Experience Level**: Beginner / Intermediate / Advanced

## Description
### What is this

[2021-06-11 14:01] #27 closed

[2021-06-11 14:02] michielmulders commented on #42
@barnjamin Can you re-apply for the [bounty](https://gitcoin.co/issue/algorandfoundation/grow-algorand/42/100025865) and we will review it. We had some issues on our side and had to republish the bounty. Sorry for the inconvenience!

[2021-06-11 14:03] michielmulders opened #43 "Open DApp Competition"
## Overview

* **Short Description**: Open DApp application
* **Bounty**: 400 - 5000 ALGO tokens _(US residents will receive USDCa and have to opt-in to receive the asset in their wallet)_
* **Estimated Time Commitment**: 1-5 Days
* **Category**: Development
* **Experience Level**: Beginner to advanced

## Description

### What is this task?

Open competition with multiple winners to create valuab

[2021-06-11 14:05] #26 closed

[2021-06-11 14:08] michielmulders commented on #43
@fabianaugustus Can you reapply for [this bounty](https://gitcoin.co/issue/algorandfoundation/grow-algorand/43/100025866) as we had some issues. Sorry for the inconvenience!

Make sure to include your original text:

Thank you!

[2021-06-11 14:14] #36 closed

[2021-06-11 14:16] #32 closed

[2021-06-11 14:16] #29 closed

[2021-06-11 15:20] ballagoes commented on #32
Ok

Pada tanggal Jum, 11 Jun 2021 9.16 PM, Michiel Mulders <
***@***.***> menulis:

[2021-06-11 16:03] overhead525 commented on #30
Why exactly was this cancelled?

[2021-06-11 16:12] overhead525 commented on #39
@michielmulders I commented on the last issue before I saw this. I was a bit confused but we're good now 👍.

[2021-06-11 17:39] AutumnAlgo opened #44 "This is the task title"
## Overview

* **Short Description**: Create a < 60 sec, live-action video illustrating what a "global borderless economy" looks like.
* **Bounty**: 300 ALGO tokens _(US residents will receive USDCa and have to opt-in to receive the asset in their wallet)_
* **Estimated Time Commitment**: 1 Day
* **Category**: Content
* **Experience Level**: Beginner / Intermediate

## Description

### What is thi

[2021-06-11 17:40] codinronan commented on #22
I'd like to take this one. I'm the principal engineer at Lofty AI building tokenization for real estate and we are using Algorand for this. I can offer some deep insight into our choices and how Algorand was the perfect platform for this.

Do I need to do anything else here?

[2021-06-11 17:42] AutumnAlgo commented on #22
Hi there, please hold tight as we are preparing to launch these officially on Gitcoin.

[2021-06-11 17:46] AutumnAlgo opened #45 "Create an animated video illustrating a "global borderless economy""
## Overview

* **Short Description**: Create a < 60 sec, animated video illustrating what a "global borderless economy" looks like.
* **Bounty**: 300 ALGO tokens _(US residents will receive USDCa and have to opt-in to receive the asset in their wallet)_
* **Estimated Time Commitment**: 1 Day
* **Category**: Content
* **Experience Level**: Beginner / Intermediate

## Description

### What is this t

[2021-06-11 17:46] codinronan commented on #22
Will do. Thanks.

[2021-06-11 17:54] AutumnAlgo opened #46 "Design original art depicting 'inclusivity', issue it as an NFT on Algorand."
## Overview

* **Short Description**: Design an original piece of digital art that depicts "inclusivity", issue it as an NFT on Algorand.
* **Bounty**: 300 ALGO tokens _(US residents will receive USDCa and have to opt-in to receive the asset in their wallet)_
* **Estimated Time Commitment**: 1 Day
* **Category**: Content
* **Experience Level**: Beginner / Intermediate

## Description

### What is

[2021-06-11 18:00] AutumnAlgo opened #47 "Design original art depicting 'global borderless economy', issue as NFT on Algorand"
## Overview

* **Short Description**: Design an original piece of digital art that depicts "global borderless economy", issue it as an NFT on Algorand.
* **Bounty**: 300 ALGO tokens _(US residents will receive USDCa and have to opt-in to receive the asset in their wallet)_
* **Estimated Time Commitment**: 1 Day
* **Category**: Content
* **Experience Level**: Beginner / Intermediate

## Description

[2021-06-11 18:05] AutumnAlgo opened #48 "Shoot a selfie video: Share why Algorand is the future of finance. Post it!"
## Overview

* **Short Description**: Shoot a < 60 sec selfie video, telling the world why Algorand is the future of finance. Post it on Instagram or Twitter.
* **Bounty**: 50 ALGO tokens _(US residents will receive USDCa and have to opt-in to receive the asset in their wallet)_
* **Estimated Time Commitment**: 30 minutes
* **Category**: Content
* **Experience Level**: Beginner

## Description

##

[2021-06-11 18:13] AutumnAlgo opened #49 "Design a meme using the Algorand "A": depict speed, scalability, finality"
## Overview

* **Short Description**: Design a meme using the Algorand "A" that depicts speed, scalability and finality.
* **Bounty**: 25 ALGO tokens _(US residents will receive USDCa and have to opt-in to receive the asset in their wallet)_
* **Estimated Time Commitment**: 1 hour
* **Category**: Content
* **Experience Level**: Beginner / Intermediate

## Description

### What is this task?
Design

[2021-06-11 18:16] AutumnAlgo opened #50 "Design a meme depicting Algorand as a sleeping giant."
## Overview

* **Short Description**: Design a meme depicting Algorand as a sleeping giant.
* **Bounty**: 25 ALGO tokens _(US residents will receive USDCa and have to opt-in to receive the asset in their wallet)_
* **Estimated Time Commitment**: 1 hour
* **Category**: Content
* **Experience Level**: Beginner / Intermediate

## Description

### What is this task?
Design a meme that displays Algoran

[2021-06-11 18:19] AutumnAlgo opened #51 "Design a meme depicting a notable characteristic of Algorand."
## Overview

* **Short Description**: Design a meme of your choice that depicts a notable characteristic of Algorand.
* **Bounty**: 25 ALGO tokens _(US residents will receive USDCa and have to opt-in to receive the asset in their wallet)_
* **Estimated Time Commitment**: 1 hour
* **Category**: Content
* **Experience Level**: Beginner / Intermediate

## Description

### What is this task?
Design a

[2021-06-12 01:15] srisankethu commented on #43
@michielmulders I have applied for the bounty, can I start working on integrating Algorand blockchain to my [solution](https://github.com/srisankethu/B-Audit)?

[2021-06-12 16:47] ljs49 commented on #41
Hi @michielmulders
Can you please point to the reactjs starter kit so that I can understand the exact functionality required?

Thanks

[2021-06-12 18:29] mySoul8012 commented on #41
Where is the Algorand SDK, I'm very sorry, I didn't find it

[2021-06-13 01:14] jwdixon commented on #4
Done, thank you!

[2021-06-13 09:32] ipaleka commented on #41
https://developer.algorand.org/docs/reference/sdks/

[2021-06-15 05:34] Mine77 opened #52 "Unity 3D Asset SDK"
## Overview
* Short Description: Create a Unity3D Asset (SDK) in the Unity Asset Store.
* Bounty: 7000 ALGO tokens _(US residents will receive USDCa and have to opt-in to receive the asset in their wallet)_
* Estimated Time Commitment: 1-2 weeks
* Category: Development
* Experience Level: Advanced
* Language Skills: English

## Description

### What's the goal for this task?
Create a Unity3D Asset

[2021-06-15 05:34] Mine77 commented on #13
The reward amount of this bounty has been changed and is republished at #52

[2021-06-15 05:34] #13 closed

[2021-06-15 06:57] dronzeranu commented on #51
completed first two steps
1.https://twitter.com/anurag_chandel/status/1404692746799968257?s=20

[2021-06-15 07:50] dronzeranu commented on #49
@AutumnAlgo completed first two steps
1.https://twitter.com/anurag_chandel/status/1404705562772733954?s=20
2.https://github.com/dronzeranu/Algorand_Meme_Bounty/blob/main/README.md
Please provide gitcoin link

[2021-06-15 08:01] Mine77 commented on #9
completed

[2021-06-15 08:01] #9 closed

[2021-06-15 12:20] Mine77 opened #53 "Write About Layer 1 Energy Usage"
## Overview

* **Short Description**: Write a 1,000 word blog comparing the energy consumption of top layer 1 blockchains, including Algorand.
* **Bounty**: 400 ALGO tokens _(US residents will receive USDCa and have to opt-in to receive the asset in their wallet)_
* **Estimated Time Commitment**: 1 Day
* **Category**: Content
* **Experience Level**: Intermediate / Advanced

## Description

### Wha

[2021-06-15 12:22] Mine77 commented on #20
@AutumnAlgo Hi Autumn, this bounty is republished at #53
Please pay attention to that thread for updates

[2021-06-15 12:22] #20 closed

[2021-06-15 12:28] Mine77 commented on #51
@dronzeranu Could you please take the task from the Gitcoin page and submit your work there? Thank you very much.

[2021-06-16 00:17] summermuse opened #54 "Telegram Management [Japan] / テレグラム日本公式アカウントの運営"
## Overview

* **Short Description**: Overall management/administration of Telegram Japan account
* **Bounty**: 1000 ALGO
* **Estimated Time Commitment**: Every 3 Months
* **Category**: Community
* **Experience Level**: Intermediate / Advanced
* **Mode**: Traditional

## Description

### What is this task?
Manage daily communication in Telegram Japan to keep the group active and positve.  When we

[2021-06-16 00:57] summermuse opened #55 "Traditional Chinese Facebook & Medium Management / 繁體中文 Facebook 及 Medium 賬號管理"
## Overview

* **Short Description**: Facebook & Medium Accounts Management (Traditional Chinese)
* **Bounty**: 1000 ALGO tokens _(US residents will receive USDCa and have to opt-in to receive the asset in their wallet)_
* **Estimated Time Commitment**:   Every 3 months
* **Category**: Content
* **Experience Level**: Beginner / Intermediate
* **Mode**: Traditional / Collaborative

## Description

[2021-06-16 01:48] summermuse opened #56 "Algorand Meme Design [Wechat] / 创作 Algorand 相关的微信表情"
## 任务概览

* **简介**:  创作一个与 Algorand 相关，包含 Algorand 元素的有趣、有积极意义的微信表情用于社群传播。
* **悬赏**: 25 ALGO
* **预计所需时间**: 1 天
* **类别**: 社区
* **任务难度**: 初级/中级

## 任务详情

### 这是个什么任务？

设计一个有关 Algorand 的微信表情吧！请确保原创，并且没有版权问题，不涉及非法的内容。

有关颜色、样式和风格，可参考 Algorand 基金会的品牌指南：(https://algorand.foundation/ecosystem/community-resources)

Algorand Logo 有商标保护，请勿做随意改动。

### 任务申请者的要求
设计能力。

### 交付内容
**1. 有趣且有积极意义的 Algorand 相关微信表情**

[2021-06-16 02:20] summermuse opened #57 "Write An In-depth Article about Algorand [Chinese] / 攥写一篇 Algorand 相关的深度文章"
## 任务概览

* **简介**:  攥写一篇与 Algorand 相关的千字左右原创深度文章，展示 Algorand 的生态、技术、团队等方面优势，发布文章于相关平台并实现有效传播。
* **悬赏**: 400 ALGO
* **预计所需时间**: 1 天
* **类别**: 内容
* **任务难度**: 中级 / 高级

## 任务详情

### 这是个什么任务？
对Algorand项目进行深入研究，并攥写一篇以 Algorand 为主题的原创深度文章，发布于自有平台或者媒体平台，确保一定的传播度。

**供参考的文章主题：**
Algorand 去中心化治理
Algorand 链上 NFT / DeFi 生态
Algorand Layer-1 技术

### 任务申请者的要求
任务申请者需了解 Algorand 项目、具备写作经验，并有一定的社区或媒体资源，以确保文章影响力及传播度

[2021-06-16 02:32] summermuse opened #58 "Telegram Management [China] / Algorand 中文电报群管理"
## 任务概览

* **简介**:  负责每日 Algorand 中文电报群的管理
* **悬赏**: 1000 ALGO
* **预计所需时间**: 每三个月
* **类别**: 社区
* **任务难度**: 中级 / 高级

## 任务详情

### 这是个什么任务？
管理 Algorand 中文电报群，同步 Algorand 消息、回复群成员相关问题，让群内保持活跃且积极的交流；举办相关活动进行引流以及活跃社区；推动群内 Tipbot 的使用度。

### 任务申请者的要求
任务申请者需了解 Algorand 项目、具备电报社群管理经验，并有一定的社区资源，来进行社区联动及资源置换。

目前只需1位社群管理者，申请任务后请与 Algorand 基金会团队联系沟通 （Algorand 微信客服ID：Algorand_Admin，备注：悬赏任务）。

### 交付内容
**1. 社群人

[2021-06-16 02:46] summermuse opened #59 "Create a Video about Algorand / 创作一条与 Algorand 相关的视频"
## 任务概览

* **简介**: 创作一条 Algorand 相关的原创视频作品，发布视频于相关平台并实现有效传播。
* **悬赏**: 400 ALGO
* **预计所需时间**: 1 天
* **类别**: 内容
* **任务难度**: 中级 / 高级

## 任务详情

### 这是个什么任务？
对Algorand项目进行深入研究，并创作一条以 Algorand 为主题的原创视频（形式不限 - 真人出镜、动画视频等），展示 Algorand 的生态、技术、团队等方面优势，发布于自有平台或者媒体平台，确保一定的传播度。

**供参考的视频主题：**
Algorand 的无国界经济
如何发行 Algorand ASA 资产
Algorand 团队采访

### 任务申请者的要求
任务申请者需了解 Algorand 项目、具备视频制作经验，并有一定的社区或媒体资源，以确保视频影响力及传

[2021-06-16 14:13] figurestudios opened #60 "Potential task"
# Fixing up written ALGO content

## Overview

* **Short Description**: Fixing ERRORs in documentation & .md files.
* **Bounty**: ?
* **Estimated Time Commitment**: ?
* **Category**: Content
* **Experience Level**: Beginner / Intermediate / Advanced
* **Mode**: Collaborative

## Description

### What is this task?
A lot of spelling errors, factual errors, and other similar errors can slip through

[2021-06-16 14:15] figurestudios commented on #60
I'm just dipping my toes into algorandness =) If it gets accepted as a bounty, I'll start ticking of other bounties too such as the Unity one.

[2021-06-16 14:16] figurestudios commented on #60
https://github.com/algorandfoundation/grow-algorand/pull/61

[2021-06-16 14:22] figurestudios commented on #60
https://github.com/algorandfoundation/grow-algorand/pull/62

[2021-06-16 14:26] figurestudios commented on #60
https://github.com/algorandfoundation/grow-algorand/pull/63

[2021-06-16 14:51] #60 closed

[2021-06-16 14:52] michielmulders commented on #60
This falls under bounty https://gitcoin.co/issue/algorandfoundation/grow-algorand/27/100025836 if you can also find fixes for code examples, not only grammar mistakes. If you have bounty suggestions, you can ask them directly in Discord and tag me! Thanks :)

[2021-06-16 15:33] Deosaju commented on #51
Submitted my work ! please review it !

[2021-06-16 18:17] sidharthpunathil commented on #51
Do review :)
https://twitter.com/iamsidharthp/status/1405227115549630467

[2021-06-16 19:16] tconnolly11 commented on #21
Official submission of draft - https://developer.algorand.org/solutions/everything-you-wanted-to-know-about-the-algo-token/ which can also be found here: https://github.com/tconnolly11/algorand-tutorials/blob/main/Everything%20you%20wanted%20to%20know%20about%20the%20%24ALGO%20token.txt

[2021-06-16 23:20] sgtpepe commented on #46
Work has been started from my part. I will submit my work soon, it is finished but I have to mint the NFT.

[2021-06-17 06:56] Pachilicious commented on #51
Hi,

Could you please review? Thank you!

https://twitter.com/Tony_Medicina/status/1405407440653389825/photo/1
https://github.com/Pachilicious/Algo/blob/main/Algo%20I%20bet%20he%20is.jpeg

[2021-06-17 09:39] panigale120 commented on #51
helo guys! hope it's cool and u like it (:

[github](https://github.com/algorandfoundation/grow-algorand/pull/64#issuecomment-863089594)
[twitter](https://twitter.com/asoci120/status/1405457433078734849)

[2021-06-17 15:10] sgtpepe commented on #46
Hello, I am new in this platform. I finished the task and published my NFT (#244997623). I submitted the form as well, I hope that this is enough to be considered for the bounty.

[2021-06-17 16:06] Ansuz4u commented on #51
Submitted my work  here it is

https://twitter.com/KevinDu79902361/status/1405545124185067522
https://github.com/Ansuz4u/Meme-creation/blob/main/IMG_1641%5B1%5D.PNG

[2021-06-17 16:10] michielmulders commented on #41
That one is in progress at the moment!

[2021-06-17 16:20] gidonkatten commented on #40
Not sure if this is the right place to let you know, but I have submitted a solution. Thanks!

[2021-06-17 16:21] gidonkatten commented on #40
@michielmulders not sure if this is the right place to let you know, but I have submitted a solution. Thanks!

[2021-06-17 16:53] overhead525 commented on #39
@gitcoinbot Yes, I'm still working on it

[2021-06-17 21:14] ExtraFoxnft commented on #51
finished submission by ExtraFoxNFT
https://github.com/ExtraFoxnft/Algorand-bounties/pull/2#
https://twitter.com/EFoxAJ/status/1405629637762318336?s=19

[2021-06-17 21:55] crypblockcode commented on #41
I made a small mistake by copying the other poster his proposal as inspiration and not removing it. Sorry! Let me know if you have any questions :)

[2021-06-18 08:53] algokittens commented on #46
Hi, I just submitted the following 'Pride' NFTs:
MEOW_041 - 212949243 (LGBT pride)
MEOW_042 - 242440903 (Pansexual pride)
MEOW_045 - 240534058 (Aromantic pride)
MEOW_046 - 228247325 (Genderqueer pride)

[2021-06-18 09:25] Mine77 opened #66 "Design original art depicting 'global borderless economy', issue as NFT on Algorand"
## Overview

* **Short Description**: Design an original piece of digital art that depicts "global borderless economy", issue it as an NFT on Algorand.
* **Bounty**: 300 ALGO tokens _(US residents will receive USDCa and have to opt-in to receive the asset in their wallet)_
* **Estimated Time Commitment**: 1 Day
* **Category**: Content
* **Experience Level**: Beginner / Intermediate

## Description

[2021-06-18 09:37] Mine77 opened #67 "test"
test

[2021-06-18 09:38] Mine77 commented on #67
@gitcoinbot help

[2021-06-18 09:39] eiriksfa commented on #52
I will keep you updated in this thread if that is ok, updated work-plan (with link to backlog) will come in 1-2 weeks.

[2021-06-18 09:40] Mine77 commented on #59
@gitcoinbot help

[2021-06-18 09:40] #67 closed

[2021-06-18 10:57] illustrator2 commented on #51
Submitted my work

https://github.com/illustrator2/grow-algorand/blob/master/Untitled-Artwork-2.png
https://twitter.com/TugushiSandro/status/1405840165264924674

[2021-06-18 11:24] dzuqe commented on #37
Hey. I can't edit my work plan on gitcoin. It didn't post the github and tutorial link I had added on the form. I'll post them here

github: https://github.com/dzuqe/npc
tutorial: https://developer.algorand.org/tutorials/a-simple-npc-game-character-using-a-stateful-contract-and-atomic-transfers

[2021-06-18 11:29] leocornelius commented on #23
Should I submit my work by both the provided form and the submit work button on the gitcoin site?

[2021-06-18 11:42] leocornelius commented on #23
I submitted it to both just to be sure, I hope you like it.

[2021-06-18 12:19] Squazher commented on #22
I just made my submission.

[2021-06-18 13:57] michielmulders commented on #41
@luisantoniocrag Happy to see your Vue.js work!
We have already the following two tutorials that can kickstart you:
1. [Real-Time Block Visualizer with Vue](https://developer.algorand.org/tutorials/real-time-block-visualizer-vue/)
2. [Build a Web dApp Algorand Wallet Interface Using Reach and Vue](https://developer.algorand.org/tutorials/build-a-web-dapp-algorand-wallet-interface-using-reach-and-v

[2021-06-18 13:57] michielmulders commented on #41
No worries, thank you for the detailed plan!

[2021-06-18 14:00] michielmulders commented on #40
@gidonkatten That looks like a very comprehensive solution, amazing work! We'll review your solution and I'll get back to you here. Note that there's also a blog post requirement for this bounty but let's first review the code and then start work on the blog post.

@utopiuskeller letting you know that we now have a complete solution. Feel free to continue working on the issue but we will only pay

[2021-06-18 14:10] gidonkatten commented on #40
@michielmulders Great thank you so much! I have already created a publication for the blog post on the Algorand developer documentation which is under review.

[2021-06-18 14:13] UtopiusKeller commented on #40
Congratulations Gidon on an excellent solution. Best Regards, -------------------------------Jeffery S. Keller From: GidonSent: Friday, June 18, 2021 10:10 AMTo: algorandfoundation/grow-algorandCc: UtopiusKeller; MentionSubject: Re: [algorandfoundation/grow-algorand] Stateful Smart Contract To Create Algorand Standard Asset ***@***.*** Great thank you so much! I have already created a publication

[2021-06-18 14:16] UtopiusKeller commented on #40
Reposting ...

Congratulations Gidon on an excellent solution!

Jeffery Keller

[2021-06-18 15:02] Squazher commented on #21
I just made my submission.
https://squazher.medium.com/algorand-algo-token-5077908596e6

[2021-06-18 19:27] AutumnAlgo commented on #46
Yes it is, thank you very much! Please allow our team two weeks to receive
bounty submissions and respond. Thank you.
*__________________________*
*Autumn Moss Peñaloza*

*Head of Community, Americas Algorand FoundationTW: @autumnpenaloza*

On Thu, Jun 17, 2021 at 8:10 AM sgtpepe ***@***.***> wrote:

[2021-06-18 19:28] AutumnAlgo commented on #46
Hello, and wonderful! Please make sure you filled out the form
corresponding to your bounty so we can verify your submission.
*__________________________*
*Autumn Moss Peñaloza*

*Head of Community, Americas Algorand FoundationTW: @autumnpenaloza*

On Fri, Jun 18, 2021 at 1:54 AM algokittens ***@***.***>
wrote:

[2021-06-18 19:31] AutumnAlgo commented on #51
Thanks so much. Our team will review and be in touch.
*__________________________*
*Autumn Moss Peñaloza*

*Head of Community, Americas Algorand FoundationTW: @autumnpenaloza*

On Wed, Jun 16, 2021 at 11:56 PM Pachilicious ***@***.***>
wrote:

[2021-06-18 19:33] AutumnAlgo commented on #22
Wonderful, thank you. We look forward to reading it.
*__________________________*
*Autumn Moss Peñaloza*

*Head of Community, Americas Algorand FoundationTW: @autumnpenaloza*

On Fri, Jun 18, 2021 at 5:20 AM Squazher ***@***.***> wrote:

[2021-06-18 19:33] AutumnAlgo commented on #23
Yes please.
*__________________________*
*Autumn Moss Peñaloza*

*Head of Community, Americas Algorand FoundationTW: @autumnpenaloza*

On Fri, Jun 18, 2021 at 4:29 AM Leo Cornelius ***@***.***>
wrote:

[2021-06-19 13:53] shockingblack commented on #51
there is my submission for algorand <3

https://twitter.com/rati70993347/status/1406188147659137027
https://github.com/shockingblack/grow-algorand/commit/86d32f0428b5d6805bafbc7f98cfb546eab970da

[2021-06-19 16:12] UtopiusKeller commented on #40
The specification is re-posted below in hopes of spurring a constructive discussion leading to a few short questions.

    1. By a user A: Deployment of a stateful application.
    2. By the same user A: Generation and funding of a stateless smart contract account playing the role of an escrow for the application.
    3. By the same user A: Link of the stateful application with the escrow account.

[2021-06-19 17:29] AutumnAlgo commented on #51
This meme features very inappropriate content. Please delete your tweet
immediately.

On Sat, Jun 19, 2021 at 6:53 AM shockingblack ***@***.***>
wrote:

--
*__________________________*
*Autumn Moss Peñaloza*

*Head of Community, Americas Algorand FoundationTW: @autumnpenaloza*

[2021-06-19 17:31] senescalART commented on #46
I have artwork complete for this bounty, but frankly, the pull request creation process has me at a loss. I'm assuming "PR" in the form refers to pull request? How do I create one for this specifically?

[2021-06-20 00:55] matcheydj commented on #51
I have to comment here? My tweet is
https://twitter.com/ClemNightmare/status/1405653731992117248/
If the account itself is problematic let me know and I'll delete the whole account.

[2021-06-20 01:40] AutumnAlgo commented on #51
I am unable to see your tweet because Twitter flagged it for inappropriate
content.

On Sat, Jun 19, 2021 at 5:55 PM matcheydj ***@***.***> wrote:

--
*__________________________*
*Autumn Moss Peñaloza*

*Head of Community, Americas Algorand FoundationTW: @autumnpenaloza*

[2021-06-20 03:22] Deosaju commented on #51
Please review my work !
https://github.com/algorandfoundation/grow-algorand/issues/51#issuecomment-862481070
https://twitter.com/deo_saju/status/1405181598413303818?s=20

[2021-06-20 04:49] overhead525 commented on #39
See the following PR's
https://github.com/algorand/sandbox/pull/50
https://github.com/algorand/sandbox/pull/52
https://github.com/algorand/sandbox/pull/53

[2021-06-20 05:48] shockingblack commented on #51
Oh i though it was funny 1st time, but i see why it's not inappropriate, sorry about that. Can i try again?

[2021-06-20 11:02] gidonkatten commented on #40
I can give a go at answering some of your questions. I am no expert so please don't take my answers as a source of truth.

1a. AFAIK it is not possible. Smart contracts in Algorand can only approve / reject transactions - they **cannot** create transactions. Therefore there always has to be an account that submits the transaction and this must be triggered by an external entity (typically a user).

[2021-06-20 13:49] edwardtay commented on #51
this is confusing

[2021-06-20 13:51] edwardtay commented on #51
But the form https://forms.gle/z8xaYiGQiq9pxoC97 has a field Link to meme posted on Twitter ?

heres my work
![algorand_meme](https://user-images.githubusercontent.com/4763902/122676685-aa65b000-d211-11eb-9663-d3dcd11b0fdb.png)

[2021-06-20 18:27] matcheydj commented on #51
Thank you for letting me know, I have reposted the meme and removed "Mark my tweets as containing sensitive content," I enabled that because I'm not sure about what content is restricted.
https://twitter.com/ClemNightmare/status/1406679467381116930
[https://twitter.com/ClemNightmare/status/1406679467381116930](url)
Thanks,

[2021-06-20 23:00] EugenieOff commented on #50
Hello!
I communicate that I also entered this work, I reiterate sincere feelings of pride and satisfaction in participating.
A big hug from all Brazilians to the whole Algorand family.

[2021-06-20 23:03] senescalART commented on #50
I have made a submission to this bounty.

[2021-06-21 08:56] Mine77 commented on #52
@eiriksfa  sure just post your progress here would be great.

[2021-06-21 09:05] michielmulders commented on #37
@dzuqe Do you mean you've also submitted the link via the form? I've received an email for this solution, I'll review it thank you!

[2021-06-21 09:12] Mine77 commented on #4
@jwdixon  Hi thanks for the submission.
I've reviewed your work and everything looks so awesome to me!

However, according to description, for the full rewards there is still a deliverable that you might need to work on a bit.
For deliverable 2, aside of the Readme.md, we would also need you submit a tutorial articles to our developer portal:

I strongly recommend you to complete this part as well

[2021-06-21 12:05] summermuse opened #69 "Create An Algorand Promotional Pod Cast"
## Overview

* **Short Description**: Podcasts that interview Algorand Foundation, Algorand Employees or Algorand Projects to promote the token or the technology
* **Bounty**: 600 ALGO tokens (US residents will receive USDCa and have to opt-in to receive the asset in their wallet)
* **Estimated Time Commitment**: 1 day
* **Category**: Content
* **Experience Level**:  Intermediate
* **Mode**: Colla

[2021-06-21 15:10] UtopiusKeller commented on #40
Thank you Gidon - that was very helpful.

[2021-06-21 15:24] michielmulders commented on #41
@nghoa sounds good!

[2021-06-21 15:25] michielmulders commented on #42
@hio618 Can you provide more info on how you want to improve the Go SDK?

[2021-06-21 15:26] michielmulders commented on #42
@jordpw Repeating here: Sorry, that PR is too small to be eligble

[2021-06-21 15:26] michielmulders commented on #42
@niraj-kamdar What's the benefit of the `runtime type checker created for Python SDK SuggestedParams class`?

[2021-06-21 15:28] michielmulders commented on #43
vilijan I'm very interested in this solution. Let us know your current status on the DApp?

[2021-06-21 15:59] Niraj-Kamdar commented on #42
Here's the related issue: https://github.com/algorand/py-algorand-sdk/issues/179
Since python is dynamic typing language it don't assert on type automatically and that's why it won't be able to detect the type mismatch until the transaction execute.

[2021-06-21 16:15] Crazylove1 commented on #69
lgorand’s consensus protocol is able to scale to millions of users and sustain a high transaction rate, without incurring significant cost to participating users, this is what Algorand promote about Algorand scalability, such a great blockchain cause if i register on Conlist i always use Algorand for cashout to USD, low fee and fast transaction is what i care about, now i have so much interest wit

[2021-06-21 17:48] hhio618 commented on #42
I can work on any open issue like this one: https://github.com/algorand/go-algorand-sdk/issues/190, but I'm open to any other suggestions!

[2021-06-21 18:46] eadlam commented on #40
@michielmulders, this bounty is still open on gitcoin. Are you still accepting submissions or did @gidonkatten win it?

[2021-06-21 21:09] jwdixon commented on #4
@Mine77 Oh, sorry. I submitted this under “Solutions” in the Algorand Developer Portal. by clicking “Create Publication” and then “Solution”, and then I submitted it for review. I can’t find the workflow you’re referencing in the bounty.

[2021-06-22 09:30] Mine77 commented on #4
@jwdixon Let me check the backstage and come back to you. Thank you.

[2021-06-22 13:40] michielmulders commented on #42
Hi @Niraj-Kamdar , yes, that would work and would be a great addition. As you were first, feel free to tackle this issue. You can communicate with the issue creators in the thread on issue 179 in the py-algorand-sdk.

@jkschin I'm sorry, Niraj was first to claim this issue. If he can't complete the task, I'm happy for you to tackle it. Thanks for applying!

[2021-06-22 14:03] jkschin commented on #42
@michielmulders no worries. I'm actually just looking through all the issues in `py-algorand-sdk` and tackling them first before thinking about the bounty. Can you point me to any other open issues?

[2021-06-22 14:21] michielmulders commented on #42
You can take a look [here](https://github.com/algorand/py-algorand-sdk/issues/179) but there aren't many issues left.

[2021-06-22 14:22] michielmulders commented on #42
Looks like a great issue @hhio618 - Can you reply to the thread and tag the person who created the issue to check if it's still valid as its created in 2020. Thanks!

[2021-06-22 14:42] jkschin commented on #42
@michielmulders did you put the correct link? Your link brings me to a specific issue.

[2021-06-22 14:43] michielmulders commented on #42
@jackyzhang1981 sorry meant to send you to the issue overview: https://github.com/algorand/py-algorand-sdk

[2021-06-22 19:41] le-kag commented on #51
Hi, there is my submission for Algorand:

https://github.com/le-kag/Algorand/blob/main/20210622_210717.png

Waiting for it to be reviewed by @AutumnAlgo so I can post it on Twitter.

[2021-06-23 03:07] jkschin commented on #42
@michielmulders it's my first time participating in a Gitcoin Hackathon so I might not be doing the admin side of things correctly. I just got a PR merged and fixed https://github.com/algorand/py-algorand-sdk/issues/193. I started and submitted the work on Gitcoin, but I'd also like to work on https://github.com/algorand/py-algorand-sdk/issues/192. Does this Hackathon allow us to submit two separa

[2021-06-23 04:08] edwardtay commented on #51
done posting https://twitter.com/_Decentralized_/status/1407550768832335873

[2021-06-23 04:14] edwardtay commented on #51
Some suggestions for Algorand team, please rewrite the bounty description. It's not clear what the steps are in order

I'd lay out the challenge in 3 steps:
1. permission to post meme (create meme at your github, and register at https://gitcoin.co/issue/algorandfoundation/grow-algorand/51/100025898)
2. after permission granted, post meme on Twitter
3. submit proof of meme (https://forms.gle/z8xaYi

[2021-06-23 07:51] michielmulders commented on #40
@eadlam We are reviewing @gidonkatten 's submission which looks good so far. So we'll probably close this bounty and pay the reward. Feel free to look at any of the other bounties or help to improve the SDKs or Algorand core code. Cheers!

[2021-06-23 13:31] mikyR opened #71 "Trabajos"
Trabajos y fundacion

[2021-06-23 21:58] rookielector commented on #48
https://twitter.com/rookielector/status/1407817797892255746?s=20

Ready

[2021-06-24 06:28] arnon0208 opened #72 "memme"
![5ecoma](https://user-images.githubusercontent.com/41884054/123213322-11c08000-d4f0-11eb-9c78-d0193968d99d.jpg)
https://twitter.com/CryptoArnon/status/1407947866132271112

[2021-06-24 09:27] Mine77 commented on #72
Hi there, please follow the instruction in the bounty description to submit your work. Thank you. :)

[2021-06-24 09:27] #72 closed

[2021-06-24 09:27] Mine77 opened #73 "test"
test

[2021-06-24 12:41] ipaleka commented on #37
Hi everyone!

[I've been advised](https://discord.com/channels/491256308461207573/854752382880579645/857365586463555625) to submit my work as a publication and now it has [been reviewed](https://developer.algorand.org/solutions/getting-started-with-python-algorand-sdk-and-django/).

Should I submit it from [the bounty page](https://gitcoin.co/issue/algorandfoundation/grow-algorand/37/100025860) ri

[2021-06-24 12:59] michielmulders commented on #43
@fabianaugustus Let us know what the status is of your DApp?

[2021-06-24 13:03] Vilijan commented on #43
@michielmulders

I have fully completed it. You can find it on the following repo: https://github.com/Vilijan/ASABidding

Additionally, I have submitted a detailed Solution on the Algorand portal which is currently in a review by the Algorand Team.

This is my first time interacting with Gitcoin and I am still confused about what should be my next steps.

[2021-06-24 13:21] michielmulders commented on #42
@jkschin Can you check if you can submit a second PR? I don't think so but it's a cooperative contest, so might be possible. We also don't know, let me know once tested.

[2021-06-24 13:23] michielmulders commented on #42
@jkschin Feel free to work on algorand/py-algorand-sdk#192
Can you DM me on Discord with your wallet address and residency? Discord name --> `Michiel | Algorand Foundation#6116`

[2021-06-24 13:30] michielmulders commented on #41
@beakersoft I'm sorry that I had to stop you from working on the CLI tool. At the moment, we don't need such a tool although I understand its use and benefits but there are too few people using it. Feel free to submit other ideas!

[2021-06-24 13:32] michielmulders commented on #41
@babcoccl Thank you for starting work on Spring Boot! Make sure to include info like:

User information
Asset information
User balance
Transactions (and user transaction history with filter per asset type)

[2021-06-24 13:36] michielmulders commented on #41
@vofswords let me know your status on Algorand with Angular integration. Look at the above comment for the minimal requirements!

[2021-06-24 13:36] jkschin commented on #42
@michielmulders how do I join the channel on discord? The Gitcoin Discord link above doesn't seem to work and I can't seem to find a way to join.

[2021-06-24 14:05] jkschin commented on #42
@michielmulders I'm also working on https://github.com/algorand/py-algorand-sdk/issues/187 and have submitted a PR already. Will DM you on Discord when that merges.

[2021-06-24 14:29] babcoccl commented on #41
@michielmulders when you say to include that info, do you mean include it in methods in the spring boot starter to be developed or......?

[2021-06-24 14:32] Niraj-Kamdar commented on #42
@michielmulders I have some issues during integration test because type sanity checks are failing due to invalid input type.
https://github.com/algorand/py-algorand-sdk/pull/204

[2021-06-24 14:33] michielmulders commented on #41
Yes, I mean it should be part of your integration project. The goal is to create a project that shows other developers how you can fetch and display assets, balances, transactions, your profile, etc. So, your project should develop this code and then you can showcase it/describe in the blog post. We want as many possible components/recipes to be part of the project so people can get started easily

[2021-06-24 14:33] babcoccl commented on #41
@michielmulders roger! That's what I was planning on

[2021-06-24 14:35] michielmulders commented on #42
I've tagged Jason who can help you there. I'm not maintaining the repo so can't help with the tests.

[2021-06-24 15:56] Ansuz4u commented on #51
@AutumnAlgo, @Mine77

Have not seen my submission in the list yet was wondering if it fell through the cracks.

https://github.com/algorandfoundation/grow-algorand/issues/51#issuecomment-863369012

[2021-06-24 16:09] eiriksfa commented on #52
Update to satisfy the gitcoinbot: Still only working on this part time (last day of my full-time job is next week).
Have set up three simple "games" that I am experimenting on with ETH NFTs and Algorand NFTs (FPS, RPG and CCG style games)

[2021-06-24 17:38] saaqibz commented on #53
@Mine77 Where do you submit these? They don't seem like 'tutorials' or 'Solutions'. I tried submitting it as an 'article' but it was rejected because "Hello! Please re-check the bounty link for where to submit this content. The Dev Portal is for developer/code bounties only. Thanks!"

[2021-06-24 20:05] DavisWeaver commented on #53
I had the same issue! I resubmitted under "solutions" and haven't received any feedback yet so I'll let you know what happens!

[2021-06-24 21:06] michielmulders commented on #43
@Vilijan No problem for asking and thank you for submitting. I've recorded it on our internal board. So yes, please submit the link via Gitcoin then we can later pay you out via the platform. Also, make sure to add your wallet address. If you are based in the US (seems not), then you should opt-in to the USDCa asset because we can't pay out US residents in ALGO tokens. The number of hours worked d

[2021-06-24 21:37] michielmulders commented on #43
Thanks @Vilijan for submitting on Gitcoin!

[2021-06-24 21:42] Vilijan commented on #43
@michielmulders  Thank you for your help and contributions. I am really starting to like to community and the whole development experience. Have a nice holiday.

Btw, you guessed right I am not from US nor live there.

See you on the next bounty :D

[2021-06-24 21:43] michielmulders commented on #39
@overhead525 Thank you for submitting this work, I see you are working together with the Algorand team, great! Ping me once you've completed the second part and don't forget to submit work via Gitcoin as well. You can just submit a single PR (for part 2 e.g.) as you can only submit one link via Gitcoin. Keep me posted :)

[2021-06-24 21:43] michielmulders commented on #39
for reference: Link to the Gitcoin issue: https://gitcoin.co/issue/algorandfoundation/grow-algorand/39/100025862

[2021-06-24 23:15] gidonkatten commented on #37
@michielmulders I have submitted a solution for flipping a coin using hashes (commitment scheme) https://github.com/gidonkatten/flipping-a-coin. You can also found my blog post here https://developer.algorand.org/solutions/flipping-a-coin-using-hashing/ which I also copied in the google submission form.

[2021-06-25 01:20] babcoccl commented on #41
@michielmulders In your initial comment to me above, when you say 'User' do you mean account? Otherwise, could you direct me to the part of the SDK to retrieve user details?

[2021-06-25 02:49] saaqibz commented on #53
Thanks @DavisWeaver . How did you manage to resubmit on the gitcoin page? it wasn't showing any such option for me there

[2021-06-25 02:54] saaqibz commented on #53
@Mine77 I no longer have a submit work option on the site. Could you please update my PR submitted to the following link: https://developer.algorand.org/solutions/algorand-proof-of-stake-a-sustainable-solution/

I basically moved the article from the articles to solutions section

[2021-06-25 10:13] michielmulders commented on #41
@babcoccl yes I mean account information, account balance, assets an account owns/opted-in to, ...
You can find the SDK here: https://github.com/algorand/java-algorand-sdk
Docs for Java SDK here: https://algorand.github.io/java-algorand-sdk/
Also, use the search box on the Developer Portal to look for Java related tutorials, you'll find a lot of information. E.g. [this tutorial](https://developer.

[2021-06-25 12:40] DavisWeaver commented on #53
@Mine77 I did the same thing! you can find my submitted work here: https://developer.algorand.org/solutions/algorand-the-most-energy-efficient-payment-protocol-on-the-planet/

[2021-06-25 12:45] michielmulders commented on #40
@eadlam @UtopiusKeller We've accepted Gidon's submission and we'll publish the tutorial shortly. Thank you for applying, feel free to look at other bounties as well if you are interested! :) We'll continue to add new bounties, especially more challenging ones like this one! Cheers 🥇

[2021-06-25 12:52] michielmulders commented on #38
@stylishsquid I've approved you for this bounty! If you need help, please join our Discord and join one of the network/node related channels if you have questions about what metrics matter or what's needed. There's plenty of people that can help you if you need some clarifications. Please keep me posted on your progress in this GitHub thread! Thanks!

[2021-06-25 16:41] bakoushin commented on #3
I'm in progress working with this issue. I need around a week to figure out things and present my first draft.

[2021-06-25 20:06] ejbaran commented on #37
@ipaleka - We will likely have someone to review your post on the Dev Portal next week. In the meantime, you are welcome to post your code here. We do take into account community feedback, so it may be a good way for others to check it out and comment.

[2021-06-25 20:52] JSmith-BitFlipper commented on #43
@michielmulders I have a submission in progress for DApp for this hackathon. It is a DApp for diploma issuance on the Algorand blockchain. Currently, the code and Python SDK interaction program are mostly complete, and I am working on writing the README, in a similar fashion as Vilijan.

What I have now is here: https://github.com/JSmith-BitFlipper/algo-diplom

I would just like to make sure that

[2021-06-26 08:45] ipaleka commented on #37
Hi @ejbaran !

The project is [algodjango](https://github.com/ipaleka/algodjango), accompanied by [an introducing post](https://github.com/ipaleka/algodjango/blob/main/media/blog-post.md).

I have reached Michiel on the Discord channel about the future plans for algodjango. He gave me a few hints but now he's out of reach for a week or two. Is it possible to reach in a private message on the Disco

[2021-06-26 17:22] overhead525 commented on #39
Don't worry about the bot. I'm submitting the second part today.

[2021-06-27 01:20] overhead525 commented on #39
See PR https://github.com/algorand/sandbox/pull/56

[2021-06-27 14:28] beakersoft commented on #41
@michielmulders I've almost done an example github project for go fundme demo application using the algorand sdk, I'm going to create a blog post as well. Where do I create the actual blog post though, I have my own that i can submit it on but is there a standard platform you would like it on?

[2021-06-28 04:56] Mine77 commented on #43
Hi @JSmith-BitFlipper
Michiel is currently on a leave and I'm his helper here.
Your project looks cool and you are on the right path.
Please proceed to complete it and submit it over Gitcoin to leave a record there as well.
We are in the reviewing process already and will pay out all the bounties at once when we are done.
Thanks again for the contribution.

[2021-06-28 05:01] Mine77 commented on #37
hi @ipaleka  you can find me on Discord if you need any help. I'll cover for Michiel's position on his leave.
So far we are still reviewing your article as you may noticed we have a big amount of submissions coming in and it will still take around 1 week to complete reviewing.
For now, you can make a submission on Gitcoin with the link of your post on Developer Portal.
Once we are done with the re

[2021-06-28 05:24] Mine77 commented on #41
@beakersoft  thanks for the contribution.
You may submit your blog post via submission form here: https://forms.gle/FRAH9QwEGU7zPJ1h7

You can also publish it on your own blog once we've done reviewing it.
Just to keep it error-free.

Thank you.

[2021-06-28 10:51] summermuse commented on #69
@aroundtheblockchain Thanks for the good work. Nice episode. We will arrange for the reward distribution soon. Please keep an eye for incoming payment.

[2021-06-28 12:13] babcoccl commented on #41
@michielmulders When creating an account, one can either specify a mnemonic or seed (or nothing at all). In the case where a user were to specify both mnemonic and seed (via spring properties) what should the behavior of account creation be? I.E. mnemonic trumps seed or vice versa, or error?

[2021-06-28 17:48] ejbaran commented on #37
@ipaleka - I just added some comments to your submission through the Developer Portal. Take a look and feel free to make changes and/or respond.

Overall, well written and thorough and nice to see a Django solution that hooks up to sandbox since we don't have that yet.

[2021-06-28 23:43] AroundTheBlockchain commented on #69
Hi Summer,

Thank you :) Glad you like the episode!

Looking forward to interviewing more people within the Algorand ecosystem.

--
*Kind regards,*

*Rian - Around the blockchain *

*YT [image: 🎥] *

*https://youtube.com/c/AroundtheBlockchain*
<https://youtube.com/c/AroundtheBlockchain>

*Apple [image: 🍎] podcasts *

*https://apple.co/2RY6aWq* <https://apple.co/2RY6aWq>

*Spotify [image: 🎙] *

*ht

[2021-06-29 00:03] ejbaran commented on #37
@dzuqe - I just took a look at your tutorial through the Developer Portal and added my comments there.

I think this is a nice example app that helps users get started with stateful apps using pyteal. It is also one of the first of its kind. We don't have many pyteal examples yet. That said, I have requested several improvements/changes that I think will help make the experience flow a little bett

[2021-06-29 05:47] Mine77 commented on #41
An account on Algorand is specified by a private key, which can be converted into a mnemonic, and paired with a public key, which is used to generate account address.
I'm not sure what's the "seed" you are referring to here.
Can you give an example?

[2021-06-29 09:42] #73 closed

[2021-06-29 09:52] Mine77 commented on #53
Hi All,

Thank you for submitting work for these bounties. We have now closed this bounty and are processing successful candidates in the coming days.

Thank You!

[2021-06-29 09:52] #53 closed

[2021-06-29 09:52] Mine77 commented on #23
Hi All,

Thank you for submitting work for these bounties. We have now closed this bounty and are processing successful candidates in the coming days.

Thank You!

[2021-06-29 09:52] #23 closed

[2021-06-29 09:52] Mine77 commented on #22
Hi All,

Thank you for submitting work for these bounties. We have now closed this bounty and are processing successful candidates in the coming days.

Thank You!

[2021-06-29 09:52] #22 closed

[2021-06-29 09:52] Mine77 commented on #21
Hi All,

Thank you for submitting work for these bounties. We have now closed this bounty and are processing successful candidates in the coming days.

Thank You!

[2021-06-29 09:52] #21 closed

[2021-06-29 09:52] Mine77 commented on #49
Hi All,

Thank you for submitting work for these bounties. We have now closed this bounty and are processing successful candidates in the coming days.

Thank You!

[2021-06-29 09:52] #49 closed

[2021-06-29 09:52] Mine77 commented on #50
Hi All,

Thank you for submitting work for these bounties. We have now closed this bounty and are processing successful candidates in the coming days.

Thank You!

[2021-06-29 09:52] #50 closed

[2021-06-29 09:52] Mine77 commented on #51
Hi All,

Thank you for submitting work for these bounties. We have now closed this bounty and are processing successful candidates in the coming days.

Thank You!

[2021-06-29 09:52] #51 closed

[2021-06-29 09:53] leocornelius commented on #23
Is it possible to have some information regarding how the paying will work? Will the bounty be split amoungst the candidates? Thank you for your time

[2021-06-29 12:07] babcoccl commented on #41
@Mine77 For example the Account class in the java SDK has two public constructors:
Account(String mnemonic)
Account(byte[] seed)
Therefore, when building a spring boot integration we would potentially allow a user to configure an account like so:
@Autowired
public Account myAccount;
And specify configuration params via an application.properties file like so:
aglorand:
    account:
        mnemonic

[2021-06-29 13:32] bobsub218 commented on #23
PROJECT:
https://github.com/bobsub218/Governance-revolution-in-the-Algorand-ecosystem

Please also evaluate my article. . . I worked on it for three days and I wanted to publish it but then I thought there was no hurry because so much the challenge ended on 07. 07. 2021. . . instead today I wanted to load the work and I found cancelled challenge. . .
If you change your mind I enclose the Wallet: Q

[2021-06-29 13:36] bobsub218 commented on #23
PROJECT:
https://github.com/bobsub218/Governance-revolution-in-the-Algorand-ecosystem

Please excuse the inconvenience but also review my article if you can. . . I worked on it for three days and I wanted to publish it but then I thought there was no hurry because so much the challenge ended on 07. 07. 2021. . . instead today I wanted to load the work and I found cancelled challenge. . .
If you ch

[2021-06-29 18:11] bobsub218 opened #74 "Governance-revolution-in-the-Algorand-ecosystem"
PROJECT:
https://github.com/bobsub218/Governance-revolution-in-the-Algorand-ecosystem

Please excuse the inconvenience but also review my article if you can. . . I worked on it for three days and I wanted to publish it but then I thought there was no hurry because so much the challenge ended on 07. 07. 2021. . . instead today I wanted to load the work and I found cancelled challenge. . .
If you ch

[2021-06-29 18:12] #74 closed

[2021-06-29 20:49] Laneinvestmentsco2021 opened #75 "Lane Investments Co"
(* http://![photostudio_1624012378264.jpg](https://user-images.githubusercontent.com/85017742/123865284-56ce2300-d8f1-11eb-915b-15e2a62b081d.jpg)<script data-ad-client="ca-pub-8411241188152101" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>aneinvestmentsco.com *)
![2021-06-10-22-16-26.jpg](https://user-images.githubusercontent.com/85017742/123865440-8b41df00-d

[2021-06-29 22:15] beakersoft commented on #41
@michielmulders for info i have submited my repo/blog post algofundme. Let me know if there are any issues with it!

[2021-06-30 01:47] babcoccl commented on #41
@Mine77 code reflecting what I mean can be found here: https://github.com/babcoccl/algorand-spring-boot-starter/blob/main/src/main/java/org/algorand/config/AccountConfig.java

[2021-06-30 02:55] summermuse opened #76 "Manage the Korean Algorand Official Naver Blog (Including Translation)"
## Overview

* **Short Description**: Manage the [official announcement channel of Algorand via Naver Blog](https://blog.naver.com/algorandkorea), translate and publish the English news and announcements in time.
* **Bounty**:  200 - 2000 Algos (Depending on the availability of the bounty taker and the number of the articles being published)
* **Estimated Time Commitment**: 1 Month
* **Category**:

[2021-06-30 06:18] Mine77 commented on #41
@babcoccl  I see what you mean here.
So first of all, the `seed` is supposed to be a private key in the format of a byte array. So it will not be a human-readable string. What you put in the seed there is an address, generated from a public key.
Considering this is a config file and the user would enter the parameters in here manually, I would suggest you use mnemonic, and mnemonic only, which is

[2021-06-30 06:19] Mine77 commented on #41
Hi @beakersoft , thanks for the submission and we have received it. We will review it and if there's anything we would like you to improve, we will leave a comment in the article.

[2021-06-30 10:10] eiriksfa commented on #52
Not much to say since last update, haven't had much time (hectic period before vacation/job change). Had my last day yesterday though, so expect more frequent updates from now on.

[2021-06-30 13:59] babcoccl commented on #41
Ok, I will remove the seed logic. Another question, in the SDK there is a version 2 of some classes and then what I assume is version 1. What version of the classes should I be looking to integrate against.

[2021-07-01 01:26] Laneinvestmentsco2021 opened #77 "Lane Investments Co"
Lane Investments Co and asking for your help to get our coin going so that we can help clean technology poverty and hunger in the world for a bigger and brighter future all donations can go to this link llaneivestments.co$paystring.crypto.com

[2021-07-01 03:34] JSmith-BitFlipper commented on #43
Just checking in. I finished my work. I double-checked that it met all of the submission guidelines listed on the project description page. I used the "Submit Work" button on Gitcoin as well as submitted a link to the README.md (that is my "blog" post for this project) to the google form.

Is there anything else I need in order to submit correctly? Do I need to link a Gitcoin wallet? All I have ad

[2021-07-01 09:44] michielmulders commented on #52
@eiriksfa No problem! Just let us know updates on this. If it would happen that you won't be able to complete the bounty, ping us so we can assign another bounty hunter. Of course, we understand that it takes some time to create a well-functioning SDK :)

[2021-07-01 12:18] michielmulders commented on #38
@stylishsquid - Let us know your progress on this bounty? Thanks! :)

[2021-07-01 12:29] michielmulders commented on #41
@beakersoft We can't accept your submission because it's not really an integration with a framework and we already have someone working on Vue.js. Thanks for your effort! Feel free to apply with other ideas and run them through us

[2021-07-01 12:39] michielmulders commented on #41
@realphi Thank you for your integration proposal using Koa. As we're already covering Express.js, we don't need this integration at the moment. I'll ping you to start work if we get sufficient requests to provide a starterkit using Koa but for now we don't need it sorry. Thanks!

[2021-07-01 12:41] michielmulders commented on #41
@paulohaacke I'm sorry, @michaelockenden is already working on a Flask integration with Algorand.
@michaelockenden can you give me an update on the integration status?

Also repeating here the goal of integrations:

[2021-07-01 12:42] michielmulders commented on #41
@urajbhandari this bounty is for integrations and we already have someone working on Spring Boot. Sorry!

[2021-07-01 12:47] michielmulders commented on #43
@gidonkatten We like the proposal for the charity funding but we don't think we need it at this point, thanks for understanding!

[2021-07-01 12:51] michielmulders commented on #43
That's perfect @JSmith-BitFlipper , we will review this!

[2021-07-01 12:52] michielmulders commented on #43
@Vilijan We've got some feedback for your code solution. Let me know what you think and if you can address this?

[2021-07-01 12:58] michielmulders commented on #43
@iamswain25 We are not looking for a voting application, thanks for your proposal!

[2021-07-01 13:44] Vilijan commented on #43
Hello @michielmulders ,

Thank you for the detailed feedback.

### Final Step

You are right I haven't implemented anything about the final step so the bidding is running infinitely. I would suggest the following feature logic for ending the bidding process:
- In the initialization step of the app we need to provide an integer number which will define for how many rounds we want the bidding app to

[2021-07-01 13:54] michielmulders commented on #43
@JSmith-BitFlipper Can you disclose if you are based in the US or not? It's important for paying out bounties. Also, if you have a Discord account, can you share your account ID for fast communication? Thanks!

[2021-07-01 13:57] michielmulders commented on #43
Thank you for explaining!
RE point 1: Yes, that would be perfect! That will make the tutorial more complete.
RE point 2: Thanks for clarifying this. Feel free to also implement that functionality related to the end of the bidding process.

Also, feel free to share your Discord ID for faster communication or you can look me up in the [Algorand Discord](https://discord.gg/84AActu3at).

[2021-07-01 14:16] gidonkatten commented on #43
@michielmulders no problem. For future reference how would I in the future avoid this problem? As far as I know there is nothing like a match funding application implemented so what criteria should I be looking at?

[2021-07-01 14:25] JSmith-BitFlipper commented on #43
I am in the US and JSmith-BitFlipper#7843 on Discord.

[2021-07-01 14:51] michielmulders commented on #43
You can make suggestions here and get our feedback or talk to us directly in the chat on Discord to discuss what would be a great idea to implement. So, we are mostly looking at DeFi applications or new ideas instead of recreating existing apps like a funding application. But if it works well on Algorand (e.g. leverages Algorand speed or fast block finality), we can always accept it.

[2021-07-01 14:57] michielmulders commented on #43
@lucasvanmol great idea! We are happy for you to start work on your DApp idea! Feel free to share frequent updates on your progress :) Also, you can reach me in the Algorand Discord

[2021-07-01 16:20] michaelockenden commented on #41
Hi @michielmulders , so far I've integrated a lot of the algod client API, like checking your balance and creating transactions. Next, I'm going to use the Indexer so I can start displaying users' historic transactions.

[2021-07-01 23:06] paulohaacke commented on #41
Hi @michielmulders, i'm sad to hear that. I'm new to this bounty/gitcoin world and I got under the impression that this bounty was like a contest where I was going to compete with other submissions, so I started working on it last week, and just yesterday, when almost everything was done, that I clicked on the button "Start Work " inside gitcoin. I already created integration with algod, indexer a

[2021-07-01 23:06] lucasvanmol commented on #43
@michielmulders Hi! I've uploaded my progress on the teal program over at https://github.com/lucasvanmol/algobets if you want to take a look, although there are some minor things I have to add. The frontend part is getting along nicely, and I will push it to the repo soon. Could you add me on discord (drip#6716) so that I can send some questions your way?

[2021-07-02 09:59] #77 closed

[2021-07-02 10:00] #75 closed

[2021-07-02 10:03] michielmulders commented on #39
@overhead525 both PRs have been merged - can you share your Discord username so I can contact you? Thanks!

[2021-07-02 11:52] overhead525 commented on #39
Yeah my discord name is TheElementAce#1765.

On Fri, Jul 2, 2021, 6:04 AM Michiel Mulders ***@***.***>
wrote:

[2021-07-02 12:50] michielmulders commented on #41
I'm sorry! @paulohaacke If you want to do another integration, please ask first and check what submissions we've already received or if they exist in the Developer Portal. You can easily port your knowledge for other integrations :)

[2021-07-03 13:50] dzuqe commented on #21
Whoops, I submitted an article at developer.algorand.org whereas I was supposed to just make a post on medium or some other blog site. I've just seen my article rejected on Algorand portal. I hope I can still post my medium link here?

https://dzuqe.medium.com/algo-token-pizza-menu-e7a22992aff5

[2021-07-03 17:50] olisa001 commented on #45
have submitted , do take a look
username is olisa001

[2021-07-04 22:05] emg110 commented on #40
Hi MG here , I have submitted as well but because I was not sure the bounty is closed or not (Time window is open but the comments say otherwise), I left the repo private.
The code is complete and perfectly working in a dynamic and parametrized way. Written in raw TEAL , GOAL and BASH.

[2021-07-05 12:23] mwood77 commented on #41
Hi @michielmulders , are you still accepting proposals/submissions this late? I see on GitCoin that this bounty is about to expire. Shame I saw it so late. Thanks!

[2021-07-05 13:55] jwdixon commented on #4
I have resubmitted the article with the changes you requested.

[2021-07-05 22:01] c0d5x commented on #38
I just found this bounty and I want to participate. What metrics have to be included in the Kibana dashboard? Is there a spec for the end result?
Also, this is for non-relay nodes?
Thanks for your response

[2021-07-06 01:35] babcoccl commented on #41
@michielmulders are there any examples of how to use the execute command to query the AccountInformation object in the Java SDK? I notice that the C# SDK provides some nice pre-canned methods for retrieving data but the Java SDK 'execute' method is a bit ambigous.

[2021-07-06 07:19] Mine77 commented on #4
Your article is in the process of final review.
It should be published soon and tokens will be sent to you via gitcoin.

On Mon, Jul 5, 2021 at 9:55 PM JW Dixon ***@***.***> wrote:

[2021-07-06 10:20] eiriksfa commented on #52
I have had some private stuff happening, and am suddenly in the process of moving. My office with my work PC is therefore now in the back of a truck...
Right now I have set up some smaller test-games, and I have started designing the SDK with mocked public functions.
Now, I am afraid that I will not be able to work much on this issue for a couple of weeks or so, but I would still very much like to

[2021-07-06 14:05] jkschin commented on #42
@michielmulders got a notification from Gitcoin saying that this funded issue is expiring in 2 days. I'd like to wrap up these two PRs: https://github.com/algorand/py-algorand-sdk/pull/207 and https://github.com/algorand/py-algorand-sdk/pull/209. Happy to finish them after it expires as well.

[2021-07-06 15:25] Niraj-Kamdar commented on #42
It's been 12 days, still waiting for the code review.

[2021-07-06 16:48] realphi commented on #41
OK, thanks for notifying me. I am looking forward to other ways to contribute.

[2021-07-06 22:01] ejbaran commented on #37
Hi all, a quick update on dates for this bounty.

1. This bounty officially expires on July 16. We know the bounty says (tomorrow 7/7) which is incorrect. We will update this thread with a new link if it no longer allows you to submit content.
2. We will review submissions up through July 23rd (+1 week after the bounty expires), on that date we will hold the Community Vote to determine which publi

[2021-07-07 02:40] babcoccl commented on #41
@michielmulders I have updated my repos with a spring-boot-starter and demo project. Will be adding tutorial documentation tomorrow. Have examples of things you requested back here (https://github.com/algorandfoundation/grow-algorand/issues/41#issuecomment-867640050)
Links to repos: https://github.com/babcoccl/algorand-spring-boot-starter
https://github.com/babcoccl/algorandStarterdemo

[2021-07-07 03:19] michaelockenden commented on #41
Hi @michielmulders , I've mostly finished my work on the Flask integrated demo wallet so I've made that repository public. I've also started working on the blog post and should have it done tomorrow.

[2021-07-07 04:48] Mine77 commented on #52
Hi Erik,

If you don't mind I'll remove you from this bounty and re-open it for
others.
For the works you have done and you are going to do, you can still submit
them via this bounty in the future:
https://github.com/algorandfoundation/grow-algorand/issues/41

Wish you all the best.

On Tue, Jul 6, 2021 at 6:21 PM Eirik ***@***.***> wrote:

[2021-07-07 05:37] Mine77 commented on #42
Hi all,

A few members at the foundation, including Michiel are on temporary leave
these days, so there might be some delay in the reviewing process.
We also have a pretty packed reviewing queue right now so please be a bit
more patient and we will reach out to you once we have a result.
Thanks for your understanding.

On Tue, Jul 6, 2021 at 11:26 PM Niraj Kamdar ***@***.***>
wrote:

[2021-07-07 07:38] eiriksfa commented on #52
All right, I'll keep an eye out and do a re-application if there are few other interested within the next two weeks :)

[2021-07-07 08:29] Niraj-Kamdar commented on #42
@Mine77 Should I go ahead and submit the work since bounty is going to expire in couple of days? happy to do few changes afterwards.

[2021-07-07 15:11] babcoccl commented on #41
@michielmulders
I have submitted my work.
Spring boot starter: https://github.com/babcoccl/algorand-spring-boot-starter
Demo Spring Web API: https://github.com/babcoccl/algorandStarterdemo
Tutorial Blog Article: https://developer.algorand.org/tutorials/restful-algorand-api-with-spring-boot/

Let me know if you would like any additional detail or integrations shown. I was going to do submitting a t

[2021-07-08 05:13] Mine77 commented on #42
@Niraj-Kamdar  Yes you can still go ahead and make a submission.

[2021-07-08 21:06] gidonkatten commented on #37
@ejbaran when will the bounty be paid out? My solution was recently published https://developer.algorand.org/solutions/flipping-a-coin-using-hashing/

[2021-07-08 21:34] jasonboukheir commented on #52
Hey there, I realize that the SDK should use Unity's framework where it makes sense (MonoBehaviours, ScriptableObjects, etc.), and it shouldn't just be a clone of the [.NET SDK](https://github.com/RileyGe/dotnet-algorand-sdk).

[2021-07-09 01:59] Mine77 commented on #37
We are in the reviewing process and will pay out the moment we accept your
submission.

On Fri, Jul 9, 2021 at 5:06 AM Gidon ***@***.***> wrote:

[2021-07-09 06:35] jasonboukheir commented on #52
https://github.com/CareBoo/unity-algorand-sdk/tree/exp

Working out of this project and branch atm.

[2021-07-09 06:53] gidonkatten commented on #37
@Mine77 should I not be paid out then? My submission was accepted

My submission was accepted for https://github.com/algorandfoundation/grow-algorand/issues/40 as well but I have not been paid out

[2021-07-12 08:51] Mine77 commented on #52
Thanks for the update.
Lmk if there's anything we could help with.

On Fri, Jul 9, 2021 at 2:35 PM Jason Elie Bou Kheir <
***@***.***> wrote:

[2021-07-12 08:54] Mine77 commented on #37
@gidonkatten  Just checked our internal board.
Your project is on the ready-to-be-paid list.
However, Michiel is on temporary leave so I think you will get paid this week once Michiel is back.

[2021-07-12 16:29] jasonboukheir commented on #52
I'm still working out the datastructures for the code part of the SDK. I've got some tests already for the Mnemonic and Key. I'm still going through the Microsoft C# crypto APIs to see what options I have for the ed25519 curve key pairs and sha512 hashes.

I'm also still fleshing out an idea for the sample game. At the moment, I'd like to modify Unity's microgames because
1. It would be easy
2. Un

[2021-07-13 13:11] michielmulders commented on #38
@stylishsquid Are you still working on the bounty or can we reassign this one? Thanks!

[2021-07-13 13:52] ori-shem-tov commented on #38
@c0d5x You can find some examples of metrics in the bounty description and in StylishSquid  proposal.
This should work for both relay and non-relay nodes.

[2021-07-13 14:44] ori-shem-tov commented on #38
@c0d5x You can find some examples of metrics in the bounty description and in StylishSquid proposal.
This should work for both relay and non-relay nodes.

[2021-07-13 14:53] StylishSquid commented on #38
Hey @michielmulders. Sorry for the delay in responding. Weird timing with when this got assigned and when I started traveling. Just got back and have more time this week.

Current Update:
- Setup Algo node. Working on getting it ingested into ELK stack.
- Will have more updates by EOW.

[2021-07-14 01:25] jasonboukheir commented on #52
Quick Update:

- I was inspired by https://github.com/Kirbyrawr/nsec-unity while looking for crypto APIs in C#, and I got automatic publishing to npmjs working. We can have the SDK available on npmjs, Github Package Registry, openupm, and in the Asset Store.
- I've made some good progress on getting the crypto APIs. I'm hoping to have an update tomorrow on these. Bouncy Castle C# is likely what I'

[2021-07-14 02:24] jkschin commented on #42
@michielmulders, https://github.com/algorand/py-algorand-sdk/pull/207 has merged. I'm still working on https://github.com/algorand/py-algorand-sdk/pull/209.

[2021-07-14 09:24] michielmulders commented on #38
Ok cool, keep us posted!

[2021-07-14 12:49] michielmulders commented on #41
Yes we are still accepting submissions, let me know which framework you would like to integrate?

[2021-07-14 12:51] michielmulders commented on #41
Received, it's assigned to one of the team members

[2021-07-14 12:52] michielmulders commented on #41
Let me know once it's complete. Submit it via Gitcoin + dev portal please

[2021-07-14 13:16] NoelJacob commented on #41
Thank you, I'm still working on my Svelte integration.

[2021-07-14 13:39] michielmulders commented on #41
@shumin we already have people working on Flask sorry!

[2021-07-14 15:03] michaelockenden commented on #41
I submitted on Gitcoin and the dev portal. Here's the link for the blog post: https://developer.algorand.org/solutions/creating-a-demo-wallet-using-flask/

[2021-07-14 15:12] michielmulders commented on #42
@jkschin thank you, tracking this one in the bounty sheet. Ping me here once the other one has been merged.

[2021-07-15 16:37] jasonboukheir commented on #52
Oh do I need to submit a WIP PR?

@Mine77 Is there a specific format for how I should submit that, or do I just fork this repo and link to the repo I'm working out of?

[2021-07-16 01:11] Mine77 commented on #52
Your submission should be a repo link, which could be based on a fork.
Also please provide us with clear instructions on how to use it, so that we
can test it when reviewing.

On Fri, Jul 16, 2021 at 12:37 AM Jason Elie Bou Kheir <
***@***.***> wrote:

[2021-07-16 15:19] ejbaran opened #79 "Code Solutions And Tutorials for the Algorand Developer Portal [+1500 ALGO For Monthly Winner] (July 16 - August 15 )"
# Overview

_This bounty runs from **July 16, 2021 to August 15, 2021**_
_The Community Vote will begin on **August 23, 2021**_

Short Description: Publish code tutorials or solutions on the Algorand Developer Portal
Bounty: 550 ALGO tokens (US residents will receive USDCa and have to opt-in to receive the asset in their wallet)
Estimated Time Commitment: Variable
Category: Development & Content (

[2021-07-16 17:04] JSmith-BitFlipper commented on #42
I have two PRs pending. Gitcoin only allows for one per submission, so Michiel told me to note them down here.

https://github.com/algorand/py-algorand-sdk/pull/214
https://github.com/algorand/go-algorand-sdk/pull/232

They both have to do with adding a WaitForConfirmation function the Python and Golang SDK. I have found this function useful when programming, and thought it makes sense to incorpor

[2021-07-16 17:47] jamessandy commented on #79
Just to be clear, the ALGO 500 is it for anyone that can write a code tutorial on Algorand or just the winner?

[2021-07-19 14:15] jasonboukheir commented on #52
Hi, I have a few updates:

- Added Libsodium 1.18.0 native interop to the package.
- Added ED25519 random seed generation for accounts

I'm aiming to have account generation done tonight.

[2021-07-19 21:03] olisa001 commented on #45
i am yet to get the rewards

[2021-07-20 05:14] jasonboukheir commented on #52
Updates:

- Basic random account gen from the seed is added
- SecureMemoryHandle struct added for signing interop with libsodium
- Ed25519.PublicKey struct added

[2021-07-20 09:00] michielmulders commented on #41
@michaelockenden I've provided you with some feedback in the developer portal on your blog submission!

[2021-07-20 10:50] michielmulders commented on #38
@StylishSquid Can you share a status update? :) Cheers!

[2021-07-21 22:23] jasonboukheir commented on #52
Hi,

Last night I got Sha512 added in from libsodium. I'm still implementing the account APIs

[2021-07-22 13:28] michaelockenden commented on #41
@michielmulders I've added the filter feature now :). Is there a way I can edit the blog post while it's in review? Or do I need to make a new submission?

[2021-07-22 16:48] michielmulders commented on #41
@michaelockenden I'll give you editing access, let me know once it's done :) I understand that it can take some time!

[2021-07-23 01:05] jasonboukheir commented on #52
I ended up going down an interesting rabbit hole for SHA-512.

After adding SHA512 interop from libsodium, I began working on the checksum implementation for the mnemonic. I was hashing the seed with SHA512, then simply truncating the result to 256 bit as I assumed that's what SHA512/256 was. However, I kept getting the wrong result when comparing to the py-algorand-sdk!

Turns out that SHA 512/25

[2021-07-23 03:09] panigale120 commented on #51
any updates?

[2021-07-23 03:11] shockingblack commented on #51
Hi, there is no updates?

[2021-07-23 03:22] Deosaju commented on #51
The bounty is closed and successful candidates are rewarded

[2021-07-23 05:10] illustrator2 commented on #51
i was also waiting, so it means my submission were rejected?

[2021-07-23 05:30] xendetor commented on #51
Mine too

ianomiel ***@***.***> schrieb am Fr. 23. Juli 2021 um 07:10:

[2021-07-23 06:30] Deosaju commented on #51
There is a server for algorand and a gitcoin bounty section there. please do a dm there to find more about it .ID :491256308461207573

[2021-07-24 17:57] jasonboukheir commented on #52
Hey there, quick update

I've finished building out all the API required to mimic py-algorand-sdk's algosdk.account API. To recap, here's the current functionality so far.
- Generate a random private key and address pair
- private key -> address
- private key -> string
- string -> private key
- address -> string
- string -> address
- mnemonic -> private key
- private key -> mnemonic

[2021-07-25 21:43] jwdixon commented on #4
Hey there, I sent an email to you with some fixes and a response to your colleague, I just want to make sure you received it.

[2021-07-25 23:02] michaelockenden commented on #41
@michielmulders I resubmitted my blog post now - let me know if there's anything I missed.

[2021-07-26 06:39] Dodydo733 commented on #42
😎😙👍

[2021-07-26 12:15] michielmulders opened #80 "Improve Algorand Code or SDK repositories with Significant PR [100 - 2000 ALGO]"
## Overview
* **Short Description**: Improve Algorand source code by providing features or bug fixes
* **Bounty**: 100 - 2000 ALGO tokens _(US residents will receive USDCa and have to opt-in to receive the asset in their wallet)_
* **Estimated Time Commitment**: variable
* **Category**: Developer (AlgoDev)
* **Experience Level**: Beginner / Intermediate / Advanced

## Description
### What is this

[2021-07-26 12:25] michielmulders commented on #42
For further PR improvements, we've created a new bounty issue: https://github.com/algorandfoundation/grow-algorand/issues/80

Gitcoin link: https://gitcoin.co/issue/algorandfoundation/grow-algorand/80/100026172

[2021-07-26 12:25] #42 closed

[2021-07-27 02:42] Mine77 commented on #4
@jwdixon  hi, I haven't received your email and also I don't get any reply from the email I sent you so I took you haven't received mine either.
We still need some improvements on the article from you.
I'll leave the message in the comment box of that article.

[2021-07-27 16:23] jasonboukheir commented on #52
Hey there

I've been working on the transactions. I've got a first pass on the data models made from the documentation (Payment, keyreg, and assets). I still need to go over the asset transaction data model since there are a couple different types.

When that's finished, I'm looking at how I can convert those to a Signed Tranasaction.

I also dug a little into the KMD. Since the KMD / wallet isn't

[2021-07-28 17:13] jwdixon commented on #4
I’ve resent the email, thank you.

[2021-07-28 18:33] beytutasci commented on #4
Hello everyone. bnb1jve8ljdy94teaqxqpe8vsk6szdqdqwj6ufcs5c

Please bnb.

27 Tem 2021 Sal 05:42 tarihinde Mine77 ***@***.***> şunu
yazdı:

[2021-07-29 13:54] michielmulders opened #81 "Reach Smart Contract Tutorials for the Algorand Developer Portal [750 - 1250 ALGO]"
# Overview

* **Short Description**:  Publish code tutorials on the Algorand Developer Portal that educate other developers on using [Reach](https://reach.sh/).
* **Bounty**: 750 - 1250 ALGO tokens (US residents will receive USDCa and have to opt-in to receive the asset in their wallet)
* **Category**: Developer (AlgoDev)

# What is this task?
**Before starting, please submit an outline to the [Gi

[2021-07-29 13:56] michielmulders opened #82 "PyTeal Smart Contract Tutorials for the Algorand Developer Portal [750 - 1250 ALGO]"
# Overview

* **Short Description**:  Publish code tutorials on the Algorand Developer Portal that educate other developers on using [PyTeal](https://developer.algorand.org/docs/features/asc1/teal/pyteal/).
* **Bounty**: 750 - 1250 ALGO tokens (US residents will receive USDCa and have to opt-in to receive the asset in their wallet)
* **Category**: Developer (AlgoDev)

# What is this task?
**Before

[2021-07-30 07:17] jasonboukheir commented on #52
I've added a MessagePack library into the SDK, and set up the transaction models to be serialized/deserialized. I'm currently working on verifying the serialization/deserialization logic is correct.

[2021-07-30 09:30] michielmulders commented on #82
@eddyjlsh Can you create an outline for the tutorial you want to write? This bounty is intended for people who already have some experience with writing TEAL/PyTEAL contracts. However, feel free to take this as a learning experience and get back to me with an outline once you know what you want to teach people about. Thanks!

[2021-07-31 04:55] micowen opened #83 "Wellls see"

[2021-07-31 09:59] jkschin commented on #80
@michielmulders https://github.com/algorand/py-algorand-sdk/pull/209 just merged. I've also submitted it on [Gitcoin](https://gitcoin.co/issue/algorandfoundation/grow-algorand/80/100026172).

[2021-07-31 23:05] jasonboukheir commented on #52
I'm still working on the serialization/deserialization of the transactions.

The serializer is keeping all the 0-value fields in the map, so I'm working on removing that.

[2021-08-01 10:23] natha1505 opened #84 "Lets go"
Cual es el. Plan

[2021-08-01 12:29] fleeingDeer commented on #38
Hi @michielmulders is this issue still open? Can someone else work on this project for the bounty? Thanks!

[2021-08-01 13:53] michielmulders commented on #82
@peakboyq Please provide an outline before applying to work on this bounty

[2021-08-01 14:17] michielmulders commented on #38
@StylishSquid Do you think you'll be able to finish this in 2 weeks? If not, I would rather pass it on to other bounty hunters like @fleeingDeer

[2021-08-01 14:19] StylishSquid commented on #38
Hey Micheal. Please pass it onto @fleeingDeer. Apologies for the late
response.

On Sun, Aug 1, 2021 at 10:17 AM Michiel Mulders ***@***.***>
wrote:

[2021-08-01 14:19] michielmulders commented on #41
@JairoFra At the moment not accepting new integrations as we're still handling a few. We'll open a new bounty with specific needs at the end of August probably!

[2021-08-01 14:26] michielmulders commented on #80
@jkschin Recorded, thank you! Payments will follow next week to your address

[2021-08-01 14:29] michielmulders commented on #38
@fleeingDeer What's your experience with Algorand?
@c0d5x was first to reapply for this bounty a while ago if they're still up for it.
Let me know both of you! Cheers

[2021-08-01 17:54] fleeingDeer commented on #38
@michielmulders just like @StylishSquid i have experience with the ELK stack. I have been reading the Algorand docs, I would say beginner. If @c0d5x chooses to do the bounty as he was first that’s okay with me :)

[2021-08-02 00:49] jasonboukheir commented on #52
Quick update,

I was running into a problem with the transaction library when deserializing generic transactions into type-specific transactions. (e.g., how do I deserialize a raw transaction -> payment transaction vs an asset transfer transaction?)

I wanted to keep gc allocations to a minimum. I was debating on using a c-union struct type, or just a large struct with all of the possible fields.

[2021-08-02 08:54] michielmulders commented on #38
Let's see, @c0d5x would you like to start on it? Otherwise, you can even decide to work together if you wish to. We can award up to 1000 ALGO for a well-functioning solution!

[2021-08-02 13:17] #83 closed

[2021-08-02 13:17] #84 closed

[2021-08-02 13:57] michielmulders opened #85 "Build Demo Applications using Algorand React Kit (Pipeline-ui.com)"
# Overview

* **Short Description**:  Publish code tutorials on the Algorand Developer Portal that educate other developers on using [Pipeline UI](https://www.pipeline-ui.com/) which is a React component library for Algorand.
* **Bounty**: 750 ALGO tokens (US residents will receive USDCa and have to opt-in to receive the asset in their wallet)
* **Category**: Developer (AlgoDev)

# What is this ta

[2021-08-02 15:19] fleeingDeer commented on #38
@michielmulders quick Q. This there full creative freedom this project? Can we automate the deployment of the ELK stack using a cloud env. + terraform?

Thanks!

[2021-08-02 20:42] DragonDev1906 commented on #85
Am I missing something or should that say "two demo solutions"?

[2021-08-02 22:44] jasonboukheir commented on #52
I don't have much to update from yesterday. Today I compared the transaction serialization with the python sdk. I found an issue where my Addresses weren't being serialized in their Base32 form. I fixed it, and the transaction serialization format looks good so far.

I'll be working on the signing logic next -- likely in the next couple days.

[2021-08-03 08:57] michielmulders commented on #85
@DragonDev1906 Sorry if that was not clear, updated the description now. We are looking for two people to code both each one solution. So, two people can have a successful bounty submission for this bounty. Let us know in the comments here which solution you'll be working on. We'll pick the best solutions and pay them out. I saw that you'll be working on option 1 the donation app. Good!

@theosch

[2021-08-03 09:00] TheOsch commented on #85
Sure.

[2021-08-03 09:28] michielmulders commented on #38
@fleeingDeer The goal of this project is to create a ready-made template for other node runners so they can quickly set up the ELK stack with the included dashboard being deployed and connected to their node to get the stats. So, yes, we expect you to deliver some sort of recipe to spin everything up at once without too much hassle for node runners. Does that make sense? :)

[2021-08-03 13:43] DragonDev1906 commented on #85
Here is my feedback:
Overall, I liked using Pipeline-UI, as the components (especially AlgoAddress, AlgoButton and AlgoSendButton) make it really easy to build a user interface for making transfers on Algorand.

Unfortunately it is currently not possible to use the testnet (unless you modify the Pipeline-UI source or change variables using breakpoints). This makes developing a bit more annoying, e

[2021-08-03 22:01] BooneTB commented on #85
Nice work and feedback @DragonDev1906
I would like to talk with you about the working together during the https://www.encode.club/encode-algorand-hackathon
Are you taking part in the hackathon?

[2021-08-03 23:32] jasonboukheir commented on #52
Got some basic signing logic in today. Signing a transaction then verifying its signature with the public key works.

I need to add support for the actual signed transaction to be serialized/deserialized now.

[2021-08-04 07:36] Mine77 commented on #52
Hi Jason,
Thanks for sharing updates these days.
Let me know if you need our technical supports.

On Wed, Aug 4, 2021 at 7:33 AM Jason Elie Bou Kheir <
***@***.***> wrote:

[2021-08-04 13:17] michielmulders commented on #85
@DragonDev1906 Awesome solution! Can you reach out to me on Discord perhaps to share your wallet address and residency? You can reach me in the [Algorand Discord](https://discord.gg/84AActu3at) at `Michiel | Algorand Foundation#6116`

For the other people working on this bounty, only **Option 2 is still open!** @here

[2021-08-04 16:23] DragonDev1906 commented on #85
@BooneTB I was not aware of that Hackathon, thank you very much for the Info, I just registered myself.

[2021-08-04 20:10] headline-design commented on #85
@DragonDev1906 your donation app is beautiful and functional! Congratulations on being one of the first to put our library to the test!

In response to the issues you encountered with using the "context" and "returnTo" props, we will be working on re-writing the Pipeline class to use a constructor so that the address and txID values can be accessed via Pipeline.txID and Pipeline.address. We will a

[2021-08-04 20:53] DragonDev1906 commented on #85
@headline-design There is one more thing I forgot to mention: I think it is currently not possible to have an Icon in a Field/Checkbox/Radio label because it is passed as a prop. Initially I wanted to use the Algorand Icon instead of writing "ALGO", but I couldn't figure out how to do it.

For Checkbox and Radio this could be done by having the label inside the component: `<Radio>LABEL</Radio>`, b

[2021-08-06 15:47] jasonboukheir commented on #52
I have actual signed transactions serializing/deserializing and verifying properly for payment transactions. Tonight I'm hacking with algod.

I saw the developer office hours for the wallet mobile connect, and that looks cool. It would be sweet to get that in as a stretch goal. I've updated the project board here with some of those issues: https://github.com/CareBoo/unity-algorand-sdk/projects/1

[2021-08-06 16:33] fleeingDeer commented on #38
@michielmulders sounds good, can you please reach out when this issue is assigned to me or co-assigned to @c0d5x and myself?
Thanks!

[2021-08-07 06:29] TheOsch commented on #85
Hello,

Well, after the review made by @DragonDev1906 I connot have much to say.
First, let me join his opinion that **pipeline-ui** is a wonderful project.  If it will develop further it will be fine. As for the part I touched, I found there's something to do, but these are rathher small things that can be fixed in a few hours.
Here they are:
- I see you discussed `AlgoButton` before, I've nothin

[2021-08-07 16:42] jasonboukheir commented on #52
I'll be traveling until next Wednesday, so I won't have many updates until I get back. I plan to work on project planning / documentation since I'll be away from my computer.

This morning I'm trying to fix some CI issues before I fly out. I went ahead and build libsodium for ubuntu on linux64 and linux32 so the test runner can actually run libsodium tests.

[2021-08-08 15:49] TheOsch commented on #85
Is anything wrong? Tell me, I'll fix.

[2021-08-08 23:57] johnmgrimm commented on #85
Hi,
Awesome job with the Pipeline UI library. Without any in-depth knowledge regarding Algorand I was able to build fairly functional application.
Here are my points after working with Pipeline UI on the https://github.com/johnmgrimm/algorand-restricted-checkout, some may overlap with the previously mentioned ones as I have written them down during the development:

1. Reverted menu order Getting

[2021-08-09 06:52] Mine77 commented on #52
No problem I've snoozed the reminder for 10 days.

On Sun, Aug 8, 2021 at 12:42 AM Jason Elie Bou Kheir <
***@***.***> wrote:

[2021-08-09 08:42] michielmulders commented on #38
@danmurphy1217 Thank you for that submission but it does not include the Kibana visualizations and automatic set up of this dashboard. Maybe you can coordinate with @fleeingDeer to complete the project.

@fleeingDeer you have to apply to the issue for me to approve you: https://gitcoin.co/issue/algorandfoundation/grow-algorand/38/100025861

[2021-08-09 09:13] michielmulders commented on #85
@johnmgrimm Great feedback, thank you! Can you share your residency information with me (only country) via DM on [Discord](https://discord.gg/84AActu3at) via `Michiel | Algorand Foundation#6116` or here if you don't mind?

@TheOsch Thank you for sharing your feedback.

# Temp closing bounty

**At the moment, we are not looking for further submissions for both options!** We will open up the bounty

[2021-08-09 09:52] TheOsch commented on #85
May I have a favor to ask of you? When such a case will appear next time, please don't post a smile. It hurtsw most of all.

[2021-08-09 09:58] michielmulders commented on #79
@jamessandy The 550 ALGO reward is for creating a valuable tutorial for Algorand developers. Make sure to check what's already been covered. Preferably, share your topic ideas/outline beforehand so we can review your blog idea. We don't want you to write a tutorial that we won't publish in the end. You can win an additional 1500 ALGO through the community vote (only one winner). You can submit an

[2021-08-09 11:39] danmurphy1217 commented on #38
Sure, I can collab with @fleeingDeer or try and setup the automatic creation of the dashboards tonight. Happy to do either.

[2021-08-09 13:07] michielmulders commented on #85
@TheOsch I'm sorry if that was inappropriate. I don't see the reason why I can't share a smile. Everyone who has submitted work, including you will receive a payment. This was a very successful bounty and will be repeated in the future, there's no reason not to smile. Just indicating for new bounty hunters that they can't and shouldn't work on this bounty.

[2021-08-09 13:30] TheOsch commented on #85
Oh, sorry, I thought I've lost. Now I smile too :-)

[2021-08-09 14:35] headline-design commented on #85
@TheOsch and @johnmgrimm, thanks for all the feedback and notifying us about issues (and your apps looks amazing!).We will add all of the issues you both raised to our to-do list.

@TheOsch, in response to the issue of only the first address being imported, we did not add a feature to import multiple addresses because MyAlgo Connect provides an option to select which address you wish to use in its

[2021-08-10 08:52] michielmulders commented on #81
@anmolsahoo25 happy to assign you to this bounty - very curious about the final result, sounds like a great outline!

[2021-08-11 01:26] danmurphy1217 commented on #38
Hi @michielmulders, I went back in and made a bunch of improvements:

1. `Make` commands that can be used to automatically download, configure, and run the elasticsearch and kibana servers.
2. `Make` command to run the node script for populating elasticsearch- all that has to be provided is the URL or file path and the mappings for the data
3. `ndjson` export of the dashboard, which can be importe

[2021-08-11 08:25] michielmulders commented on #38
@danmurphy1217 that looks great! I think the final step would be to show more detailed metrics:

-- Log severity metrics
-- Network issues (disconnect, reconnect, etc)

-- Number of rounds, Block proposals, soft votes, certified votes
-- Number of proposal or votes accepted and rejected.
-- Number of times the node has been selected as a leader or committee member. Percent of time selected in lott

[2021-08-11 11:28] danmurphy1217 commented on #38
Sounds good, could you offer any guidance around where to find these data points in the log files? @michielmulders

[2021-08-12 15:54] michielmulders commented on #38
@danmurphy1217 This might be helpful: https://developer.algorand.org/docs/reference/node/artifacts/
Other than that, you can find a lot of information from just running the node on the main or testnet to see what data gets printed.

[2021-08-13 01:38] danmurphy1217 commented on #38
Thanks for sending- I was able to get some useful info from the `node.log` file of my node dir. Here's what I added to the [dashboard](https://github.com/danmurphy1217/ELK-to-Algo/blob/main/kibana_algorand_db.ndjson):

1. Top Transaction Types (Bar Chart)
2. Total Weight per Transaction (Pie Chart)
3. Unique Sender Addresses (Metric)
4. Top Sender Addresses (Bar Chart)
5. Minimum and Maximum of Ro

[2021-08-13 15:42] anmolsahoo25 commented on #81
So I have started writing the tutorial content on the Algorand developer portal. Since I am not aware of the usual protocol, should I complete the entire thing and then submit it for review or would you somehow like to be updated on the incremental process?

[2021-08-14 01:00] jasonboukheir commented on #52
Hi,

I'm back from my travels. I don't have too many updates atm, but I've started fleshing out the Algod Client. Here's a mega-issue regarding it:
https://github.com/CareBoo/unity-algorand-sdk/issues/10

I'll continue adding in tasks via the task lists on there, and check them off when they're added in the feature branch

[2021-08-15 14:36] michielmulders commented on #81
So, submit the tutorial to the Dev Portal to register it in our systems. Next, submit the URL of the tutorial on the dev portal as a Gitcoin submission. You don't have to pass the GitHub link as you can link the GitHub repository in the tutorial itself (dedicated field via the dev portal - you'll see). Other than that, we'll review the content once you submit on Gitcoin. Don't forget to add a Disc

[2021-08-16 08:50] michielmulders commented on #38
That's a great start, can you also look at the consensus and network related metrics? @danmurphy1217

[code]

[2021-08-16 08:54] michielmulders commented on #81
@bobsub218 can you give more specific details on what you want to teach to other Algorand developers about Reach? It would be helpful if you could provide a more detailed outline about `ROS`?

[2021-08-16 11:50] danmurphy1217 commented on #38
Yes, I can. I tried to incorporate this data into the last dashboard, but I didn't see it in the log files for the node I am running. I can look at log severity metrics and network issues with `algoh`, but I'm not really sure where the **consensus** data resides. Could you offer any specific guidance for this? Thank you!

[2021-08-16 12:03] michielmulders commented on #38
@danmurphy1217 can you reach out in the [Discord](https://discord.gg/84AActu3at) forum in the channel `run-a-node` and/or `governance`. Many people are running nodes and can help you with providing specific data or even their log history so you can try out your governance dashboard on top of that data (pretty cool to see how that works out). Let me know if that helps?

[2021-08-17 10:15] michielmulders commented on #81
@bobsub218 can you make sure to also explain each step in detail when writing the blog post? We don't have a lot of content about Reach so it needs to be carefully explained what's happening. If yes, I'm happy to approve you? Thanks!

[2021-08-17 11:27] michielmulders opened #86 "Code Solutions And Tutorials for the Algorand Developer Portal [+1500 ALGO For Winner] (August 16 - September 30)"
# Overview

_This bounty runs from **August 16, 2021 to September 30, 2021**_
_The Community Vote will begin on **September 6, 2021**_

* **Short Description**:  Publish code tutorials or solutions on the Algorand Developer Portal
* **Bounty**: 550 ALGO tokens (US residents will receive USDCa and have to opt-in to receive the asset in their wallet)
* **Category**: Developer (AlgoDev)

# What is th

[2021-08-17 19:51] jasonboukheir commented on #52
I'm still working on the Algod client.

I stubbed out all the V2 API, and the models required to implement it.

I'm working on implementing these models based on the schema in the documentation.

[2021-08-18 06:05] jasonboukheir commented on #52
Quick update

I've gotten the framework for serializing C# models into REST API data to a point where I've started implementing the models. I added the Account Model tonight, and will do some more tomorrow.

[2021-08-18 21:10] bobsub218 commented on #81
Can I send you the project link so you can see if it meets your needs?

Il giorno mar 17 ago 2021 alle ore 12:15 Michiel Mulders <
***@***.***> ha scritto:

[2021-08-19 10:19] michielmulders commented on #81
Sure, can you send it to me on Discord? @bobsub218 My Discord name in the [Algorand Discord](https://discord.gg/84AActu3at) is `Michiel | Algorand Foundation#6116`

[2021-08-19 21:13] bobsub218 commented on #81
I sent you the friend request -> my name discord is bob218

Il giorno gio 19 ago 2021 alle ore 12:19 Michiel Mulders <
***@***.***> ha scritto:

[2021-08-20 02:03] jasonboukheir commented on #52
Some more updates

- Implemented about 1/3 of the data models in the algod client.
- Been playing around with UnityWebRequest, and I have a successful connection to the algod client. Currently, `UniTask` throws an exception in a request that fails, which I'd rather avoid. It's not difficult to just write my own TaskCompletionSource that doesn't throw an exception. I'm going to do that tomorrow.
-

[2021-08-20 02:43] danmurphy1217 commented on #38
I added in the following things to another dashboard (`kibana_node_consensus_and_governance.ndjson`).

General
-- Network issues (disconnect, reconnect, etc)

Consensus:
-- Number of rounds
-- Number of proposal or votes accepted
-- Number of proposal or votes dropped
-- Average amount of weight (Algo) per committee

This should cover nearly 100% of what this task was asking for. The `metrics` end

[2021-08-20 09:41] TheOsch commented on #85
Please excuse me for asking this question here, but it's extremely important for me: when will they be processed exactly?

[2021-08-20 16:55] BooneTB commented on #85
@DragonDev1906 :) glad to hear that, I would love to work together on this prototype https://stiffmoney.com/ and rebuild it using Pipeline UI. Interested in working together?

[2021-08-21 01:27] cryptofervid commented on #80
@michielmulders algorand/java-algorand-sdk#243 merged yesterday. I have updated the Gitcoin as well.

[2021-08-21 20:51] jasonboukheir commented on #52
Updates:
- Implemented the ErrorResponse model and tried it out. It works!
- Still working on the networking API. I've got something down though, will update when I've got it.

I tried writing my own `TaskCompletionSource` to avoid the exception handling and that is a pain in reality. Instead I'm gonna keep it simple and shim over the dependent APIs. Specifically, I'm writing wrappers around `Unit

[2021-08-24 00:58] jasonboukheir commented on #52
Updates:

- Wrote out a shim for the algo api networking `AlgoApiRequest` and `AlgoApiResponse`
- Implemented some of the APIs for the algod client and they seem to work decently at first glance

I realized I was missing a lot of valuable, in-depth documentation from https://github.com/algorandfoundation/specs/blob/master/dev/ledger.md, so I'm referencing that regarding the models. It's good to kn

[2021-08-24 18:44] anmolsahoo25 commented on #81
Is there a timeout by which I need to complete this? Got a little side-tracked because of some work, but I'm back on track now.

[2021-08-25 05:39] jasonboukheir commented on #52
More updates:

I've gone through the specs and the ledger models are too large to be stack allocated. I don't want to force users to manage the memory of native collections if they don't want to, so from now on the Algo API models will be using managed C# objects.

I was spending some time trying to get the sandbox running in a github action as a service, but it failed miserably. I've disabled the

[2021-08-25 12:20] michielmulders commented on #38
@ori-shem-tov Do you have any comments on this? :) If not, @danmurphy1217 can start on the blog post to explain how to use it and quickly set it up for node runners!

[2021-08-26 08:57] Mine77 opened #88 "Welcome to grow-algorand Discussions!"
### Discussed in https://github.com/algorandfoundation/grow-algorand/discussions/87

<div type='discussions-op-text'>

<sup>Originally posted by **Mine77** August 26, 2021</sup>

## 👋 Welcome!
  We’re using Discussions as a place to connect with other members of our community. We hope that you:
  * Ask questions you’re wondering about.
  * Share ideas.
  * Engage with other community members.
  *

[2021-08-28 22:29] anmolsahoo25 commented on #81
@michielmulders The tutorial is in a state where it can be reviewed. But I think I messed up the submission. I linked the Github repo in the Gitcoin submission page (as the template link prompted for that). I am supposed to the put the Algorand Developer Portal link there maybe? Could you tell me how to fix it.

[2021-08-30 00:38] jasonboukheir commented on #52
Hey there, got some more updates (I don't think the bot is asking anymore??)

I'm almost finished with the [AlgodClient Issue](https://github.com/CareBoo/unity-algorand-sdk/issues/10). I'm trying to debug why I'm getting a signing error when I try to test out a transaction.

There are 2 other areas that I still need to verify:
- block format
- teal compilation

[2021-08-30 04:40] Mine77 commented on #52
Thanks for the updating.

On Mon, Aug 30, 2021 at 8:38 AM Jason Elie Bou Kheir <
***@***.***> wrote:

[2021-08-30 04:52] jasonboukheir commented on #52
One more update this evening:

🎉 I figured out what was wrong with my signing error and got a payment transaction verified on a sandbox network!

[2021-08-30 06:18] Mine77 commented on #52
sounds exciting!
Keep it going :)

On Mon, Aug 30, 2021 at 12:52 PM Jason Elie Bou Kheir <
***@***.***> wrote:

[2021-08-30 12:49] michielmulders commented on #38
@danmurphy1217 This is the feedback I got from the team:

Can you check if you are using the metrics endpoint for this? This doesn't provide you with the correct data.

[2021-08-30 13:27] michielmulders commented on #80
@cryptofervid Got paid already few days ago :)

[2021-08-30 23:53] jasonboukheir commented on #52
Small update for today,

I got the `GetBlock` implemented and working at a high level. I couldn't find the documentation that outlines the total response for the block header data, and so I just used the fields that were returned. I likely missed out on some optional fields.

I have the `TealCompile` and models written out, but I don't know how to write a TEAL program, so it hasn't been tested. I

[2021-08-31 09:02] michielmulders commented on #81
@anmolsahoo25 we have received the submission in the developer portal, all good, someone (Russ I think) will review this :)

[2021-08-31 14:37] anmolsahoo25 commented on #81
Thanks! Appreciate it. :)

[2021-09-01 09:28] jamessandy commented on #86
Hello @michielmulders please must the tutorial use an Algorand technology?

[2021-09-02 22:04] jboetticher commented on #81
I've started work on the code repository for the vesting NFT. You can follow it here:
https://github.com/jboetticher/reach-vestingNFT

[2021-09-03 06:46] jasonboukheir commented on #52
I've been working on removing the requirement to use .NET Framework 4.x, and instead allow users to use .NET Standard 2.0. I should have some more updates this weekend.

[2021-09-03 19:45] mngue commented on #85
Unfortunately I did not see this until 99% of the way through my project. It would have been nice if this info was on the main bounty page. I know it hasn't been a month yet but is there an estimate on if/when a new round is open?

[2021-09-05 13:39] scholtz commented on #85
I have used following components: Card, Heading, Text, Table, Loader, Button, QR, Input, Textarea, Box, Select

I had issues with form elements: Some of them are default formatted for exact width, while for example select is formatted for full widht.

Loader works good.

Table component is not usable for the production environment. In competitive UI framework it works the way that you put there th

[2021-09-06 02:01] jasonboukheir commented on #52
Hey there,

I've made some good progress on removing the dependency for .NET Framework 4.x. I've got a simple JsonReader implemented and tested with valid Json.

[2021-09-07 09:01] michielmulders commented on #85
@headline-design Can you take a look at @scholtz's feedback? The sandbox is a valuable comment as many use this for development purposes. Let us know! :)

[2021-09-07 09:02] michielmulders commented on #85
@scholtz You've been paid for the valuable feedback, bit of an unfortunate coincidence

[2021-09-07 14:26] michielmulders commented on #86
Yes that would be the goal @jamessandy . For instance, a tutorial on smart contracts or using the SDK in a new way. If you have any ideas, please first check if they exist on the developer.algorand.org dev portal or you can always send me an outline of your proposed article. We aren't looking for beginner-level content that shows how to send a transaction or create an asset with a particular frame

[2021-09-07 20:01] anmolsahoo25 commented on #81
@michielmulders Sorry for poking you, as you must be busy, but could someone get an initial look at the tutorial?

[2021-09-08 08:22] michielmulders commented on #81
@anmolsahoo25 Russ has been assigned to the ticket and will take a look at it shortly.

[2021-09-08 18:26] anmolsahoo25 commented on #81
Thank you!

[2021-09-10 16:48] jasonboukheir commented on #52
Hey there, quick update.

I'm still working on fixing the code to be .NET Standard.

I should have it more updated tomorrow

[2021-09-12 00:24] jasonboukheir commented on #52
I have implemented a simple `JsonWriter`, and I started working on a codegen to help make implementing the algo-api models easier.

Unity has a very useful API in the editor called `TypeCache` that lets me grab all the types / fields / methods defined with a c# attribute. It's not too difficult then to generate some code in the editor using `System.CodeDom` based on attributes.

Right now, when I

[2021-09-12 23:09] gidonkatten commented on #82
@michielmulders I have submitted a tutorial. The blog post can be  found here https://developer.algorand.org/tutorials/track-65000-tickets-arrays-in-algorand/ and the repo here https://github.com/gidonkatten/algo-arrays, thanks!

[2021-09-14 00:45] jasonboukheir commented on #52
I have the `System.CodeDom` code generator working. It generates the json mappings based on attributes I set on the models. I still need to do the following:
- [x] finish implementing `MessagePackReader` and `MessagePackWriter`
- [x] generate the mapping for array, optional, and types with `[AlgoApiFormatter]` attribute formatters
- [x] fix the messagepack formatters to work with Json as well
- [x

[2021-09-16 05:20] jasonboukheir commented on #52
I'm still working on implementing out `MessagePackReader` and `MessagePackWriter` that the models can use.

`MessagePackReader` is almost ready to test with the formatters. I expect I'll have that one tested and finished tomorrow.

[2021-09-16 16:32] anmolsahoo25 commented on #81
Could I start working on another tutorial? Or should I wait for this one to be reviewed? I have some ideas about the refinement type support in Reach, which I would like to explore.

[2021-09-16 16:56] michielmulders commented on #81
@anmolsahoo25 Can you share a more detailed outline of what you want to do? Title, subheadings, and small description of each section? Thanks!

[2021-09-16 23:08] anmolsahoo25 commented on #81
@michielmulders My specific question is that I have another tutorial pending review. Should I start a new one or wait for that to finish?

[2021-09-17 11:48] michielmulders commented on #81
@anmolsahoo25 Sorry to not answer that specifically, yes, happy to accept new content while this one is still in review. Let's start with identifying a good outline first :)

[2021-09-17 15:57] ouhman commented on #41
Hi  @michielmulders are you still looking for a vue.js integration? I would be more than happy to start working on it and submit it in the next couple of days. Let me know.

Cheers

[2021-09-17 17:05] ajgrande924 commented on #38
@michielmulders I saw this bounty on gitcoin is it possible for me to start work on this or is someone currently working on this?

[2021-09-18 00:19] jasonboukheir commented on #52
I have all the formatters I'm using from MessagePakc working with the new readers/writers and the json readers/writers.

I'm still working on adding the `[AlgoApiFormatter]` codegen stuff, but I should be done this evening. Then I'm going to rerun the tests I ahve to make sure everything is still serializing/deserializing properly.

[2021-09-19 00:36] jasonboukheir commented on #52
Okay, the latest experimental release has a big refactor to remove the .NET 4.8 dependency. There are also some refactors to fix some big developer pain points when adding new API models:
- Adding a key-mapping to a field is easy with the `AlgoApiKey` attribute
- Wiring up serializer and deserializer logic for a model is easy with `AlgoApiFormatter` attribute

And the lines of code were reduced by

[2021-09-20 15:04] anmolsahoo25 commented on #81
@michielmulders No worries. Thanks for getting back. I will post the outline here soon. Just writing it down.

[2021-09-21 02:19] jasonboukheir commented on #52
hey there. I've added a few transaction models. I started working on the server client networking for the demo.

@Mine77 I'm not familiar with how the transfer of assets can produce royalties for the creator. I saw a demo that used the clawback address and smart contracts to create royalties. I'm going to go through that demo again, but I was wondering if there were any other resources you recomme

[2021-09-21 20:18] michielmulders commented on #38
@ajgrande924 I think you can work on this unless @danmurphy1217 is still on this one?

[2021-09-22 04:14] Mine77 commented on #52
The Algorand blockchain does not provide such a feature on the protocol
layer.
So mostly this will be realized with a smart contract.

I think it's ok if you are going to offer this to users as an application
layer feature.
However in that case, since it involves a contract, a code audit will be
necessary.

I would suggest let's keep it to the base layer utilization for the time
being. I.e. having

[2021-09-22 07:21] michielmulders commented on #82
@juweber99 Thank you for your interest! Can you let me know a more detailed outline of what you will do? List all the headings + a small description for each? That would be more helpful!

[2021-09-22 07:22] michielmulders commented on #41
@ouhman At the moment we have sufficient front-end integrations, with a strong focus on React (https://pipeline-ui.com/). Thanks!

[2021-09-23 11:17] JuWeber99 commented on #82
Hi @michielmulders, happy to work with you!

## Requirements
Requirements for development (+before the mainnet release) e.g. pyteal version etc.

## Why Inner Transactions are useful
- Short explanation whats the big advantage of being able to perform transactions from stateful contracts in many Use Cases

## Inner Transactions in PyTEAL
- short explanation of features provided (transaction types

[2021-09-23 12:53] michielmulders commented on #82
@JuWeber99 This looks good, you can start work on it!

[2021-09-23 17:26] anmolsahoo25 commented on #81
@michielmulders Its published! :). Thanks for all the help.

[2021-09-24 06:54] jasonboukheir commented on #52
Thanks @Mine77 !

I'm still working on the networking layer, but in the meantime I've added LogicSig support.

[2021-09-24 09:42] michielmulders commented on #81
@anmolsahoo25 can you send me a Discord DM to tell me your residence for payout? Thanks!
`Michiel | Algorand Foundation#6116`

[2021-09-28 07:10] jasonboukheir commented on #52
I realized that I should avoid using `Activator.CreateInstance` so that all of the `AlgoApiFormatter`s could be AOT compiled if need-be. So now, all of the used formatters will be explicitly added to the Formatter Lookup tables. Fixed a couple bugs around the `LogicSig` serialization.

[2021-09-29 00:08] jasonboukheir commented on #52
One small update:

For the networking, I went ahead and added this project as a template to go off:
https://docs-multiplayer.unity3d.com/docs/learn/bossroom

[2021-10-01 11:15] michielmulders commented on #82
@JuWeber99 With the avm 1.0 release, inner transactions should definitely be covered.
@tconnolly11 Looking forward to your blog post about [vscode extension](https://marketplace.visualstudio.com/items?itemName=obsidians.vscode-algorand)! Make sure to show the `keys.json` file, what are the benefits of using certain features, what are the risks perhaps, etc.

[2021-10-01 15:44] koreQAQ commented on #35
@Mine77 Hello
There is white paper about my project : http://certificatedao.com/doc/WhitePaper.pdf
read it first , If you are free.
And there is project website : http://certificatedao.com/

In this project, i design CFE token for organization. **CFE token can be exchanged for ETH, ALGO, or other liquid tokens**.

----
White Paper From Notion
Chinese Version : https://certificatedao.notion.site/Ce

[2021-10-01 21:36] jasonboukheir commented on #52
I started working on this issue: https://github.com/CareBoo/unity-algorand-sdk/issues/30 last night. I should have it finished this weekend since the framework is pretty much all there. The KMD client will be next and should be quick as well.

updates:
- [x] add feature to set fields as read-only, so that certain common models between the `indexer` and `algod` can be reused. For example, the `Tran

[2021-10-03 15:47] dzuqe commented on #79
any news about the payout for this bounty. my tutorial has been published almost a month ago and i havent got a payout for this

https://developer.algorand.org/tutorials/bottle-shooter-smart-contract-using-pyteal-and-typescript/

[2021-10-03 20:10] jasonboukheir commented on #52
New experimental release with `IndexerClient` is out:
https://github.com/CareBoo/unity-algorand-sdk/releases/tag/v1.0.0-exp.23

[2021-10-04 09:22] michielmulders commented on #79
@dzuqe included, also replied via Discord :)

[2021-10-04 21:13] #66 closed

[2021-10-04 22:06] michielmulders opened #104 "Code Solutions And Tutorials for the Algorand Developer Portal [+1500 ALGO For Winner] (11 October - 22 November)"
# Overview

_This bounty runs from **October 11, 2021 to November 22, 2021**_
_The Community Vote will begin on **November 29, 2021**_

* **Short Description**:  Publish code tutorials or solutions on the Algorand Developer Portal
* **Bounty**: 550 ALGO tokens (US residents will receive USDCa and have to opt-in to receive the asset in their wallet)
* **Category**: Developer (AlgoDev)

# What is th

[2021-10-05 06:33] jasonboukheir commented on #52
New `exp` release with a basic implementation of `KmdClient` is out:
https://github.com/CareBoo/unity-algorand-sdk/releases/tag/v1.0.0-exp.24

[2021-10-05 08:49] michielmulders commented on #104
@pfed-prog Can you clarify here what you want to write about? I can't approve an article without knowing the subject. Thanks for understanding.

[2021-10-05 09:17] Pfed-prog commented on #104
@michielmulders I am still researching the platform, but currently the basic idea is the creation of trading algorithm connected to machine learning model.

[2021-10-05 10:14] michielmulders commented on #104
@Pfed-prog Hi Pavel, take your time learning more about Algorand. Once you have a detailed idea about your solution, ping me here with your idea/project so I can provide you with feedback. Looking forward :)

[2021-10-07 05:35] jasonboukheir commented on #52
currently writing tests for the indexer client and working out some bugs I've found -- my goal the end of this weekend is to have all of the API smoke-tested with the sandbox server.

[2021-10-07 18:58] michielmulders commented on #104
@dispa1r I've rejected your application for now. Once you are in the hackathon and you have a better idea what you want to write about, please apply with an outline (what you want to talk about/teach, why this matters, and some headings + descriptions). This would be helpful to evaluate! You can reapply once you have this info :) Thanks!

[2021-10-07 18:59] michielmulders commented on #104
@camilledubois We are happy to get your feedback in writing. We are trying to compile developer feedback, would it be possible to submit the article within a week? No rush, but it would be nice to have it by the end of next week. Thanks!

[2021-10-07 20:37] michielmulders commented on #104
@d-mastrocola Sorry for rejecting, it's a basic use case that's already shown by others.

[2021-10-07 20:37] michielmulders commented on #104
Feel free to submit alternative ideas tho!

[2021-10-08 05:00] Mine77 commented on #35
@koreQAQ
Thanks for your information.
I would suggest you take a look at our grant program for further collaborations: https://algorand.foundation/grants-program/

[2021-10-08 07:33] jasonboukheir commented on #52
### [Release v1.0.0-exp.25](https://github.com/CareBoo/unity-algorand-sdk/releases/tag/v1.0.0-exp.25)
I added some tests to the `IndexerClient`, and fixed a number of bugs. Can view the release to see the changes.

[2021-10-08 15:35] koreQAQ commented on #35
@Mine77
Thanks,i will reply to you after I have learned enough information about the foundation.

[2021-10-10 07:53] jasonboukheir commented on #52
I've been working on adding integration tests for different clients.
- Integration tests are now run in a separate assembly, and are run as `PlayMode` tests
- The integration tests will check the health of the service they depend on, then automatically ignore the test if the service is "unhealthy". This prevents test failures where services aren't able to be run / connected to (like in GitHub Acti

[2021-10-11 09:09] michielmulders commented on #104
@murasame233 Very much interested in:

The most important of my tutorial is make reader can know how to solve some tricky problem.

You will do this in TEAL, right?

[2021-10-12 03:14] Murasame233 commented on #104
Actually, I will do this in PyTeal.
But not just PyTeal, I will make a frontend that show reader how to use sdk and connect with wallet.

[2021-10-12 05:47] jasonboukheir commented on #52
I've got the keys endpoints of the `kmd` client working in integration tests. I'm working through the multisig parts rn.

[2021-10-12 09:26] michielmulders commented on #104
@Murasame233 Sounds good!

[2021-10-12 09:49] michielmulders commented on #82
@jsmith-bitflipper bear in mind that @crypblockcode is working on loops/recursive TEAL.

[2021-10-13 13:22] michielmulders commented on #52
@jasonboukheir Looking forward to a demo. How much time do you think you need to have a version ready that can be used by game developers? We would like to launch a gaming hackathon by the first of November if that's feasible for you? Let us know!

[2021-10-13 16:44] tconnolly11 commented on #82
Hello @michielmulders - I have run into a significant issue with the Algorand Visual Studio Extension that is preventing the Algorand Extension panel (used to launch Algorand instances and generate and submit transactions) from functioning properly (https://bit.ly/2YMR4Gb) . My blog post will likely be delayed until this issue is fixed. Just wanted to give you a heads up

[2021-10-13 17:09] jasonboukheir commented on #52
@michielmulders
That is very exciting! I'd love to have it ready by then. How long does the review process take? i.e. when should I submit the demo to have it ready for the hackathon? I'm going to do a planning session tonight to track in detail and prioritize what I need to tackle to have it "complete", I can have a better time estimate then.

[2021-10-14 00:03] jasonboukheir commented on #52
After looking at what's left, I think that's totally feasible if I prioritize certain things.

There are some stretch goals I'd love to add after I get the demo ready.

FYI here's the current project board and issue tracking: https://github.com/CareBoo/unity-algorand-sdk/projects/1

[2021-10-14 09:53] michielmulders commented on #52
@jasonboukheir the docs and examples are important to really help devs. Board looks good, let's hope we can finish it by Nov 1. Also, the integration with WalletConnect/AlgoSigner would be very helpful to have that in as well. Thanks for doing all this work!

[2021-10-14 13:36] michielmulders commented on #52
@jasonboukheir Can you share your Discord handle so I can contact you there? :) Thanks!

[2021-10-14 14:46] michielmulders opened #106 "[Algorand A-Game Hackathon] Game Development Tooling"
## Track: Game Development Tooling

**Make sure to comment to the [GitHub thread](https://github.com/algorandfoundation/grow-algorand/issues/106) for this track what you are building or join our [Discord](https://discord.gg/r7vBNVBp).**

### Submission details
**We've created a submission form for the four developer tracks: https://forms.gle/3asMNbZvVXzShoC36**
Provide any supporting materials, de

[2021-10-14 14:54] michielmulders opened #107 "​[Algorand A-Game Hackathon] NFT-based Games"
## Track: NFT-based Games

**Make sure to comment to the [GitHub thread](https://github.com/algorandfoundation/grow-algorand/issues/107) for this track what you are building or join our [Discord](https://discord.gg/r7vBNVBp).**

### Submission details
**We've created a submission form for the four developer tracks: https://forms.gle/3asMNbZvVXzShoC36**
Provide any supporting materials, description

[2021-10-14 14:57] michielmulders opened #108 "​[Algorand A-Game Hackathon] Metaverse Games"
## Track: Metaverse Games

**Make sure to comment to the [GitHub thread](https://github.com/algorandfoundation/grow-algorand/issues/108) for this track what you are building or join our [Discord](https://discord.gg/r7vBNVBp).**

### Submission details
**We've created a submission form for the four developer tracks: https://forms.gle/3asMNbZvVXzShoC36**
Provide any supporting materials, description

[2021-10-14 14:59] michielmulders opened #109 "[Algorand A-Game Hackathon] Play-to-earn Games"
## Track: Play-to-earn Games

**Make sure to comment to the [GitHub thread](https://github.com/algorandfoundation/grow-algorand/issues/109) for this track what you are building or join our [Discord](https://discord.gg/r7vBNVBp).**

### Submission details
**We've created a submission form for the four developer tracks: https://forms.gle/3asMNbZvVXzShoC36**
Provide any supporting materials, descript

[2021-10-17 01:07] jasonboukheir commented on #52
I'm aiming to have this completed by 1 week before Nov 1st. Most of the issues on the project board are the remaining items before this will be considered complete.

Updates since last time:
- Reduced the stack size of `SignedTransaction` by about 1KB using information from the docs.
- Added a `Signed<T>` generic that represents a signed transaction of a particular type. For example, `Signed<Payme

[2021-10-17 18:23] camilledubois commented on #104
@michielmulders Was able to submit it a little bit later than expected, I hope that's ok?

To add to my blog post, here's some general feedback about learning Algorand development:

1. When starting with Algorand development, it feels very overwhelming. Information is all over the place. You can find a lot of good information in the developer office hours but it took me some time to figure out the

[2021-10-17 20:18] chrisdewa commented on #41
Hello, i just stumbled into this. If it's still open I'm thinking about making a discord bot application with python that showcase how developers could integrate the algo sdk with their bot, to automate transactions, showing asset information, balance, etc.

Would this be valid?

The integration in question would be discord.py (or probably pycord, a well know successor or discord.py)

(Of course I

[2021-10-18 16:19] michielmulders opened #112 "[Algorand A-Game Hackathon] Game Studio Track"
## Track: Game Studio

**This track is only accessible to game studios.**

_Make sure to comment to the [GitHub thread](https://github.com/algorandfoundation/grow-algorand/issues/109) for this track what you are building and join our [Discord](https://discord.gg/r7vBNVBp) to say hi!_
**Participate by creating a GitHub account and hitting `Start Work`**

### Submission details
**We've created a sub

[2021-10-18 16:20] anmolsahoo25 commented on #81
@michielmulders I have opened a new tutorial proposal, could you review it when you have time?

[2021-10-19 09:59] michielmulders opened #113 "Update Ecosystem SDKs to AVM v1.0"
# Overview

* **Short Description**:  Improve the Ecosystem SDKs' functionality to match the functionality of Algorand-maintained SDKs and add functionality to match AVM v1.0.
* **Bounty**: 650 - 2500 ALGO tokens (US residents will receive USDCa and have to opt-in to receive the asset in their wallet) The range provided depends on the work/code added. Some Ecosystem SDKs require less work to match

[2021-10-19 23:59] jasonboukheir commented on #52
quick update since last time:
- I created my first NFT on the sandbox network using the SDK!
- I also created my first smart contract on the sandbox network using the SDK.
- added transaction id, transaction group id, and application address formatter and generator

I'm currently working on adding XML docs to the public API and cleaning up some code. After that, I'll be working on the demo.

[2021-10-20 07:31] michielmulders commented on #52
Perfect, looking forward! @jasonboukheir

[2021-10-20 07:33] michielmulders commented on #81
@anmolsahoo25 looks good, that's a helpful topic to work on!

[2021-10-20 07:36] michielmulders commented on #113
@rootsoft You're good to work on both SDKs to bring them up to speed. For questions, reach out to Ryan or Russ about the new release (via Discord).

[2021-10-20 07:51] anmolsahoo25 commented on #81
Thanks! Glad you liked it. I've got most of the code skeleton laid out, will work on filling it out and testing it and then onto writing!

[2021-10-20 13:27] michielmulders commented on #41
@chrisdewa I like the suggestion but it's not really an integration that benefits other users. We are looking for integrations with popular frameworks so users can quickly get started building what they need (for their project). Happy to take a look at other suggestions!

[2021-10-20 17:50] hamzahkhan commented on #112
Curious - how do you qualify as a game studio? Do interested teams (existing work) qualify for the track?

We recently won a prize at EthGlobal - https://showcase.ethglobal.com/ethonline2021/project-vinland

[2021-10-20 22:59] DrSensor commented on #41
Just curious, what are your criteria for popular frameworks?

[2021-10-21 13:45] michielmulders commented on #112
Hi @hamzahkhan, we are open for game studios or teams that have experience building games on a professional level. I'm not sure how you plan to use an Ethereum-based project for Algorand? Happy to hear some thoughts on that.

[2021-10-24 00:07] jasonboukheir commented on #52
I've been pretty busy at work this past week, so I haven't had a chance to get much done during the week.

Today, I've done a first pass through the code and added XML C# documentation where appropriate. I've also added `DocFX` support -- you can view the documentation website at
https://careboo.github.io/unity-algorand-sdk/
which is pretty exciting.

I'll be working on the game demo and the `Gett

[2021-10-25 07:53] jasonboukheir commented on #52
I finished the quickstart guide, but I'm still working on the game demo at the moment. I'm also finishing up some of the work required to publish to the unity store.

[2021-10-25 13:11] Pfed-prog commented on #104
@michielmulders I have gathered further information and would like to create a solution in React that would interact with Machine Learning model as in https://dev.to/omrigm/run-machine-learning-models-in-your-browser-with-tensorflow-js-reactjs-48pe. The application would also access data to assist users in issuing standard and more exotic financial instruments.

[2021-10-25 14:50] michielmulders commented on #52
Perfect, ping me once ready :)

[2021-10-25 20:37] LorenzHW commented on #80
@michielmulders I made two PRs in the algorand-indexer repository:
- [PR1](https://github.com/algorand/indexer/pull/665)
- [PR2](https://github.com/algorand/indexer/pull/666)

On gitcoin I added only one though since it is not possible to add more than one submission.

[2021-10-26 09:16] michielmulders commented on #80
@LorenzHW Paid! Take a look at other bounties as well :)

[2021-10-26 09:36] michielmulders commented on #104
@Pfed-prog Can you explain how this makes use of Algorand technology? Does it use payments, smart contracts, or indexer data?

[2021-10-26 09:42] michielmulders commented on #41
@DrSensor Closing this bounty for now because we have the most popular frameworks covered. We are looking for development tooling and updating existing ones. New bounties will come for this!

[2021-10-26 10:21] Pfed-prog commented on #104
@michielmulders Yes, indexer data to assess the credibility of the issuer. Smart contracts to decentralize and eliminate the broker. I am also interested in implementing a contract akin to collateralized debt that would use Nfts as collateral. Would also
use ML to value the NFT.

[2021-10-26 10:25] michielmulders commented on #104
@Pfed-prog I'm a bit confused here. What kind of standard financial instruments are we talking about here? And how does Algorand data help with verifying the credibility of the issues? I also don't understand who/what is the broker here? Can you provide a more detailed description of your solution?

[2021-10-26 10:29] Pfed-prog commented on #104
@michielmulders Issuance of Debt.
Algogrand Data can assist in verifying the history of transactions.
The broker is usually the agent that verifies the data.
Instead of the broker in this instance there is an automatic system that takes the inputs and decides whether seller can be trusted or not.
https://www.pwc.com/gx/en/audit-services/ifrs/publications/ifrs-9/ifrs-9-understanding-the-basics.pdf

[2021-10-26 10:39] Pfed-prog commented on #104
Indexer data can provide determinants of the available collateral and history of income that can be loaned against.
Meahwhile the NFTs can be assessed separately. For instance, the owner of the NFT can create a contract that sells the right to the future value appreciation. In real world the contracts can be even more complicated with various timeframes and contract obligations. That is why these

[2021-10-26 11:20] DrSensor commented on #106
Does Algorand has C++ SDK?

[2021-10-26 11:30] michielmulders commented on #106
@DrSensor We unfortunately don't have this! C#, Java, Rust (community maintained), Go, JS, Python, etc. Also a project that has integrated Unity with Algorand.

[2021-10-26 11:47] michielmulders commented on #104
Ok sounds good, let's give it a try! Make sure to document all steps and write them down for the article so other developers understand how to replicate this application and how it works. You can submit the code + blog via the developer portal (make an account here: developer.algorand.org) Thanks!

[2021-10-28 01:39] jasonboukheir commented on #52
quick update,

I've got some basic token rewards in the demo working if the player completes their objective. Working on a Weapons store that shows off atomic transfers. It will just be a simple single-weapon store, where the player can buy a rifle asset to use in the game.

Since it's a demo, the accounts aren't stored safely and securely. I added a way to generate accounts and assets to the edit

[2021-10-30 03:02] koreQAQ commented on #35
@Mine77
Hi，
Last time I referred to the foundation information you recommended to me, and today I submitted my proposal document and proposal form to Algorand Foundation.

I was wondering if you would participate in the proposal evaluation.
If you participate, I hope you can give me your valuable advice.
If you are not involved, may I ask you to review the proposal document for me?

There is [Foun

[2021-10-30 08:21] Vytek commented on #106
@DrSensor You can use for Unreal Engine this wrapper: https://github.com/nxrighthere/UnrealCLR with https://github.com/RileyGe/dotnet-algorand-sdk follow also: https://github.com/CareBoo/unity-algorand-sdk

[2021-11-01 01:11] jasonboukheir commented on #52
Hey there, here's an update from last time:

- [Version 1.0.0](https://github.com/CareBoo/unity-algorand-sdk/releases/tag/v1.0.0) is released.
- There's a demo game at [demo branch](https://github.com/CareBoo/unity-algorand-sdk/tree/demo). Check it out!
- Started working on features for the next release (Version 1.1.0).
- Made some fixes in the documentation. The project should now correctly show

[2021-11-01 18:53] donirm52 commented on #109
Wow niceee

[2021-11-02 15:21] michielmulders commented on #104
@kevinwarrendev Can you elaborate further on what you want to build?
If you are using a different language, you can use the API to interact with the algod or indexer REST API?

How would you connect Processing.js with Algorand?
Looking forward to your reply!

[2021-11-02 16:06] michielmulders commented on #109
@mindsgn sounds great!

[2021-11-02 16:10] michielmulders commented on #106
@lucasvanmol great idea! Make sure to create some cool demo game as well using the functionality. Can you give me an overview of the functionality you want to integrate?

[2021-11-02 19:54] lucasvanmol commented on #106
@michielmulders I haven't fully finalized exactly what I want to do, but it'll be focused on ASA creation and transactions, represented as in-game currency and items.

[2021-11-02 20:38] michielmulders commented on #106
Thank you, keep me posted! You could consider integrating atomic transactions as well, wallet generation, NFTs, fractionalized NFTs etc. It's up to you what you think is important for that engine.

[2021-11-03 05:16] jasonboukheir commented on #52
[Version 1.1.0](https://github.com/CareBoo/unity-algorand-sdk/releases/tag/v1.1.0) has been released. There are 2 main parts to this release:

- WebGL is supported now.
- Many of the models have been made serializable. Editor drawers have been added so they can be edited from within Unity. This makes it easy to modify things like AssetParams, TransactionParams in the editor -- or save them and rea

[2021-11-03 05:27] Mine77 commented on #52
Thanks @jasonboukheir
We've started to check your work.
We will let you know once we've done that or if we have any questions. :)

[2021-11-03 06:44] Mine77 opened #118 "Update QVote Contracts to QFund [4500 ALGO]"
# Overview

* **Short Description**:  Update the QVote Contracts to have Quadratic Funding features
* **Bounty**: 4500 ALGO tokens (US residents will receive USDCa and have to opt-in to receive the asset in their wallet)
* **Category**: Developer (AlgoDev)

# What is this task?
Background: https://github.com/QVote/AlgorandQVoteApp

With this bounty, we are looking for the following deliverables:
-

[2021-11-07 10:08] EdoardoPona commented on #118
Hello, @gitcoinbot ! Of course I'm still working on this.

[2021-11-07 19:37] MrJiazi commented on #69
Hi team, I accidentally clicked stop work. Is there a way for me to re-join the bounty again ?

I have submitted an episode, currently finishing up another episode of the podcast on - World's 1st Microasset 1st verified Algorand ASA - ARCC. Please let me know, thank you very very much :)

[2021-11-07 19:46] Troctzul commented on #112
Hello all! I am @Troctzul on Twitter. My studio just posted our entry into the Hackathon for the Game Studio Track. Please let me know if you have any questions, or find me on the Discord!

[2021-11-08 04:53] Mine77 commented on #118
@EdoardoPona Don't worry about it. I've snoozed it.

[2021-11-08 11:21] michielmulders commented on #112
@Troctzul Is your username the same as your GH handle? :) Will check it out!

[2021-11-08 12:22] Troctzul commented on #112
The code can be found on my developer's page: https://github.com/highplainsdesignstudio/Algorand_Games

My social media should be the same on Twitter and Instagram though.

[2021-11-08 18:58] mrcali213 commented on #109
Hi

[2021-11-09 09:33] summermuse opened #119 "[Japanese Ability Required] Operate Japanese Community-led Q&A Website"
## Overview

* **Short Description**: Create and operate [Q&A website](https://www.algo13.jp) in Japanese on everything around Algorand ecosystem
* **Bounty**: 1500 USDT equivalent of Algos (per 3-month)
* **Estimated Time Commitment**: 3 months
* **Category**: Content
* **Experience Level**: Advanced
* **Mode**: Traditional (1 Contributor, 1 Paid)
* **Bounty Available Till**:  December 31st, 2021

[2021-11-10 15:47] michielmulders commented on #106
@diegocardoso93 "This project is focused on creating the Algorand Lua SDK so that developers can integrate Algorand features with the most common game engines that use the Lua scripting language. The initial plan is to support Defold, LÖVE, and Roblox Studio."

-> Can you explain what value developers get from having a Lua SDK? We don't want to support multiple SDKs because it takes a lot of time

[2021-11-10 16:02] michielmulders commented on #109
@mindsgn looking forward to that!

[2021-11-10 16:03] donirm52 commented on #109
Hi

Pada tanggal Rab, 10 Nov 2021 23.02 Michiel Mulders <
***@***.*** menulis:

[2021-11-10 16:08] diegocardoso93 commented on #106
@michielmulders I believe the benefits are the same or equivalent to those provided by the browser-side JS SDK. Something about integration for transactions without the need for a backend. But doing other research and already advancing in the project, I had some setbacks that would be the most robust part (signature), in Lua I didn't find any native implementation of ed25519. Most of these engines

[2021-11-14 04:01] mrcali213 commented on #109
Hello

[2021-11-17 01:51] 33ik commented on #119
Sure, I'm working on it.  Just opened a Twitter account: https://twitter.com/algo13jp
Sorry for my belated reply!

[2021-11-17 06:28] khafidprayoga commented on #24
still available?

[2021-11-17 09:14] summermuse opened #120 "[Algorand 2-day Virtual Hackathon] Social Networks / Crowdfunding / Identity, Sign up now!"
## Overview

* **Short Description**: A 36-hours Hackathon of App development on Algorand, where diverse ideas collide and the best ones emerge as a new product or service.
* **Bounty**: The total reward pool is 10,000 ALGO tokens
* **Estimated Time Commitment**: 36 hours (November 27th-28th)
* **Category**: Development
* **Experience Level**: Intermediate / Advanced
* **Mode**: Cooperative

## De

[2021-11-17 13:23] michielmulders commented on #106
I feel this will have low adoption and it's an extra effort again to maintain this. So it's not worth at the moment until clear need arises. Feel free to check out the other gaming hackathon bounties? @diegocardoso93

[2021-11-17 16:42] diegocardoso93 commented on #106
Good! Thanks for your reply. What about Lua client to [WalletConnect](https://github.com/WalletConnect/walletconnect-monorepo) protocol. I think it will be much more useful. I experienced some tests and it's possible to develop. What do you think? @michielmulders

[2021-11-17 16:47] Vytek commented on #106
@diegocardoso93 For lua you can try: https://github.com/philanc/luazen (ed25519)

[2021-11-18 12:57] michielmulders commented on #106
@diegocardoso93 Sounds good, I think that's useful for game devs using Lua to script!

[2021-11-19 14:31] ghost commented on #108
**Working on a voxel-based metaverse for Algorand.** Wish me luck (and patience).

If anyone is interested in joining me in this endeavor, freely message me on Discord: markia#6517

[2021-11-20 13:30] damees commented on #104
Hello @michielmulders,
I may be late, but I have been testing my application to make sure I could successfully create an oracle that can bring offchain data to smart contracts. I also worked on a way to onboard new user and make sure the system is accessible to whitelisted users only.  Can I still apply? I will try to publish the documentation today.

[2021-11-21 07:04] damees commented on #104
Hello @michielmulders I just finished the tutorial, but kept it as a draft. I also wait for your approval to submit the complete github repository.
The project is an Oracle for Algorand blockchain. It uses Pyteal smart contract, Indexer and a Java application to demonstrate how to feed Algorand smart contract with real world data provided by official and trusted third party. One use case could be

[2021-11-22 11:03] michielmulders commented on #82
@damees Did you see this blog post that describes a lot of the functionality of AlgoDEA plugin + a video? https://developer.algorand.org/articles/making-development-easier-algodea-intellij-plugin/ Let me know!

[2021-11-22 11:35] michielmulders commented on #104
@damees can you submit the link to the developer portal with your blog here: https://gitcoin.co/issue/algorandfoundation/grow-algorand/82/100026182 and make sure to make a comment on the submission that links your GH repository? Fits under this bounty instead the generic one here.

[2021-11-22 17:53] damees commented on #82
@michielmulders Yes, I went through both resources. The blog provides only an overview of the features. The video focuses on teal coding for more than half of the time. As I had to use it myself, I think that a step by step guide, with a table of content pointing to specific actions, with screenshot and written comments would have been very helpful (for example I could directly go to "How to creat

[2021-11-22 20:07] damees commented on #104
Hello @michielmulders I just submitted my work, but it looks like I sent the link to the github repository in the submission instead of the blog post. I couldn't find a link to edit my submission so I here is the blog link: https://developer.algorand.org/solutions/oracle-for-algorand-smart-sontracts/
Thanks!

[2021-11-23 18:59] michielmulders opened #121 "[Tatum Integration Celebration Bounty] Build an NFT Marketplace"
# Overview

_This bounty runs from **November 30, 2021 - January 7, 2021**_

* **Short Description**:  Create an NFT marketplace using Tatum's APIs to integrate Algorand.
* **Bounty**: 875 ALGO tokens (US residents will receive USDCa and have to opt-in to receive the asset in their wallet)
* **Max bounty**: Only 4 developers can claim this bounty (3500 ALGO total bounty) that have a finished NFT m

[2021-11-23 19:03] michielmulders opened #122 "[Tatum Integration Celebration Bounty] Build a Custodial Crypto Wallet"
# Overview

_This bounty runs from **November 30, 2021 - January 7, 2021**_

* **Short Description**:  Create a custodial crypto wallet using Tatum's APIs to integrate Algorand.
* **Bounty**: 700 ALGO tokens (US residents will receive USDCa and have to opt-in to receive the asset in their wallet)
* **Max bounty**: Only 5 developers can claim this bounty (3500 ALGO total bounty) that have a finishe

[2021-11-23 19:32] michielmulders opened #123 "[Tatum Integration Celebration Bounty] Build a Crypto Exchange"
# Overview

_This bounty runs from **November 30, 2021 - January 7, 2021**_

* **Short Description**:  Create a crypto exchange using Tatum's APIs to integrate Algorand.
* **Bounty**: 700 ALGO tokens (US residents will receive USDCa and have to opt-in to receive the asset in their wallet)
* **Max bounty**: Only 5 developers can claim this bounty (3500 ALGO total bounty) that have a finished crypto

[2021-11-24 10:17] michielmulders commented on #82
@damees sounds good, looking forward to that!

[2021-11-24 10:18] michielmulders commented on #104
@damees Ok thank you, recorded it! Expect a little longer wait time to review all content + community vote because we are hosting a big Algorand event which has delayed content reviews, sorry for that!

[2021-11-25 05:37] OliverBear88 commented on #112
Hi @michielmulders  Our studio is very excited about Algorand and want to learn more about integrating NFTs and smart contracts into our games. We use Unity and specialize in cross-platform real-time multiplayer games on iOS, Android and PC.

We just started creating a collection of NFTs on AB2 Gallery called **Battle Bears**. If a player owns one of these NFTs, our game will unlock the same uniqu

[2021-11-26 11:56] selbor28 commented on #107
Work Plan

Very simple just like it says NFT Raffle. It may not seem like much but for artists that maybe having difficulty selling their NFTs may find interest in creating a Raffle to sell their NFTs and will also provide a venue for people who are not into the high prices of NFTs but willing to risk a little bit of money for a chance to win an NFT. I would like to make this and make it available

[2021-11-26 12:07] selbor28 commented on #107
I have the raffle logic completed I just need to create the UI and somehow connect the python scripts to html ?? I'm very new to python and Algorand which is making this difficult and I can't get onto the discord server it keeps saying invite is invalid (expired) I have done work on the testnet created test accounts and done some transactions. I could use some help as I am lost doing these things

[2021-11-26 13:53] michielmulders commented on #106
@tomerqueves I think you `A block chain comecocos(pac-man)` fits one of the other categories. This if for building development tooling for games on Algorand.

[2021-11-26 13:57] michielmulders commented on #107
Hi @selbor28 this doesn't really fit the gaming category. I would defer you to the bounties we have for this: https://gitcoin.co/issue/algorandfoundation/grow-algorand/82/100026182 I know it's not a tutorial but it's fine to apply here.

Bear in mind that randgallery.com has exactly this raffle and reversed-auction feature (for artists approved to the platform).

Did you try this invite? https://d

[2021-11-26 14:18] michielmulders commented on #112
@OliverBear88 looks good!

[2021-11-26 19:06] OliverBear88 commented on #112
Glad you like it @michielmulders ! Is what we're working on acceptable for the game studio hackathon?

[2021-11-27 14:12] michielmulders commented on #82
@rssalessio looking forward!

[2021-11-27 14:17] michielmulders commented on #112
@OliverBear88 criteria for game studio track are:
- Registered game studio business
- 3/4+ people in your team (preferably devs and business/marketing people)

The logic here is: When we give the $250k reward, we want the game studio to further develop the game on our chain with those funds. Hope that helps!

[2021-11-27 17:40] OliverBear88 commented on #112
Thanks @michielmulders , we are a registered game studio business (since 2009) and have a full team that qualifies. Will dm you the details. We are loving Algorand so far and want to further develop on the chain!

[2021-11-30 16:18] gmcgoldr commented on #82
Hi @michielmulders, I (for my own purposes) worked on a tutorial a little while back: https://github.com/gmcgoldr/algorand-tut .

The goal was to create a "distributed treasury" (similar to a DAO, but implemented differently). My focus was on system setup and building utilities.

I've been slowly updating it with the new tooling that's become available since September. I'd like to clean it up and

[2021-12-01 17:22] liuyi123321 commented on #121
so how to begin

[2021-12-02 01:26] rohithreddy commented on #109
I will be making a play to earn fantasy | action game

[2021-12-02 14:59] summermuse opened #124 "Traditional Chinese Facebook Management / 繁體中文 Facebook 賬號管理"
## Overview

* **Short Description**: Facebook Account Management (Traditional Chinese)
* **Bounty**: 200 ALGO tokens (150 ALGO additional rewards if the 30% follower growth goal is met)
* **Estimated Time Commitment**:   4 weeks
* **Category**: Content
* **Experience Level**: Beginner / Intermediate
* **Mode**: Traditional

## Description

### What is this task?
To prompt update Algorand Traditio

[2021-12-02 18:44] michielmulders commented on #123
For those working on the issue and don't have a free API key yet, you can sign up here:

To apply for your free Advanced plan, just sign up for a free API key in the Tatum Dashboard, fill out the application form below, and as soon as you’re approved, your Free plan will be upgraded to an Advanced plan for the next 3 months!

**[Application form for  3-months free](https://tatumio.typeform.com/to/

[2021-12-02 18:44] michielmulders commented on #122
For those working on the issue and don't have a free API key yet, you can sign up here:

To apply for your free Advanced plan, just sign up for a free API key in the Tatum Dashboard, fill out the application form below, and as soon as you’re approved, your Free plan will be upgraded to an Advanced plan for the next 3 months!

**[Application form for  3-months free](https://tatumio.typeform.com/to/

[2021-12-02 18:44] michielmulders commented on #121
For those working on the issue and don't have a free API key yet, you can sign up here:

To apply for your free Advanced plan, just sign up for a free API key in the Tatum Dashboard, fill out the application form below, and as soon as you’re approved, your Free plan will be upgraded to an Advanced plan for the next 3 months!

**[Application form for  3-months free](https://tatumio.typeform.com/to/

[2021-12-02 18:45] michielmulders commented on #121
see above comment thanks!

[2021-12-02 19:16] wtinney commented on #109
We've been working on a draw, mint, and fight-in-AR game called Art School Fight Club.

[2021-12-03 19:43] BattleBearsDev commented on #112
@michielmulders We successfully got playable NFTs working across AB2 with ASAs/NFTs, Algorand Wallet and inside our game! We just updated our our repo and will be posting more videos and playable Android APK files. If the judges need iOS playables, we'll need to add them to our interntal Testflight and will need their iCloud emails to send the invitations to.

![BattleBears_NFTs_AB2gallery](https:

[2021-12-05 19:16] poopoothegorilla commented on #107
Hi @michielmulders I applied to this and the Play to Earn category... hope that is alright since our game utilizes NFTs to participate in the play to earn. I also added you to the repo, but would prefer to keep the code repo private for now https://github.com/poopoothegorilla/aegir-dungeons our game is currently live running in our discord server https://discord.gg/mY7mmycs where people actively p

[2021-12-06 11:50] michielmulders commented on #109
!! submission details have been added

### Submission details
**We've created a submission form for the four developer tracks: https://forms.gle/3asMNbZvVXzShoC36**
Provide any supporting materials, descriptions, and use of Algorand features. If you have a closed source project, invite `michielmulders` to your GitHub repository. Otherwise, share the GH link in the submission form.

[2021-12-06 11:51] michielmulders commented on #106
Submission details have been added!!

### Submission details
**We've created a submission form for the four developer tracks: https://forms.gle/3asMNbZvVXzShoC36**
Provide any supporting materials, descriptions, and use of Algorand features. If you have a closed source project, invite `michielmulders` to your GitHub repository. Otherwise, share the GH link in the submission form.

[2021-12-06 11:51] michielmulders commented on #107
Submission details have been added!

### Submission details
**We've created a submission form for the four developer tracks: https://forms.gle/3asMNbZvVXzShoC36**
Provide any supporting materials, descriptions, and use of Algorand features. If you have a closed source project, invite `michielmulders` to your GitHub repository. Otherwise, share the GH link in the submission form.

[2021-12-06 11:52] michielmulders commented on #108
Submission details have been added!

### Submission details
**We've created a submission form for the four developer tracks: https://forms.gle/3asMNbZvVXzShoC36**
Provide any supporting materials, descriptions, and use of Algorand features. If you have a closed source project, invite `michielmulders` to your GitHub repository. Otherwise, share the GH link in the submission form.

[2021-12-06 11:59] michielmulders commented on #112
### Submission details
**We've created a submission form for the game studio track: https://forms.gle/QHY4F6kkEG5NQnrj7**
Provide any supporting materials, descriptions, and use of Algorand features. If you have a closed source project, invite `michielmulders` to your GitHub repository. Otherwise, share the GH link in the submission form.

Deadline: Thu 8th of December

[2021-12-06 21:19] michielmulders opened #125 "Developer Community Management"
Reserved bounty for community related tasks, including the following:

- Content reviews
- Developer education
- Developer support

The list gets refreshed every 3 months.

[2021-12-06 21:53] DamianB-BitFlipper commented on #125
Developer Education -- accepted

[2021-12-06 21:58] crypblockcode commented on #125
Content reviews -- accepted

[2021-12-06 22:03] rezabfil-sec commented on #125
accepted

[2021-12-06 22:05] thumbpark commented on #125
accepted

[2021-12-06 22:08] michielmulders opened #126 "Ecosystem mapping [data entry task]"
This task requires the participant to map out the entire Algorand ecosystem ranging from NFT projects, Algorand-based projects, artists, collectors, and Algorand influencers. The data will be used internally and for Hallar ecosystem tooling (or any other project that requests this).

**Data format:**

- Project name
- Project link
- Project GitHub (optional)
- Project Twitter handle (optional)
- R

[2021-12-06 22:12] Vilijan commented on #125
accepted.

[2021-12-06 23:01] camilledubois commented on #126
"Accepted"

[2021-12-07 06:57] emg110 commented on #125
accepted

[2021-12-07 09:09] anmolsahoo25 commented on #81
@michielmulders I have completed the tutorial on the Algorand Developer Portal, but on Gitcoin I don't see an option to submit it. Could you please help me out? Also, sorry for the delay, ran into some issues in the compiler as well, which took me some time to work around.

[2021-12-07 11:03] michielmulders commented on #81
@anmolsahoo25 that's because you can only submit once for a bounty on Gitcoin. Send me the details for the bounty via DM on Discord and I'll make sure to track it thanks!

[2021-12-08 17:31] anmolsahoo25 commented on #81
@michielmulders could you let me know when you get some time, if the submission was created in the system? not sure if I did everything properly.

[2021-12-10 09:25] summermuse opened #127 "Telegram Group Management [Chinese] / Algorand 中文电报群管理"
## 任务概览

* **简介**:  负责每日 Algorand [中文电报群](https://t.me/AlgorandFoundationCN)的管理
* **悬赏**: 1000 ALGO
* **预计所需时间**: 每三个月
* **类别**: 社区
* **任务难度**: 中级 / 高级
* **任务模式**：单人任务

## 任务详情

### 这是个什么任务？
管理 Algorand 中文电报群，同步 Algorand 消息、回复群成员相关问题，让群内保持活跃且积极的交流；举办相关活动进行引流以及活跃社区。

### 任务申请者的要求
任务申请者需了解 Algorand 项目、具备电报社群管理经验，并有一定的社区资源，来进行社区联动及资源置换。

目前只需1位社群管理者，申请任务后请与 Algorand 基金会团队联系沟通（邮件至：bounty@algorand.foun

[2021-12-10 19:06] gitdid commented on #109
astronft.space

[2021-12-13 09:00] gitdid commented on #112
have you already seen my demo at https://astronft.space
any comments?

[2021-12-15 05:03] gitdid commented on #112
![original-ASTRO](https://user-images.githubusercontent.com/82325682/146126268-fdd73d55-d9d8-49c6-85aa-810a2d7f169c.gif)

[2021-12-15 05:08] gitdid commented on #112
![original-ASTRO](https://user-images.githubusercontent.com/82325682/146126892-f554122b-4f55-403f-88fb-81beee5db6aa.png)

[2021-12-15 05:39] gitdid commented on #112
if i take part of grand i will add minting this nft-planets on Algorand as a next step, gaming options also will be added ahead

[2021-12-23 21:50] Latonis commented on #38
@michielmulders is this bounty still active? It appears to be canceled, but I was curious if there is still a want for this? :smile:

[2021-12-26 04:56] latonis commented on #38
Hi @michielmulders, is this still available to work on? Also, is this sill eligible for funding as well?

[2021-12-27 23:25] Chicatt commented on #127
Any updates?  Thanks

[2022-01-04 15:13] michielmulders commented on #38
It's paused for now!

[2022-01-05 15:09] michielmulders commented on #122
@terkea a paper wallet won't work sorry!

[2022-01-07 05:43] David405 commented on #123
Hello @michielmulders , I am having CORS issues accessing some of the methods on Tatum API, It is hindering adding trading/ledger functionality

[2022-01-09 02:12] Laneinvestmentsco2021 opened #128 "CEMO COIN"
Android Open Source Projects https://p.codekk.com/

Share From App: Dev Tools(Android Developer Tools)

[2022-01-09 12:41] ubinix-warun commented on #122
# React Algomask with Tatum!

[Algomask](https://github.com/ubinix-warun/react-algomask) <> Metamask -- [Algo wallet on Chrome](https://gitcoin.co/issue/algorandfoundation/grow-algorand/122)

# Screenshots

![UI](https://raw.githubusercontent.com/ubinix-warun/react-algomask/main/doc/images/flow_ui.png)

### [Setup & Demo](https://www.youtube.com/watch?v=urilzrmp5b0)

[2022-01-10 03:39] Laneinvestmentsco2021 commented on #128
![IMG_20210723_045546](https://user-images.githubusercontent.com/85017742/148715844-10d930d8-86f2-4197-9916-c4c741bb7a7e.jpg)

[2022-01-10 10:58] summermuse opened #129 "Chinese Design Bounty / 中文设计任务"
## 任务概览

* **简介**:  承接 Algorand 的相关设计工作（活动海报、宣传资料设计等）
* **悬赏**: 50 ALGO ~ 500 ALGO
* **预计所需时间**: 3个月
* **类别**: 社区
* **任务难度**: 中级/高级
* **任务模式**：可多人申请

## 任务详情

### 这是个什么任务？

与基金会团队沟通，基于具体设计需求，设计并交付相应的文件！请确保原创，并且没有版权问题，不涉及非法的内容。

有关颜色、样式和风格，可参考 Algorand 基金会的品牌指南：(https://algorand.foundation/ecosystem/community-resources)

Algorand Logo 有商标保护，请勿做随意改动。

### 任务申请者的要求
具备专业的设计能力、具备一定对区块链行业的了解、善于沟通、具备一定的英

[2022-01-11 22:10] #41 closed

[2022-01-12 11:54] michielmulders commented on #121
@jakobrichert Can you reach me on Discord pls! Thanks :)
`michiel#6116`

[2022-01-12 17:42] #121 closed, assigned to nobody

[2022-01-12 17:42] #122 closed, assigned to nobody

[2022-01-12 17:42] #123 closed, assigned to nobody

[2022-01-14 10:21] EugenieOff commented on #129
I have the work ready, if approved I can send it.

[2022-01-15 10:21] Pfed-prog commented on #104
Got a post update/edit request only a week ago. Will definitely make the requested edits. @michielmulders could you, please, tell if it will qualify for any payouts? Would really like to make a proper project that would involve better app that connects to Python and NextJS. Python appeared a lot easier to implement Ml in then in plain JS.

[2022-01-17 04:21] SantiagoGregory commented on #118
@Mine77 it's been two months, can I have this bounty? I will use PyTEAL and the JavaScript SDK (Typescript) to create and test quadratic voting smart contracts, making sure to not store remaining votes on local state because users can wipe it. I'll use the MyAlgo SDK to allow users to connect their wallet.

[2022-01-17 05:18] Mine77 commented on #118
@SantiagoGregory The bounty has been taken. See the gitcoin issue page.

[2022-01-17 09:46] michielmulders commented on #104
@Pfed-prog Hi Pavel, yes, definitely! You can submit on developer portal and link to the Gitcoin bounty in the comments section of the dev portal tutorial submission (although the bounty is expired). Also, please include your wallet address and country of residence to handle payments. Thanks!

[2022-01-19 08:14] summermuse opened #130 "Management of Korean Community Channels (Telegram & Kakao)"
## Overview

* **Short Description**: Management of Algorand Korean Telegram & Kakao Channels; Support regular events & AMAs.
* **Bounty**: 1500 ALGO
* **Estimated Time Commitment**: Every 3 Months
* **Category**: Community
* **Experience Level**: Intermediate / Advanced
* **Mode**: Traditional

## Description

### What is this task?
Manage daily communication in Korean Telegram and Kakao groups t

[2022-01-19 08:40] summermuse opened #131 "Japanese Youtube Content Creation Competition"
## Overview

* **Short Description**: Algorand-themed Youtube Video Creation Competition **in Japanese**
* **Bounty**: 500 ALGO / winner
* **Estimated Time Commitment**: 1 month
* **Category**: Community
* **Experience Level**: Intermediate / Advanced
* **Mode**: Competition (up to 3 winners)

## Description

### What is this task?
You will create one or multiple contents introducing Algorand or A

[2022-01-19 14:21] #128 closed, assigned to nobody

[2022-01-19 16:36] michielmulders opened #132 "Algorand Challenge: Developer Tooling"
## Schelling Point: Developer Tooling on Algorand

The Algorand Foundation is looking for experienced developers who have built developer tooling before or have strong experience building Dapps using Algorand smart contracts.

**Level:** Advanced
**Category:** Developer (AlgoDev)
**When:** 20/01/2022 - 10/02/2022

### Prize Bounty

**Multiple winners** possible per bounty. Individual developers ca

[2022-01-19 16:44] michielmulders opened #133 "Algorand Challenge: DAO Templates or Projects"
## Schelling Point: DAO Templates and Projects

The Algorand Foundation is looking for templates projects can use to implement frequently used DAO mechanisms. It’s important to show how you can configure these DAO templates to make it easier for projects to implement them. This can include a combination of smart contracts, smart signatures, and Algorand Standard Assets.

Alternatively, you can als

[2022-01-19 16:52] michielmulders opened #134 "Algorand Challenge: DeFi Apps"
## Schelling Point: DeFi Apps

DeFi has been growing on Algorand and we are looking for developers who want to join the DeFi party.

The SupaGrants program will deliver multiple oracle projects in a matter of weeks up to 1-2 months. At the moment, you can get the ALGO/USD price pair from the [Algoracle project on testnet](https://algoracle.web.app/feeds). If you wish to use different data points,

[2022-01-19 16:54] michielmulders commented on #134
Random data tool for apps if needed: https://gitlab.com/zcircuit/algorando

[2022-01-26 13:10] #104 closed, assigned to nobody

[2022-01-26 13:20] michielmulders opened #135 "Code Solutions And Tutorials for the Algorand Developer Portal [+2500 ALGO For Winners] (27 January - 10 March)"
# Overview

_This bounty runs from **January 27, 2022 to March 10, 2022**_
_The Community Vote will begin on **March 17, 2022**_

* **Short Description**:  Publish code tutorials or solutions on the Algorand Developer Portal
* **Bounty**: 550 ALGO tokens (US residents will receive USDCa and have to opt-in to receive the asset in their wallet)
* **Category**: Developer (AlgoDev)

# What is this tas

[2022-01-28 16:06] michielmulders commented on #135
@wellvsilva can you explain further what you want to write about besides dev tutorials? Thanks!

[2022-01-28 16:06] michielmulders commented on #135
@ckanyemba same for you, can you specify or provide a small outilne? Thanks! :)

[2022-01-28 16:07] michielmulders commented on #135
@cyber-bot This has been extensively covered in the documentation and tutorials. Sorry!

[2022-02-09 21:30] michielmulders opened #136 "Algorand Azure Tutorials For The Algorand Developer Portal [1000 - 1250 ALGO]"
# Overview

* **Short Description**:  Publish code tutorials on the [Algorand Developer Portal](https://developer.algorand.org/) that educate other developers on using Azure with Algorand.
* **Bounty**: 1000 - 1250 ALGO tokens (US residents will receive USDCa and have to opt-in to receive the asset in their wallet)
* **Category**: Developer (AlgoDev)

# What is this task?
**Before starting, please

[2022-02-10 10:20] michielmulders commented on #136
@khafidprayoga can you provide a more detailed outline please?

[2022-02-10 10:21] michielmulders commented on #136
@rowlanja Same for you, would like to see a more detailed outline. Thanks!

[2022-02-12 11:01] AlgoDoggo commented on #135
@michielmulders Stateless session management with the Algorand wallet. Some apps without authentication have been exploited recently by users loading addresses through local storage. A tutorial on this could be helpful. Tech stack would be NextJs, redux, a crypto lib to verify the signatures and a couple of serverless functions for the api and authentication middleware.

[2022-02-16 12:16] michielmulders commented on #135
@AlgoDoggo can you apply here: https://gitcoin.co/issue/algorandfoundation/grow-algorand/135/100027549
Happy to pick this one up!